
@{
	ViewBag.Title = "Input";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--**********************************
		Content body start
***********************************-->
<div class="content-body">
	<div class="row page-titles mx-0">
		<div class="col p-md-0">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="javascript:void(0)">Dashboard</a>
				</li>
				<li class="breadcrumb-item">
					<a href="javascript:void(0)">Home</a>
				</li>
				<li class="breadcrumb-item active">
					<a href="javascript:void(0)">Input</a>
				</li>
			</ol>
		</div>
	</div>
	<!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="d-inline" style="">Laporan Penyimpangan Baru</h4>
						<div class="form-group row">
							<div class="col">
								<br />
								<label>Register Number</label>
								<br />
								<label id="lblReq" style="font-weight:bold"></label>
								<br />
								<button id="btnGenerateNumber" class="btn mb-1 btn-success btn-sm">New Deviation</button>
							</div>
						</div>
						<div class="form-group row">
							<div class="col">
								<label>Tanggal</label>
								<input id="TbTglCreated" class="form-control" readonly="readonly">
							</div>
							<div class="col">
								<label>Nomor Deviation</label>
								<input id="TbNmrDev" type="text" class="form-control" readonly="readonly">
							</div>
							<div class="col">
								<label>Pelapor</label>
								<input id="TbPesul" type="text" class="form-control" readonly="readonly" value='@Request.RequestContext.HttpContext.Session["fullname"]'>
							</div>
							<div class="col">
								<label>Departemen</label>
								<input id="TbDeptPusul" type="text" class="form-control" readonly="readonly">
							</div>
						</div>
						<!-- Readonly End -->
					</div>
				</div>
			</div>
		</div>
		<div id="formBody" class="row">
			<div class="col-lg-12">
				<div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" onsubmit="return s();" action="#" method="post">
                                <!-- Site -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="ddlSite">Site Koordinator<span class="text-danger">*</span></label>

                                    <div class="col-sm-3">
                                        <div class="btn-group mb-2">
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlSite" name="ddlSite"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*  Penyimpangan terencana *@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Jenis Penyimpangan<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel5" data-travelNumber="1" id="terencana_yes_2" value="Yes" checked> Terencana
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel5" data-travelNumber="1" id="terencana_no_2" value="No"> Tidak Terencana
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="ddlKategori">Kategori Penyimpangan<span class="text-danger">*</span></label>
                                    <div class="col-sm-4">
                                        <div>
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlKategori" name="ddlKategori"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="col-sm-6">
                                        <textarea id="txtKetKategori" name="txtKetKategori" class="form-control" placeholder="Informasi tambahan terkait penyimpangan"></textarea>
                                    </div>
                                </div>

                                <div id="divsimpang">
                                    <div class="basic-dropdown">
                                        <div id="divreceipt" class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receipt_y" value="Yes" checked> Receipt
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receip_n" value="No"> Vendor
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group name1 col-md-3" id="divQCMaterial">
                                            <input id="TxtQCMaterialNo" name="TxtQCMaterialNo" type="text" class="form-control input-inline">
                                        </div>

                                        <div class="form-group name2 col-md-3">
                                            <input id="TxtItemCode" name="TxtItemCode" type="text" class="form-control input-inline">
                                        </div>
                                        <div class="form-group name1 col-md-3" id="divBatchNo">
                                            <input id="TxtBatchNo" name="TxtBatchNo" type="text" class="form-control input-inline" placeholder="No Batch Oracle">
                                        </div>

                                        <div class="form-group name2 col-md-3" id="divWoOracle">
                                            <input id="TxtNoWO" name="TxtNoWO" type="text" class="form-control input-inline" placeholder="No WO Oracle">
                                        </div>

                                        <div class="form-group name2 col-md-3">
                                            <button type="button" id="btnTambahProduk" class="col-sm-12 btn mb-1 btn-success form-control">Tambah Produk</button>
                                        </div>
                                        @*<br />*@

                                        @*<br />*@

                                        <br />

                                    </div>
                                    <div class="modal fade" data-backdrop="static" tabindex="-1" role="document" id="ModalLoading" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered text-center">
                                            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top : 10px; margin-left : -15px" id="divProduk">
                                        <table id="tblListProduk" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:20px">No</th>
                                                    <th id="thQCNum">QC Material/Manufacturing Number</th>
                                                    <th id="thItemCode">Item Code</th>
                                                    <th id="thNoBatch">No Batch</th>
                                                    <th id="thNoWO">No WO Oracle</th>
                                                    <th>Keterangan</th>
                                                    <th style="width:30px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblListProdukBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <br />
                                <!-- Problem (What) -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Problem (What)<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea id="txtProblem" name="txtProblem" class="form-control" placeholder="Problem (What)"></textarea>
                                    </div>
                                </div>

                                <!-- Requirement (Jika Ada) -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Requirement (Jika Ada)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtReq" name="txtReq" class="form-control" placeholder="Requirement (Jika Ada)"></textarea>
                                    </div>
                                </div>

                                @* Tanggal Kejadian *@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tanggal dan Waktu Kejadian (When)</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input id="date-format" name="date-format" type="text" class="form-control">
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-calendar-check"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                @* Lokasi *@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Lokasi (Where)<span class="text-danger">*</span></label>
                                    <div class="col-sm-4">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlSiteLokasi" name="ddlSiteLokasi" style="width: 280px;"></select>
                                            </div>
                                        </div>
                                        <br />
                                        <div id="divDeptLokasi" class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlDeptLokasi" name="ddlDeptLokasi" style="width: 280px;"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <textarea id="txtLokasi" name="txtLokasi" class="form-control" placeholder="Detail Lokasi Kejadian Penyimpangan"></textarea>
                                    </div>

                                </div>


                                @* Siapa Saja *@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Siapa saja yang terlibat (Who) <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input id="txtWho" class="form-control" placeholder="Siapa saja yang terlibat (Who)">
                                            <span id="spanUser" class="input-group-append" title="Tambah orang terlibat">
                                                <span class="input-group-text btn-success">
                                                    <i class="fa fa-user-plus"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-sm-12" style="margin-top : 10px; margin-left : -15px">
                                            <table id="tblWho" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">No</th>
                                                        <th>Nama</th>
                                                        <th style="width:30px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBodyWho">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @*Bagaimana Urutan Kejadian*@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Bagaimana Urutan Kejadian (How)<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea id="txtHow" name="txtHow" class="form-control" placeholder="Bagaimana Urutan Kejadian (How)"></textarea>
                                    </div>
                                </div>


                                @*Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?*@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel4" data-travelNumber="1" id="pernah_yes_1" value="Yes"> Ya

                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel4" type="radio" data-travelNumber="1" id="pernah_no_1" value="No" checked> Tidak

                                                </label>
                                            </div>
                                        </div>
                                        <textarea name="txt30hari" id="txt30hari" class="form-control" placeholder="Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?" disabled></textarea>
                                    </div>
                                </div>

                                @*Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?*@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel1" data-travelNumber="1" id="sama_yes_1" value="Yes"> Ya
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel1" type="radio" data-travelNumber="1" id="sama_no_1" value="No" checked> Tidak
                                                </label>
                                            </div>
                                        </div>
                                        <textarea name="txtsama" id="txtsama" class="form-control" placeholder="Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?" disabled></textarea>
                                    </div>
                                </div>

                                @*Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?*@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="travel2" data-travelNumber="1" id="rilis_yes_2" value="Yes"> Ya
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input name="travel2" type="radio" data-travelNumber="1" id="rilis_no_2" value="No" checked> Tidak
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <textarea id="txtrilis" name="txtrilis" class="form-control" placeholder="Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?" disabled></textarea>
                                    </div>
                                </div>

                                @*Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?*@

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel3" data-travelNumber="1" id="lain_yes_3" value="Yes"> Ya
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel3" type="radio" data-travelNumber="1" id="lain_no_3" value="No" checked> Tidak
                                                </label>
                                            </div>
                                        </div>
                                        <textarea id="txtlain" name="txtlain" class="form-control" placeholder="Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?" disabled></textarea>
                                    </div>
                                </div>

                                @*Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi*@

                                <div class="form-group row">
                                    <div class="col-sm-2 col-form-label">
                                        <label>
                                            Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea style="height:150px" id="txtTindakan" name="txtTindakan" disabled class="form-control" placeholder="Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi"></textarea>

                                    </div>
                                </div>
                            </form>

                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">

                                </div>
                                <div class="col-sm-10">

                                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="file" style="margin-left:-15px" name="NamaFileUpload" class="col-sm-6" id="idFileUpload" />
                                        <br />
                                        <br />
                                        <button type="button" id="btnUpload" class="col-sm-2 btn mb-1 btn-success form-control">Upload</button>
                                    }


                                    @*<button type="button" class="col-sm-2 btn mb-1 btn-success form-control">Upload</button>*@
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>

                                <div class="col-sm-10">
                                    <div class="table-responsive">
                                        <table id="tbl_Attachment" class="table header-border">
                                            <thead>
                                                <tr>
                                                    <th><b>No</b></th>
                                                    <th><b>File Name</b></th>
                                                    <th><b>Action</b></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_Attachment"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <form class="form-valide2" onsubmit="return s();" action="#" method="post">

                            @*Usulan Tindakan Remedial*@
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    <label>Usulan Tindakan Remedial<span class="text-danger">*</span></label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea style="height:150px" id="txtUsulanRemidial" name="txtUsulanRemidial" class="form-control" placeholder="Usulan Tindakan Remedial"></textarea>
                                </div>
                            </div>

                            <br />
                            <h4>Penilaian Potensi Dampak dari Penyimpangan/ Potensi Penyimpangan</h4>

                            <div class="form-group row">
                                <div class="col">
                                    <label for="ddlKualProd">Kualitas Produk</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlKualProd" name="ddlKualProd" title="Kualitas Produk"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="ddlRiskFin">Risiko Finansial</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlRiskFin" name="ddlRiskFin" title="Risiko Finansial"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddlKesehatanPer">Risiko Kesehatan Personil</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlKesehatanPer" name="ddlKesehatanPer" title="Risiko Kesehatan Personil"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                @*Baris 2*@

                                <div class="col">
                                    <label for="ddlCompliance">Compliance</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlCompliance" name="ddlCompliance" title="Compliance"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddlRiskOrg">Risiko Organisasi</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlRiskOrg" name="ddlRiskOrg" title="Risiko Organisasi"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddlResLingk">Resiko Lingkungan</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlResLingk" name="ddlResLingk" title="Risiko Lingkungan"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                @*Baris 3*@

                                <div class="col">
                                    <label for="ddlRiskOpr">Risiko Operasional</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlRiskOpr" name="ddlRiskOpr" title="Risiko Operasional"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddlKeamamananP">Risiko Keamanan Personil</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlKeamamananP" name="ddlKeamamananP" title="Risiko Keamanan Personil"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddlRiskIntelek">Risiko Intelektual</label>
                                    <br />
                                    <div class="btn-group mb-2">
                                        <div class="basic-dropdown">
                                            <div class="dropdown">
                                                <select id="ddlRiskIntelek" name="ddlRiskIntelek" title="Risiko Intelektual"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="txtKeparahan">Tingkat Keparahan Penyimpangan</label>
                                        <br />
                                        <div class="btn-group mb-2">
                                            <input id="txtKeparahan" name="txtKeparahan" type="text" class="form-control" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <button id="btnSaveForm" class="btn mb-1 btn-success">
                                        Submit Penyimpangan
                                        <span class="btn-icon-right">
                                            <i class="fa fa-paper-plane"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--**********************************
	Content body end
***********************************-->
<script>
	//var $ = jQuery.noConflict();
	//window.addEventListener('beforeunload', function (e) {

	//	e.preventDefault();
	//    e.returnValue = '';


	//});
	var CheckDelete = 0;
	var listProduk = [];

	$(document).ready(function () {
		$(window).bind('beforeunload', function () {
			if (CheckDelete = 0) {
				ClearWeb();
			}

			return '';
		});

		GenerateDepartment();


		// Generate Req ID
		$(document).ready(function () {
			$('#tblWho').attr('hidden', true);

			$.when($.ajax(GenerateDate())).then(function () {
				GetFileAttachment();
				LoadUserInvolved();
			});

		});

		// Load
		$(document).ready(function () {
			GetSiteName();
			GetKategoriDeviation();


			SetupRbDtPicker();

			GetSiteLokasiKejadian();
		});

		// Load Drop down poin keparahan
		$(document).ready(function () {
			GetKualitasProduk();
			GetCompliance();
			GetResikoOperasional();

			GetResikoFinansial();
			GetResikoOrganisasi();
			GetResikoKeamPersonil();

			GetResikoKesehatanPersonil();
			GetResikokLingkungan();
            GetResikoIntelektual();
            $("#ddlKualProd").val(0);
            $("#ddlRiskFin").val(0);
            $("#ddlKesehatanPer").val(0);
            $("#ddlCompliance").val(0);
            $("#ddlRiskOrg").val(0);
            $("#ddlResLingk").val(0);
            $("#ddlRiskOpr").val(0);
            $("#ddlKeamamananP").val(0);
            $("#ddlRiskIntelek").val(0);
		});

	});

	// Button click
	$(document).ready(function () {
		$('#lblReq').text('-');

		$('#spanUser').click(function () {
			InsertNamaTerlibat();
		});

		$("#btnTambahProduk").click(function () {
            var dev_kategori = $("#ddlKategori").val();
            var item_code = $('#TxtItemCode').val().trim();
            var no_wo = $('#TxtNoWO').val().trim();
            var no_batch = $('#TxtBatchNo').val().trim();
            var no_qc = $('#TxtQCMaterialNo').val().trim();
			var ket_kategori = $("#txtKetKategori").val().trim();

			if (dev_kategori == 'QPR') {
				if (item_code == '' || no_wo == '' || no_batch == '' || ket_kategori == '') {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Keterangan produk belum lengkap!',
						showConfirmButton: false,
						timer: 1000
					});
					return;
				}
			}
			else if (dev_kategori == 'QMT') {
				if (item_code == '' || no_qc == '' || ket_kategori == '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Keterangan material belum lengkap!',
                        showConfirmButton: false,
                        timer: 1000
                    });
                    return;
                }
			}
			TambahProdukList(dev_kategori, item_code, no_wo, no_batch, no_qc, ket_kategori);
        });

		$("#btnUpload").click(function () {

			UploadAttachmentDeviation();
		});

		$('#btnSaveForm').click(function () {

			var DEPARTEMENT = $("#TbDeptPusul").val();
			var PROBLEM = $("#txtProblem").val();
			var DATE_OF_INCIDENT = $("#date-format").val();
			var LOCATION_SITE = $("#ddlSite").val();


			var DEVIATION_CATEGORY = $("#ddlKategori").val();
			var NO_WO_ORACLE = $('#TxtNoWO').val();
            var Item_Code_Oracle = $('#TxtItemCode').val();
            var No_Batch_Oracle = $('#TxtBatchNo').val();

			var KET_CATEGORY = $("#txtKetKategori").val();
			var CR_DATE_USER = $("#TbTglCreated").val();

			var LOCATION = $("#txtLokasi").val();
			var LocationSiteIncident = $('#ddlSiteLokasi').val();
			var LocationDeptIncident = $("#ddlDeptLokasi").val();

			var USER_INVOLVED = $("#txtWho").val();
			var ORDER_OF_EVENTS = $("#txtHow").val();

			var PLAN_DEV_FLAG = $('input[name="travel5"]:checked').val();

            var JENIS_PENYIMPANGAN = $('input[name="travel5"]:checked').val();

			var SAME_POTEN_DEV_FLAG = $('input[name="travel1"]:checked').val();
			var SAME_POTEN_DEV = $("#txtsama").val();
			var POTEN_DEV_RLS_FLG = $('input[name="travel2"]:checked').val();
			var POTEN_DEV_RLS = $("#txtrilis").val();
			var POTEN_DEV_OTH_FLG = $('input[name="travel3"]:checked').val();
			var POTEN_DEV_OTH = $("#txtlain").val();
			var ACTION_WHEN_DEV = $("#txtTindakan").val();
			var FILE_UPLOAD_ID = $("#txtUpload").val();

			var UsulanRemidial = $('#txtUsulanRemidial').val();
			var QUALITY_PRODUCT = $("#ddlKualProd").val();
			var COMPLIANCE = $("#ddlCompliance").val();
			var RISK_OPERATION = $("#ddlRiskOpr").val();
			var RISK_FINANCIAL = $("#ddlRiskFin").val();
			var RISK_ORGANIZATION = $("#ddlRiskOrg").val();
			var RISK_SECURITY = $("#ddlKeamamananP").val();
			var RISK_HEALTY = $("#ddlKesehatanPer").val();
			var RISK_ENVIRONTMENT = $("#ddlResLingk").val();
			var RISK_INTELLECTUAL = $("#ddlRiskIntelek").val();
			var SEVERTY_DEVIATION = $("#txtKeparahan").val();
			var REQID = $("#lblReq").text();

			var REQ = $("#txtReq").val();

			var THIRTY_FLAG = $('input[name="travel4"]:checked').val();
			var THIRTY = $("#txt30hari").val();

			if (!$(".form-valide").valid() || !$(".form-valide2").valid()) {
				/* Checking Input not null */
                Swal.fire({
					icon: 'error',
					title: 'Oops...',
                    text: 'Data yang diisikan kurang lengkap!',
				});
				if (DEPARTEMENT == ' ' || DEPARTEMENT == null ||
					PROBLEM == ' ' || PROBLEM == null ||
					DATE_OF_INCIDENT == ' ' || DATE_OF_INCIDENT == null ||
					LOCATION_SITE == ' ' || LOCATION_SITE == null ||
					DEVIATION_CATEGORY == ' ' || DEVIATION_CATEGORY == null ||
					CR_DATE_USER == ' ' || CR_DATE_USER == null ||
					LOCATION == ' ' || LOCATION == null ||
                    LocationSiteIncident == ' ' || LocationDeptIncident == null ||

					ORDER_OF_EVENTS == ' ' || ORDER_OF_EVENTS == null ||
					ACTION_WHEN_DEV == ' ' || ACTION_WHEN_DEV == null ||
					UsulanRemidial == ' ' || UsulanRemidial == null ||
					QUALITY_PRODUCT == ' ' || QUALITY_PRODUCT == null ||
					COMPLIANCE == ' ' || COMPLIANCE == null ||
					RISK_OPERATION == ' ' || RISK_OPERATION == null ||
					RISK_FINANCIAL == ' ' || RISK_FINANCIAL == null ||
					RISK_ORGANIZATION == ' ' || RISK_ORGANIZATION == null ||
					RISK_SECURITY == ' ' || RISK_SECURITY == null ||
					RISK_HEALTY == ' ' || RISK_HEALTY == null ||
					RISK_ENVIRONTMENT == ' ' || RISK_ENVIRONTMENT == null ||
					RISK_INTELLECTUAL == ' ' || RISK_INTELLECTUAL == null) {
					//im here bro
                    if (JENIS_PENYIMPANGAN == 'Yes' && DEVIATION_CATEGORY == 'QPR') {

						if (Item_Code_Oracle.trim() == '' || No_Batch_Oracle.trim() == '' || NO_WO_ORACLE.trim() == '' || KET_CATEGORY.trim()=='') {
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'Keterangan produk belum lengkap!',
                                showConfirmButton: false,
                                timer: 2000
							});
						}
					}
					else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
							text: 'Data yang diisikan kurang lengkap!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
				}
				return;
			}

            @*InsertMultipleProduk();*@
			InsertDeviation();
		});

		// Set Form Input Hidden
		$('#formBody').attr('hidden', true);
		// tombol generate nomer Req ID
		$('#btnGenerateNumber').click(function () {
			GenerateReqID();
			$('#formBody').attr('hidden', false);
			$('#btnGenerateNumber').attr('hidden', true);
		});

		//code here
		$('#tblListProduk tbody').on('click', '.deleteProduk', function () {
			@*var data = $('#tblListProduk').DataTable().row(this).data();*@
            var data = $('#tblListProduk').DataTable().row($(this).parents('tr')).data();
			var dev_kategori = $("#ddlKategori").val();
			var filteredArray = listProduk;

            if (dev_kategori == 'QMT') {
                var noQC = data['NoQCMaterial'];
                filteredArray = listProduk.filter(value => value.NoQCMaterial != noQC);
			}
            else if (dev_kategori == 'QPR') {
                var noWOOracle = data['NoWOOracle'];
                filteredArray = listProduk.filter(value => value.NoWOOracle != noWOOracle);
			}

			listProduk = filteredArray;
            SetTableProduk(dev_kategori);
            //the job
        });
	});

	// Drop Down List Click
	$(document).ready(function () {
		$("#divsimpang").hide();

		$('#divproduk').hide();
        $('#divreceipt').hide();



		$("#ddlKategori").change(function () {
            $('#divreceipt').hide();

            $("#TxtNoWO").attr("hidden", true);
			$("#TxtItemCode").attr("hidden", true);
			$('#TxtBatchNo').attr('hidden', true);
			$('#TxtQCMaterialNo').attr('hidden', true);

            $("#TxtNoWO").attr("disabled", true);
			$('#txtKetKategori').attr('disabled', false);

			$('#TxtBatchNo').val('');
			$("#TxtNoWO").val('');
			$('#TxtItemCode').val('');
			$('#txtKetKategori').val('');
			$('#TxtQCMaterialNo').val('');

			listProduk = [];

            var kategoriDev = $(this).val();
            SetTableProduk(kategoriDev);

            var jenisPenyimpangan = $('input[name="travel5"]:checked').val();

			// Kualitas Produk
            if (kategoriDev == 'QPR') {
				if ($('#ddlSite').val() == ' ' || $('#ddlSite').val() == null) {
					swal("Oops.. !", "Mohon pilih Site Koordinator", "error");

					var id = $(this).find('option:selected').val();
					if (id != null) {
						$(this).val('0');
					}

					return;
				} else {
                    $("#divsimpang").show();
                    $("#divProduk").show();
                    $("#divMaterial").hide();
					$("#divQCMaterial").hide();
                    $("#divBatchNo").show();
					$("#divWoOracle").show();

                    $("#TxtNoWO").attr("hidden", false);
                    $('#TxtBatchNo').attr('hidden', false);
					$('#txtKetKategori').attr('disabled', true);

					@*menentukan field input yg dienable sesuai jenis penyimpangan*@
					ToggleShowKualitasProdukFields(jenisPenyimpangan);
				}
			}
			else {
				// Kualitas Materi Awal
                if (kategoriDev == 'QMT') {
					if ($('#ddlSite').val() == ' ' || $('#ddlSite').val() == null) {
						swal("Oops.. !", "Mohon pilih Site Koordinator", "error");

						var id = $(this).find('option:selected').val();
						if (id != null) {
							$(this).val('0');
						}

						return;
					} else {
						$("#divsimpang").show();
                        $('#divreceipt').show();
                        $("#divProduk").show();
                        $("#divMaterial").show();
                        $("#divQCMaterial").show();
                        $("#divBatchNo").hide();
                        $("#divWoOracle").hide();

                        $('#TxtQCMaterialNo').attr("hidden", false);
                        $("#TxtItemCode").attr("hidden", false);
                        $('#TxtQCMaterialNo').attr("hidden", false);

						$('#txtKetKategori').attr('disabled', true);
						$("#TxtItemCode").attr("disable", true);

						$("#TxtItemCode").attr('placeholder', 'Item Code Oracle');
						$("#TxtQCMaterialNo").attr('placeholder', 'QC Material Number');

                        ToggleShowKualitasProdukFields(jenisPenyimpangan);
					}

				}
				else {
                    $("#divsimpang").hide();
                    $("#divProduk").hide();
                    $("#divMaterial").hide();
					$("#TxtNoWO").attr("disabled", true);
					$('#txtKetKategori').val('');
				}
			}

		});

		$('input[type=radio][name=r_receipt]').change(function () {
			listProduk = [];
			$('#TxtItemCode').val('');
            $('#txtKetKategori').val('');
			$('#TxtQCMaterialNo').val('');

            //Y -> Receipt; N-> Vendor
            if ($('input[name="r_receipt"]:checked').val() == 'Yes') {
                $("#TxtQCMaterialNo").attr('placeholder', 'QC Material Number');
                GetQCMaterialNoOracle();
			}
			else
			{
                $("#TxtQCMaterialNo").attr('placeholder', 'Manufacturing Number');
                GetQCMaterialNoOracle();
            }
        });

		$('#divDeptLokasi').attr('hidden', true);

		$("#ddlDeptLokasi").attr("disabled", true);

		$("#ddlSiteLokasi").change(function () {
			$('#divDeptLokasi').attr('hidden', false);
			$('#ddlDeptLokasi').attr('disabled', false);
			GetDepartementLokasiKejadian();
		});


		$('#ddlKualProd').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt(this.value)
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlRiskFin').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt(this.value)
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlKesehatanPer').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt(this.value)
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlCompliance').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt(this.value)
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlRiskOrg').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt(this.value)
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlResLingk').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt(this.value)
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlRiskOpr').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt(this.value)
					, parseInt($('#ddlKeamamananP').val())
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlKeamamananP').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt(this.value)
					, parseInt($('#ddlRiskIntelek').val())
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});

		$('#ddlRiskIntelek').change(function () {
			var nilai = [];

			if ($('#ddlKualProd').val() != '' &&
				$('#ddlRiskFin').val() != '' &&
				$('#ddlKesehatanPer').val() != '' &&

				$('#ddlCompliance').val() != '' &&
				$('#ddlRiskOrg').val() != '' &&
				$('#ddlResLingk').val() != '' &&

				$('#ddlRiskOpr').val() != '' &&
				$('#ddlKeamamananP').val() != '' &&
				$('#ddlRiskIntelek').val() != '') {
				nilai.push(parseInt($('#ddlKualProd').val())
					, parseInt($('#ddlRiskFin').val())
					, parseInt($('#ddlKesehatanPer').val())
					, parseInt($('#ddlCompliance').val())
					, parseInt($('#ddlRiskOrg').val())
					, parseInt($('#ddlResLingk').val())
					, parseInt($('#ddlRiskOpr').val())
					, parseInt($('#ddlKeamamananP').val())
					, parseInt(this.value)
				);
				nilai.sort((a, b) => b - a); /*sorting Array Desc*/
				$('#txtKeparahan').val(nilai[0]);
			}
		});


	});

    function ToggleShowKualitasProdukFields(jenisPenyimpangan) {
        $('#txtKetKategori').attr('disabled', true);
		$("#TxtNoWO").attr("disabled", true);

        $("#txtKetKategori").val('');
        $("#TxtItemCode").val('');
		$("#TxtBatchNo").val('');
		$("#TxtNoWO").val('');
		$('#TxtQCMaterialNo').val('');
		$("#TxtItemCode").val('');

		if ($("#ddlKategori").val() == 'QPR') {
			if (jenisPenyimpangan == 'Yes') {
				$("#TxtItemCode").attr("hidden", false);
				$("#TxtItemCode").attr("disabled", false);
				$("#TxtItemCode").attr('placeholder', 'Item Code Oracle');
                $('#txtKetKategori').attr('disabled', false);

				GetItemKualitasProduk();

				$("#TxtNoWO").attr("disabled", false);
			}
			else {
				$("#TxtItemCode").attr("hidden", false);
				$("#TxtItemCode").attr("disabled", true);
				$("#TxtItemCode").attr('placeholder', 'Item Code Oracle');
				$("#txtTindakan").attr("disabled", false);

				GetNoBatchOracle();
				$("#TxtNoWO").attr("disabled", true);
			}
		} else
			if ($("#ddlKategori").val() == 'QMT') {
				if (jenisPenyimpangan == 'Yes') {
					$("#divsimpang").show();
					$('#divreceipt').show();


					$('#TxtQCMaterialNo').attr("hidden", false);
					$('#TxtQCMaterialNo').val('');
					$("#TxtItemCode").attr("hidden", false);
					$("#TxtItemCode").attr("disabled", false);

					$('#txtKetKategori').attr('disabled', false);
					$("#TxtItemCode").attr('placeholder', 'Item Code Oracle');
					$("#TxtQCMaterialNo").attr('placeholder', 'QC Material Number');
				}
				else {

					GetQCMaterialNoOracle();
					$("#txtTindakan").attr("disabled", false);

					$('#TxtQCMaterialNo').attr("hidden", false);
					$("#TxtItemCode").attr("hidden", false);

                    $("#TxtItemCode").attr("disabled", true);
					$('#txtKetKategori').attr('disabled', true);

					$("#TxtItemCode").attr('placeholder', 'Item Code Oracle');
					$("#TxtQCMaterialNo").attr('placeholder', 'QC Material Number');
				}
			}
			else {
				$('#txtKetKategori').attr('disabled', false);
				if (jenisPenyimpangan == 'Yes') {
					$("#txtTindakan").attr("disabled", true);
				}
				else {
                    $("#txtTindakan").attr("disabled", false);
				}
			}
    }

	$('input[type=radio][name=travel5]').change(function () {
		listProduk = [];
        var jenisPenyimpangan = this.value;
		ToggleShowKualitasProdukFields(jenisPenyimpangan);

    });

	function GetSiteLokasiKejadian() {
		$.ajax({
			url: "../Form/GetSiteLokasiKejadian",
			type: "post",
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				var trhtml = "";
				var trav = 0;
				var count = data.length;

				trhtml += '<option disabled selected class="dropdown-header">Site Lokasi Kejadian</option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
						trhtml += '<option class="dropdown-item" value = "' + data[trav].ddl_code + '" > ' + data[trav].ddl_description;
					}
				}
				$("#ddlSiteLokasi").empty();
				$("#ddlSiteLokasi").append(trhtml);
				$("#ddlSiteLokasi").select2();
			}
			, error: function (ex) {
                GetErrorInput("GetSiteLokasiKejadianInput", JSON.stringify(ex));
			}
		});
	}

	function GetDepartementLokasiKejadian() {
		var LocationSiteIncident = $("#ddlSiteLokasi").val();

		var dto = {
			LocationSiteIncident: LocationSiteIncident
		}

		$.ajax({
			url: "../Form/GetDeptLokasiKejadian",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				var trhtml = "";
				var trav = 0;
				var count = data.length;

				trhtml += '<option disabled class="dropdown-header">Department Lokasi Kejadian</option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<option class="dropdown-item" value = "' + data[trav].SubDeptCode + '" > ' + data[trav].SubDept;
					}

				}
				$("#ddlDeptLokasi").empty();
				$("#ddlDeptLokasi").append(trhtml);
				$("#ddlDeptLokasi").select2();

			}
			, error: function (ex) {
                GetErrorInput("GetDeptLokasiKejadianInput", JSON.stringify(ex));
			}
		});
	}


	function ClearWeb() {

		var reqid = $("#lblReq").text();

		var dto = {
			ReqID: reqid
		};
		$.ajax({
			url: "../Form/DeleteFromDB",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                GetErrorInput("DeleteFromDBInput", JSON.stringify(ex));
			}
		});

		DeleteFile();
		DeletePath();
	}

	function DeleteFile() {

		var reqid = $("#lblReq").text();

		var dto = {
			ReqID: reqid
		};

		$.ajax({
			url: "../Form/DeleteFile",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                GetErrorInput("DeleteFileInput", JSON.stringify(ex));
			}
		});
	}

	function DeletePath() {

		var reqid = $("#lblReq").text();

		var dto = {
			ReqID: reqid
		};

		$.ajax({
			url: "../Form/DeletePath",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

			}
			, error: function (ex) {
                GetErrorInput("DeletePathInput", JSON.stringify(ex));
			}
		});
	}

	// Load Dropdownlist
	function GetSiteName() {
		$.ajax({
			url: "../Form/GetSiteName",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
				trhtml += '<option disabled selected hidden class="dropdown-header"  value = " ">   Site Koordinator   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
						trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '" > ' + data[trav].ddl_description;
					}
				}
				$("#ddlSite").empty();
				$("#ddlSite").append(trhtml);
				$("#ddlSite").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetSiteNameInput", JSON.stringify(ex));
			}
		});
	}

	function GetKategoriDeviation() {
		$.ajax({
			url: "../Form/GetKategoriDeviation",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
				trhtml += '<option value = 0 disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
						trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '" > ' + data[trav].ddl_description;
					}
				}
				$("#ddlKategori").empty();
				$("#ddlKategori").append(trhtml);
				$("#ddlKategori").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetKategoriDeviationInput", JSON.stringify(ex));
			}
		});
	}

	function GetNoBatchOracle() {

		var LocationSite = LOCATION_SITE = $("#ddlSite").val();
		var dto = {
			LocationSite: LocationSite
		}
		$.ajax({
			url: "../Form/GetNoBatchOracle",
			type: "post",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
				var arr = new Array();
                var arr1 = new Array();
				var jsonObj = [];

				for (trav = 0; trav < count; trav++) {
					arr[trav] = data[trav].NO_BATCH;
					arr1[trav] = data[trav].NO_BATCH + '-' + data[trav].WO_NUMBER;
					var item = {}
					item["label"] = arr1[trav];
					item["value"] = arr[trav];
					jsonObj.push(item);
				}

				$("#TxtBatchNo").autocomplete({
					source: function (request, response) {
						var results = $.ui.autocomplete.filter(jsonObj, request.term);
						response(results.slice(0, 10));

                        $.map(results, function (el) {
                            return {
                                label: el.label,
                                value: el.value
                            };
                        });
                    },

					select: function (e, ui) {
                        $("#TxtNoWO").val('');
                        $('#TxtItemCode').val('');
                        $('#txtKetKategori').val('');
                        $('#TxtQCMaterialNo').val('');

						for (var i = 0; i < count; i++) {
							if (data[i].NO_BATCH + '-' + data[i].WO_NUMBER == ui.item.label) {
                                $("#TxtNoWO").val(data[i].WO_NUMBER);
                                $('#TxtItemCode').val(data[i].ITEM_CODE);
                                $('#txtKetKategori').val(data[i].ITEM_DESCRIPTION);
                                break;
                            } else {
                                $("#TxtNoWO").val("");
                                $('#TxtItemCode').val("");
                            }
                        }
					}
				});
			},
			error: function (ex) {
                GetErrorInput("GetNoBatchOracleInput", JSON.stringify(ex));
			}
		});
	}

    function GetQCMaterialNoOracle() {

		var LocationSite = $("#ddlSite").val();
		var DEVIATION_CATEGORY = $("#ddlKategori").val();
        var FlagReceipt = $('input[name="r_receipt"]:checked').val();

		var dto = {
			LocationSite: LocationSite,
			DeviationCategory: DEVIATION_CATEGORY,
            FlagReceipt: FlagReceipt
		}

        $('#ModalLoading').modal('show');
        setTimeout(function () {
            $('#ModalLoading').modal('hide');
        }, 500);

		$.ajax({
            url: "../Form/GetQCMaterialNoOracle",
			type: "post",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				var count = data.length;
				if (count > 0) {

					var trhtml = '';
                    var trav = 0;
                    var arr = new Array();
                    var jsonObj = [];

                    for (trav = 0; trav < count; trav++) {
                        arr[trav] = data[trav].QC_MATERIAL;
                        var item = {}
                        item["label"] = arr[trav];
                        item["value"] = arr[trav];
						jsonObj.push(item);
                    }

                    $("#TxtQCMaterialNo").autocomplete({
                        source: function (request, response) {
                            var results = $.ui.autocomplete.filter(jsonObj, request.term);
							response(results.slice(0, 20));

                            $.map(results, function (el) {
                                return {
                                    label: el.label,
                                    value: el.value
                                };
							});

						},

						select: function (e, ui) {

                            $('#TxtBatchNo').val('');
                            $("#TxtNoWO").val('');
                            $('#TxtItemCode').val('');
                            $('#txtKetKategori').val('');

                            for (var i = 0; i < count; i++) {
                                if (data[i].QC_MATERIAL == ui.item.value) {
                                    $("#TxtItemCode").val(data[i].ITEM_CODE);
                                    $("#txtKetKategori").val(data[i].ITEM_DESC);
                                    break;
                                } else {
                                    $("#txtKetKategori").val("");
                                }
                            }
                        }
                    });

					//$("#TxtQCMaterialNo").change(function () {

     //                   $('#TxtBatchNo').val('');
     //                   $("#TxtNoWO").val('');
     //                   $('#TxtItemCode').val('');
     //                   $('#txtKetKategori').val('');

					//	var QCMaterialNo = $("#TxtQCMaterialNo").val();
     //                   for (var i = 0; i < count; i++) {
     //                       if (data[i].QC_MATERIAL == QCMaterialNo) {
     //                           $("#TxtItemCode").val(data[i].ITEM_CODE);
     //                           $("#txtKetKategori").val(data[i].ITEM_DESC);
     //                           break;
     //                       } else {
     //                           $("#txtKetKategori").val("");
     //                       }
     //                   }
					//});
				}

			},
			error: function (ex) {
                GetErrorInput("GetQCMaterialNoOracleInput", JSON.stringify(ex));
			}
		});
    }

    function GetItemKualitasProduk() {
        var LocationSite = $("#ddlSite").val();
        @*var ItemCode = $("#TxtItemCode").val();*@

        var dto = {
            LocationSite: LocationSite
		}

        $('#ModalLoading').modal('show');
        setTimeout(function () {
            $('#ModalLoading').modal('hide');
        }, 500);

        $.ajax({
            url: "../Form/GetItemKualitasProduk",
            type: "post",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
			success: function (data) {
                var count = data.length;
                if (count > 0) {

                    var trhtml = '';
                    var trav = 0;
                    var arrLabel = new Array();
                    var arrValue = new Array();
                    var jsonObj = [];

					for (trav = 0; trav < count; trav++) {
						arrLabel[trav] = data[trav].ITEM_CODE;
                        //arrValue[trav] = data[trav].ITEM_CODE;
                        var item = {}
                        item["label"] = arrLabel[trav];
                        item["value"] = arrLabel[trav];
                        jsonObj.push(item);
					}

                    $("#TxtItemCode").autocomplete({
                        source: function (request, response) {
                            var results = $.ui.autocomplete.filter(jsonObj, request.term);
                            response(results.slice(0, 20));

                            $.map(results, function (el) {
                                return {
									label: el.label,
									value: el.value
                                };
                            });

                        },

                        select: function (e, ui) {
                            $('#txtKetKategori').val('');

							for (var i = 0; i < count; i++) {
                                if (data[i].ITEM_CODE == ui.item.label) {
                                     //$("#TxtItemCode").val(data[i].ITEM_CODE);

                                    $("#txtKetKategori").val(data[i].ITEM_DESCRIPTION);
                                    break;
                                } else {
                                     $("#txtKetKategori").val("");
                                }
                            }
                        }
                    });
                }

            },
            error: function (ex) {
                GetErrorInput("GetItemKualitasProdukInput", JSON.stringify(ex));
            }
        });
    }


	// Set Picker disable text
	function SetupRbDtPicker() {

		//$("input[name='travel1'][value='No']").prop('checked', true);
		//$("input[name='travel2'][value='No']").prop('checked', true);
		//$("input[name='travel3'][value='No']").prop('checked', true);
		//$("input[name='travel4'][value='No']").prop('checked', true);
		//$("input[name='travel5'][value='No']").prop('checked', true);
		//$("textarea[name = 'travelDetails']").val('');

		//$("input[type=radio]").change(function () {
		//    var id = $(this).attr("id").split("_");
		//    id = id[id.length - 1];
		//    $("#txt" + id).attr("disabled", !($(this).val() == "Yes"));
		//});
		//$("textarea[name = 'travelDetails']").attr("disabled", true);
		$('#ddlSite selectpicker').selectpicker();

		@*$('input[type=radio][name=travel5]').change(function () {
			if ($('input[name="travel5"]:checked').val() == 'Yes') {
                $("#txtTindakan").attr("disabled", true);
            } else {
                $("#TxtItemCode").val('');
                $("#txtKetKategori").val('');
                $("#txtTindakan").removeAttr("disabled");
			}

		});*@

		$('input[type=radio][name=travel1]').change(function () {
			if ($('input[name="travel1"]:checked').val() == 'Yes') {

				$("#txtsama").removeAttr("disabled");
			} else {
				$("#txtsama").attr("disabled", true);
			}

		});

		$('input[type=radio][name=travel2]').change(function () {
			if ($('input[name="travel2"]:checked').val() == 'Yes') {

				$("#txtrilis").removeAttr("disabled");
			} else {
				$("#txtrilis").attr("disabled", true);
			}

		});

		$('input[type=radio][name=travel3]').change(function () {
			if ($('input[name="travel3"]:checked').val() == 'Yes') {

				$("#txtlain").removeAttr("disabled");
			} else {
				$("#txtlain").attr("disabled", true);
			}

		});

		$('input[type=radio][name=travel4]').change(function () {
			if ($('input[name="travel4"]:checked').val() == 'Yes') {

				$("#txt30hari").removeAttr("disabled");
			} else {
				$("#txt30hari").attr("disabled", true);
			}

		});
	}


	// Dropdown list pentuan angka keparahan
	function GetKualitasProduk() {

		$.ajax({
			url: "GetKualitasProduk",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">Kategori Penyimpangan</option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlKualProd").empty();
				$("#ddlKualProd").append(trhtml);
				$("#ddlKualProd").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetKualitasProdukInput", JSON.stringify(ex));
			}
		});
	}

	function GetCompliance() {

		$.ajax({
			url: "GetCompliance",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlCompliance").empty();
				$("#ddlCompliance").append(trhtml);
				$("#ddlCompliance").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetComplianceInput", JSON.stringify(ex));
			}
		});
	}

	function GetResikoOperasional() {

		$.ajax({
			url: "GetResikoOperasional",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlRiskOpr").empty();
				$("#ddlRiskOpr").append(trhtml);
				$("#ddlRiskOpr").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoOperasionalInput", JSON.stringify(ex));
			}
		});
	}


	function GetResikoFinansial() {

		$.ajax({
			url: "GetResikoFinansial",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlRiskFin").empty();
				$("#ddlRiskFin").append(trhtml);
				$("#ddlRiskFin").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoFinansialInput", JSON.stringify(ex));
			}
		});
	}

	function GetResikoOrganisasi() {

		$.ajax({
			url: "GetResikoOrganisasi",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlRiskOrg").empty();
				$("#ddlRiskOrg").append(trhtml);
				$("#ddlRiskOrg").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoOrganisasiInput", JSON.stringify(ex));
			}
		});
	}

	function GetResikoKeamPersonil() {

		$.ajax({
			url: "GetResikoKeamPersonil",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlKeamamananP").empty();
				$("#ddlKeamamananP").append(trhtml);
				$("#ddlKeamamananP").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoKeamPersonilInput", JSON.stringify(ex));
			}
		});
	}


	function GetResikoKesehatanPersonil() {

		$.ajax({
			url: "GetResikoKesehatanPersonil",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlKesehatanPer").empty();
				$("#ddlKesehatanPer").append(trhtml);
				$("#ddlKesehatanPer").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoKesehatanPersonilInput", JSON.stringify(ex));
			}
		});
	}

	function GetResikokLingkungan() {

		$.ajax({
			url: "GetResikokLingkungan",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlResLingk").empty();
				$("#ddlResLingk").append(trhtml);
				$("#ddlResLingk").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikokLingkunganInput", JSON.stringify(ex));
			}
		});
	}

	function GetResikoIntelektual() {

		$.ajax({
			url: "GetResikoIntelektual",
			type: "post",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
                trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
                        trhtml += '<Option class="dropdown-item" value = "' + data[trav].ddl_code + '"> ' + data[trav].ddl_description;
					}
				}
				$("#ddlRiskIntelek").empty();
				$("#ddlRiskIntelek").append(trhtml);
				$("#ddlRiskIntelek").selectpicker();
			},
			error: function (ex) {
                GetErrorInput("GetResikoIntelektualInput", JSON.stringify(ex));
			}
		});
	}


	// Generate Date Jquery
	function GenerateDate() {
		// Start Show Date
		var d = new Date();
		var day = d.getDay();
		var date = d.getDate();
		date = (date < 10) ? ("0" + date) : date;
		var year = d.getFullYear();
		var month = d.getMonth();
		var xx = d.getMonth();
		var hour = d.getHours();
		hour = (hour < 10) ? ("0" + hour) : hour;
		var minuts = d.getMinutes();
		minuts = (minuts < 10) ? ("0" + minuts) : minuts;
		var monthArr = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "October", "November", "Desember"];
		var daysArr = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
		month = monthArr[month];
		day = daysArr[day];

		$('#TbTglCreated').attr("value", date + " " + month + " " + year + " " + hour + ":" + minuts);
	}

	function GenerateDepartment() {
		var ID_PROPOSER = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			IdProposer: ID_PROPOSER
		}

		$.ajax({
			type: "POST",
			url: "GenerateDepartment",
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				$("#TbDeptPusul").val(data);
			},
			error: function (ex) {
                GetErrorInput("GenerateDepartmentInput", JSON.stringify(ex));
			}
		});

	}

	// Generate ReqID
	function GenerateReqID() {
		$.ajax({
			url: "GenerateNoReqID",
			type: "POST",
			datatype: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				$('#lblReq').text(data);
			},
			error: function (ex) {
                GetErrorInput("GenerateNoReqIDInput", JSON.stringify(ex));
			}
		});
	}

    function TambahProdukList(dev_kategori, item_code, no_wo, no_batch, no_qc, ket_kategori) {

		var prod = {
            "ItemCodeOracle": item_code,
            "NoBatchOracle": no_batch,
            "NoWOOracle": no_wo,
            "NoQCMaterial": no_qc,
            "KeteranganKategori": ket_kategori,
		}
		listProduk.push(prod);
		SetTableProduk(dev_kategori);
	}

    function SetTableProduk(dev_kategori) {
        $('#tblListProduk').DataTable({
            "pageLength": 10,
            "lengthChange": false,
            "searching": false,
            "data": listProduk,
            "select": true,
            "bDestroy": true,
            "scrollCollapse": true,
            "scrollX": true,
            "paging": false,
            "info": false,
            "ordering": false,
            "columns": [
                {
                    "data": "id",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "data": "NoQCMaterial" },
                { "data": "ItemCodeOracle" },
                { "data": "NoBatchOracle" },
                { "data": "NoWOOracle" },
                { "data": "KeteranganKategori" },
                {
                    "data": null,
                    "defaultContent": '<input type="button" value="Delete" class="btn btn-danger deleteProduk" style="width:auto;"/>'
                },
            ],
            "initComplete": function (settings) {
                var api = new $.fn.dataTable.Api(settings);

                var showColumnQPR = dev_kategori == 'QPR' ? true : false;
                var showColumnQMT = dev_kategori == 'QMT' ? true : false;

                api.columns([3, 4]).visible(showColumnQPR);
                api.columns([1]).visible(showColumnQMT);
            }
        });

        if (dev_kategori == 'QPR') {
            $('#thQCNum').attr('hidden', true);
            $('#thNoBatch').attr('hidden', false);
            $('#thNoWO').attr('hidden', false);
        } else if (dev_kategori == 'QMT') {
            $('#thQCNum').attr('hidden', false);
            $('#thNoBatch').attr('hidden', true);
            $('#thNoWO').attr('hidden', true);
        }
    }

	// File Attachment Deviation
	function UploadAttachmentDeviation() {
		var formData = new FormData();
		var REQID = $("#lblReq").text();
		var totalFiles = document.getElementById("idFileUpload").files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = document.getElementById("idFileUpload").files[i];
			formData.append("idFileUpload", file);
			formData.append("ReqID", REQID);
		}

		if (file.name != null || file.name != "") {
			$.ajax({
				type: "POST",
				url: "UploadAttachment",
				data: formData,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (data) {
					formData.append("ReqID", REQID);
					if (data == 'S') {
						$('#idFileUpload').val('');
						toastr.success("File Attachment " + file.name + " Berhasil diupload", "Berhasil", {
							"closeButton": false,
							"debug": true,
							"newestOnTop": false,
							"progressBar": false,
							"positionClass": "toast-top-right",
							"preventDuplicates": false,
							"onclick": null,
							"showDuration": "100",
							"hideDuration": "1000",
							"timeOut": "1000",
							"extendedTimeOut": "1000",
							"showEasing": "swing",
							"hideEasing": "linear",
							"showMethod": "fadeIn",
							"hideMethod": "fadeOut"
						});
						GetFileAttachment(REQID);
					}
				}
				, error: function (ex) {
                    GetErrorInput("UploadAttachmentInput", JSON.stringify(ex));
				}
			});
		}
	}

	function GetFileAttachment() {

		var ReqID = $('#lblReq').text();
		var dto = {
			ReqID: ReqID
		}

		$.ajax({
			type: "POST",
			url: "LoadAttachment",
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					var trHTML = '';
					var trav = 0;
					var Count = data.length;

					if (Count > 0) {
						for (trav = 0; trav < Count; trav++) {
							var no = 1
							no = no + trav
							trHTML += '<tr><td>' + no + '</td>' +
								'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
								'<td style="display:none">' + data[trav].NO_FILE + '</td>' +
								'<td>' + data[trav].file_name_upload + '</td>' +
								'<td style="display:none;">' + data[trav].path_file + '</td>' +
								'<td><button onclick = "DeleteFileAttachment(this)"  class="btn btn-danger" title="Delete" ><span class="fa fa-trash-o"><strong></strong></span></button></td></tr>';
						}

						$("#tbl_Attachment").show();
						$("#tbody_Attachment").empty();
						$("#tbody_Attachment").append(trHTML);
						$("#tbody_Attachment").addBack();

					} else {
						$("#tbl_Attachment").hide();
					}
				} else {
					$("#tbl_Attachment").hide();
					$("#tbody_Attachment").addBack();
				}
			},
			error: function (ex) {
                GetErrorInput("LoadAttachmentInput", JSON.stringify(ex));
			}
		});
	}

	function DeleteFileAttachment(button) {
		event.preventDefault();
		var Row = $(button).closest("TR");
		var ReqID = $("TD", Row).eq(1).html();
		var RecordID = $("TD", Row).eq(2).html();
		var FileName = $("TD", Row).eq(3).html();
		var PathFile = $("TD", Row).eq(4).html();

		var dto = {
			ReqID: ReqID,
			RecordID: RecordID,
			PathFile: PathFile
		}

		$.ajax({
			url: "DeleteAttachment",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data == 'S') {
					toastr.success("File Attachment " + FileName + " Berhasil dihapus", "Berhasil", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-left",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					GetFileAttachment();
				}
			},
			error: function (ex) {
                GetErrorInput("DeleteAttachmentInput", JSON.stringify(ex));
			}
		});

	}

	// Save Deviation
	function InsertDeviation() {

		var ID_PROPOSER = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var DEPARTEMENT = $("#TbDeptPusul").val();
		var PROBLEM = $("#txtProblem").val();
		var DATE_OF_INCIDENT = $("#date-format").val();
		var LOCATION_SITE = $("#ddlSite").val();


		var DEVIATION_CATEGORY = $("#ddlKategori").val();
		var NO_WO_ORACLE = $('#TxtNoWO').val();
		var Item_Code_Oracle = $('#TxtItemCode').val();
		var No_Batch_Oracle = $('#TxtBatchNo').val();

		var KET_CATEGORY = $("#txtKetKategori").val();
		var CR_DATE_USER = $("#TbTglCreated").val();

		var LOCATION = $("#txtLokasi").val();
		var LocationSiteIncident = $('#ddlSiteLokasi').val();
		var LocationDeptIncident = $("#ddlDeptLokasi").val();

		var USER_INVOLVED = $("#txtWho").val();
		var ORDER_OF_EVENTS = $("#txtHow").val();

		var PLAN_DEV_FLAG = $('input[name="travel5"]:checked').val(); /* Terencana atau tidak terencana*/

		var SAME_POTEN_DEV_FLAG = $('input[name="travel1"]:checked').val();
		var SAME_POTEN_DEV = $("#txtsama").val();
		var POTEN_DEV_RLS_FLG = $('input[name="travel2"]:checked').val();
		var POTEN_DEV_RLS = $("#txtrilis").val();
		var POTEN_DEV_OTH_FLG = $('input[name="travel3"]:checked').val();
		var POTEN_DEV_OTH = $("#txtlain").val();
		var ACTION_WHEN_DEV = $("#txtTindakan").val();
		var FILE_UPLOAD_ID = $("#txtUpload").val();

		var UsulanRemidial = $('#txtUsulanRemidial').val();
		var QUALITY_PRODUCT = $("#ddlKualProd").val();
		var COMPLIANCE = $("#ddlCompliance").val();
		var RISK_OPERATION = $("#ddlRiskOpr").val();
		var RISK_FINANCIAL = $("#ddlRiskFin").val();
		var RISK_ORGANIZATION = $("#ddlRiskOrg").val();
		var RISK_SECURITY = $("#ddlKeamamananP").val();
		var RISK_HEALTY = $("#ddlKesehatanPer").val();
		var RISK_ENVIRONTMENT = $("#ddlResLingk").val();
		var RISK_INTELLECTUAL = $("#ddlRiskIntelek").val();
		var SEVERTY_DEVIATION = $("#txtKeparahan").val();
		var REQID = $("#lblReq").text();

		var REQ = $("#txtReq").val();

		var THIRTY_FLAG = $('input[name="travel4"]:checked').val();
		var THIRTY = $("#txt30hari").val();

		var FLAG_KOOR = $('#ddlKategori').val();

		if (FLAG_KOOR == 'QPR' || FLAG_KOOR == 'QNA' || FLAG_KOOR == 'QMT' || FLAG_KOOR == 'SJH') {
			FLAG_KOOR = 'Coordinator_QA';
		} else if (FLAG_KOOR == 'QNS' || FLAG_KOOR == 'HSE' ){
			FLAG_KOOR = 'Coordinator_QS';
		}

        var FlagReceipt = $('input[name="r_receipt"]:checked').val();
		var QCMaterialManufacturerNo = $('#TxtQCMaterialNo').val();



		var dto = {
			CrDateUser: CR_DATE_USER,
			IdProposer: ID_PROPOSER,
			Departement: DEPARTEMENT,
			Problem: PROBLEM,
			Date_of_incident: DATE_OF_INCIDENT,
			LocationSite: LOCATION_SITE,

			PLAN_DEV: PLAN_DEV_FLAG,

			DeviationCategory: DEVIATION_CATEGORY,
			NO_WO_ORACLE: NO_WO_ORACLE,
			Item_Code_Oracle: Item_Code_Oracle,
			No_Batch_Oracle: No_Batch_Oracle,

			KetCategory: KET_CATEGORY,


			Location: LOCATION,
			LocationSiteIncident: LocationSiteIncident,
			LocationDeptIncident: LocationDeptIncident,

			User_involved: USER_INVOLVED,
			OrderOfEvents: ORDER_OF_EVENTS,
			SamePotenDevFlag: SAME_POTEN_DEV_FLAG,
			SamePotennDev: SAME_POTEN_DEV,
			PotenDevRlsFlg: POTEN_DEV_RLS_FLG,
			PotenDevRls: POTEN_DEV_RLS,
			PotenDevOTHFlg: POTEN_DEV_OTH_FLG,
			PotenDevOTH: POTEN_DEV_OTH,

			ActionWhenDev: ACTION_WHEN_DEV,
			File_upload_id: FILE_UPLOAD_ID,
			QualityProduct: QUALITY_PRODUCT,
			Compliance: COMPLIANCE,
			RiskOperasional: RISK_OPERATION,
			RiskFinancial: RISK_FINANCIAL,
			RiskOrganization: RISK_ORGANIZATION,
			RiskSecurity: RISK_SECURITY,
			RiskHealty: RISK_HEALTY,
			RiskEnvirontment: RISK_ENVIRONTMENT,
			RiskIntellectual: RISK_INTELLECTUAL,
			SevertyDeviation: SEVERTY_DEVIATION,
			ReqID: REQID,

			FLAG_KOOR: FLAG_KOOR,


			THIRTY_FLAG: THIRTY_FLAG,
			THIRTY: THIRTY,
			REQ: REQ,
			UsulanRemidial: UsulanRemidial,
			FlagReceipt: FlagReceipt,
            DeviationType: FlagReceipt,
			QCMaterialManufacturerNo: QCMaterialManufacturerNo
		};

		$.ajax({
			url: "../Form/InsertFormDeviation",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				Swal.fire({
					icon: 'success',
					title: 'Form Submitted',
					showConfirmButton: false,
                    timer: 2000
                }).then(() => {
					if (DEVIATION_CATEGORY == 'QPR' || DEVIATION_CATEGORY == 'QMT') {
						InsertMultipleProduk();
                    }
					CheckDelete = 1;
					$.when(
                        SendEmail()
					).then(
						window.location.href = "../DataDeviasi/PendingTask"
					);
                });
			}
			, error: function (ex) {
                GetErrorInput("InsertFormDeviationInput", JSON.stringify(ex));
			}
		});
	}

    function InsertMultipleProduk() {
        var ReqID = $('#lblReq').text();
		var dto = {
			ReqID,
			ListProduk: listProduk
        }

        $.ajax({
            url: "InsertMultipleProduk",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
            }
            , error: function (ex) {
                GetErrorInput("InsertMultipleProduk", JSON.stringify(ex));
            }
        });
    }

	function SendEmail() {

		var REQID = $("#lblReq").text();
		var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var tabletype = "One";
		var whoreceiver = "Superior after Form Input";

		var dto = {
			Receiver: receiver,
			ReqID: REQID,
			TableType: tabletype,
			WhoReceiver: whoreceiver
		};

		$.ajax({
			type: "post",
			url: '../Form/SendEmailInputProposal',
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				toastr.success("Email Sent Successfully !", "Notification", {
					"closeButton": false,
					"debug": true,
					"newestOnTop": false,
					"progressBar": false,
					"positionClass": "toast-bottom-right",
					"preventDuplicates": false,
					"onclick": null,
					"showDuration": "200",
					"hideDuration": "1000",
					"timeOut": "1000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				});


			}, error: function (ex) {
                GetErrorInput("SendEmailInputProposalInput", JSON.stringify(ex));
			}
		});
	}



	// Save Orang terlibat
	function InsertNamaTerlibat() {
		var UserInvolved = $('#txtWho').val();
		var REQID = $("#lblReq").text();

		var dto = {
			REQID: REQID,
			UserInvolved: UserInvolved
		}

		$.ajax({
			url: "UserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data == 'S') {
					$('#txtWho').val('');
					toastr.success("Data berhasil tersimpan !", "Tersimpan", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					LoadUserInvolved();
				}
			}
			, error: function (ex) {
                GetErrorInput("UserInvolvedInput", JSON.stringify(ex));
			}
		});
	}

	function LoadUserInvolved() {

		var REQID = $("#lblReq").text();

		var dto = {
			REQID: REQID
		}

		$.ajax({
			url: "LoadUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					$('#tblWho').attr('hidden', false);

					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {
						trHTML += '<tr><td>' + data[trav].NO + '</td>' +
							'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
							'<td style="display:none">' + data[trav].RecordID + '</td>' +
							'<td>' + data[trav].USER_NAME + '</td>' +
							'<td><button onclick="DeleteUserInvolved(this)" class="btn btn-danger"><span class="fa fa-trash-o"><strong></strong></span></button ></td ></tr > ';
					}

					$("#tblBodyWho").empty();
					$("#tblBodyWho").append(trHTML);
					$("#tblBodyWho").addBack();
				}
				else {
					$('#tblWho').attr('hidden', true);
					$("#tblBodyWho").addBack();
				}

			}
			, error: function (ex) {
                GetErrorInput("LoadUserInvolvedInput", JSON.stringify(ex));
			}
		});
	}

	function DeleteUserInvolved(button) {
		event.preventDefault();
		var row = $(button).closest("TR");
		var ReqID = $("TD", row).eq(1).html();
		var RecordID = $("TD", row).eq(2).html();

		var dto = {
			REQID: ReqID,
			RecordID: RecordID
		}

		$.ajax({
			url: "DeleteUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				if (data == 'S') {
					toastr.success("Data berhasil terhapus !", "Terhapus", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					LoadUserInvolved();
				}
			}
			, error: function (ex) {
                GetErrorInput("DeleteUserInvolvedInput", JSON.stringify(ex));
			}
		});
	}

	function s() {
		return false;
	}

	function GetErrorInput(ErrorType, ErrorMsg) {
        var REQID = $('#lblReq').text();
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}
</script>
