<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DEVIATION</title>
    <!-- Favicon icon -->

    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Styles/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/Content/Styles/css/style.css" rel="stylesheet" />
    <link href="~/Content/Scripts/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- CSS Date Picker -->
    <!-- Custom Stylesheet -->
    <link href="~/Content/Scripts/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/Content/Scripts/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/Content/Scripts/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Content/Scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/Content/Scripts/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Content/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- CSS Date Picker END -->


    <link href="~/Content/Scripts/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- JS -->
    <script src="~/Content/Scripts/plugins/jquery/jquery.min.js"></script>
    <link href="~/Content/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/Scripts/plugins/toastr/css/toastr.min.css" rel="stylesheet" />

    <link href="~/Content/Scripts/plugins/auto-complete/jquery-ui.min.css" rel="stylesheet" />
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="../HomePage/Index">
                    <b class="logo-abbr">
                        <img src="~/Content/Styles/images/logo.png" alt="">
                    </b>
                    <span class="logo-compact">
                        <img src="~/Content/Styles/images/logo-compact.png" alt="">
                    </span>
                    <span class="brand-title">
                        <img src="~/Content/Styles/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" style="outline-style:groove">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>

                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                Selamat datang,  <h5 id="UserLoginXd"></h5>
                            </a>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/Content/Styles/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body my-2">
                                    <ul>
                                        <li style="cursor:pointer"> 
                                            <a id="spanLogout"><i class="icon-key"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">
                        Dashboard
                    </li>


                    @*List Task Deviation*@
                    <li id="create"><a href="../Form/Input">Create Laporan Penyimpangan</a></li>
                    <li id="outstanding"><a href="../DataDeviasi/PendingTask">Outstanding Approval</a></li>
                    <li id="userlist"><a href="../DataDeviasi/DataTableList">User Deviation List</a></li>
                    <li id="find"><a href="../DataDeviasi/FindDeviation">Find Deviation</a></li>
                    <li id="masterlist"><a href="#LampiranBukti">Report Masterlist</a></li>
                    <li id="leadtime"><a href="#LeadTime">Report Leadtime</a></li>
                    <li id="hiddenCost"><a href="#HiddenCost">Report Hidden Cost</a></li>

                    <li id="cms">
                        <a class="has-arrow" aria-expanded="false">
                            <i class="icon-direction menu-icon"></i><!--speedometer-->
                            <span class="nav-text">
                                CMS Deviation
                            </span>
                        </a>
                        <ul id="globalmenu" aria-expanded="false">
                            <li><a href="../CMS/InputForm">User Control</a></li>
                            <li><a href="../CMS/ShowUser2">List User</a></li>
                            <li><a href="../CMS/UpdateReviewer">Update Reviewer</a></li>
                            <li><a href="../CMS/UpdatePIC">Update PIC</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer" style="background-color:transparent">
            @*<div class="copyright">*@
            <div class="container-fluid">
                <div class="has-arrow">
                    <div class="col-lg-12">
                        <p style="text-align:center">Copyright &copy; Designed & Developed by <a>PT. Bintang Toedjoe</a> @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTimeOut">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Session Login Habis</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="msgModal"></p>
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Content/Scripts/plugins/common/common.min.js"></script>
    <script src="~/Content/Scripts/js/custom.min.js"></script>
    <script src="~/Content/Scripts/js/settings.js"></script>
    <script src="~/Content/Scripts/js/gleek.js"></script>
    <script src="~/Content/Scripts/js/styleSwitcher.js"></script>

    @*Formating Currency*@
    <script src="~/Content/Scripts/js/FormatingMoney.js"></script>



    <!-- Table -->
    <script src="~/Content/Scripts/plugins/tables/js/jquery.dataTables.min.js"></script>
        @*<script src="~/Content/Scripts/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/Scripts/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>*@


    <script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>

    <script src="~/Content/Scripts/plugins/sweetalert/js/sweetalert.min.js"></script>
    @*<script src="~/Content/Scripts/plugins/sweetalert/js/sweetalert.init.js"></script>*@


    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/moment/moment.js"></script>
    <script src="~/Content/Scripts/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>


    <!-- Clock Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>


    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>


    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


    <!-- Date range Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/Scripts/js/plugins-init/form-pickers-init.js"></script>

    <script src="~/Content/Scripts/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/plugins/validation/jquery.validate-init.js"></script>

    <script src="~/Content/Scripts/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/Scripts/plugins/toastr/js/toastr.min.js"></script>
    <script src="~/Content/Scripts/plugins/auto-complete/jquery-ui.min.js"></script>

    <script nonce="RibyraD2BA7Pf1eqkQxRmA==">

        $(document).ready(function () {
            CheckIsLogin();
            var Nama = '@Request.RequestContext.HttpContext.Session["xUser"]';
            var UrlMasterList = "../DataDeviasi/FindMasterList?Nama=" + Nama
            $("a[href='#LampiranBukti']").attr('href', UrlMasterList);

            var UrlLeadTime = "../DataDeviasi/FindLeadTime?Nama=" + Nama
            $("a[href='#LeadTime']").attr('href', UrlLeadTime);

            var UrlHiddenCost = "../DataDeviasi/ReportHiddenCost"
            $("a[href='#HiddenCost']").attr('href', UrlHiddenCost);
            
        });

        $(document).ready(function () {
            $('#spanLogout').click(function () {
                var url = "../Login/Index";
                event.preventDefault();
                swal({
                    title: "Logout!",
                    text: "Anda sudah berhasil Logout ",
                    type: "success",
                    showConfirmButton: !1
                });

                setTimeout(function () {
                    $(location).attr('href', url);
                }, 1000);
            });
        });

        // Set Time Out when cursor idle and no click
        $(function () {
            $("body").on('click keypress', function () {
                $('#ModalTimeOut').modal('hide');
                ResetThisSession();
            });

            $("body").mousemove(function () {
                $('#ModalTimeOut').modal('hide');
                ResetThisSession();
            });
        });

        var timeInSecondsAfterSessionOut = 10; // change this to change session time out (in seconds).
        var secondTick = 0;
        var testTime = 1500;//@(Session.Timeout) * 60;


        function ResetThisSession() {
            secondTick = 0;
        }

        function StartThisSessionTimer() {
            secondTick++;
            //var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes
            var timeLeft = testTime - secondTick;

            if (secondTick >= (testTime - 10) && timeLeft > 0) {
                var msg = "Session Login anda akan berakhir dalam " +
                    timeLeft + " detik! ";

                var msg2 = " Silahkan gerakan mouse anda / akan diarahkan ke halaman login !";
                $('#msgModal').html(msg + '<br>' + msg2);
                $('#ModalTimeOut').modal('show');
            }

            //toastr.success("Time : " + timeLeft, "Top Right", {

            //    closeButton: !0,
            //    debug: !1,
            //    newestOnTop: !0,
            //    progressBar: !0,
            //    positionClass: "toast-top-right",
            //    preventDuplicates: !0,
            //    onclick: null,
            //    showDuration: "300",
            //    hideDuration: "1000",
            //    extendedTimeOut: "1000",
            //    showEasing: "swing",
            //    hideEasing: "linear",
            //    showMethod: "fadeIn",
            //    hideMethod: "fadeOut",
            //    tapToDismiss: !1
            //});

            if (secondTick > testTime) {

                clearTimeout(tick);
                window.location = "../Login/Index";
                return;
            }
            tick = setTimeout("StartThisSessionTimer()", 1000);
        }

        //StartThisSessionTimer();


        function CheckIsLogin() {
            var IsLogin = '@Request.RequestContext.HttpContext.Session["fullname"]';
            var IsRole = '@Request.RequestContext.HttpContext.Session["role"]';
            var IsJobTitle = '@Request.RequestContext.HttpContext.Session["jobttlname"]';
            var IsHead = IsJobTitle.includes("Head");
            var url = "../Login/Index";
            $('#UserLoginXd').text(IsLogin);
            

            // ENABLE / DISABLE MENU
            
            if (IsRole == 'Supervisor') {
                if (IsJobTitle == 'Quality Assurance Manager' || IsJobTitle == 'Quality System Manager') {
                    $("#userlist").attr("hidden", true);
                    $("#cms").attr("hidden", true);
                    $("#create").attr("hidden", false);
                } else {
                    $("#userlist").attr("hidden", true);
                    $("#cms").attr("hidden", true);


                    //untuk Manager Quality
                    $("#masterlist").attr("hidden", true);
                    $("#leadtime").attr("hidden", true);

                    $("#hiddenCost").attr("hidden", true);

                    if (IsHead) {
                        $("#create").attr("hidden", true);
                    }
                    else {
                        $("#create").attr("hidden", false);
                    }
                }

            } else if (IsRole == 'Pelapor') {
                $("#masterlist").attr("hidden", true);
                $("#leadtime").attr("hidden", true);
                $("#hiddenCost").attr("hidden", true);


                $("#find").attr("hidden", false);
                $("#userlist").attr("hidden", true);
                $("#cms").attr("hidden", true);
            }

            else if (IsRole == 'Admin') {
                $("#create").attr("hidden", true);
                $("#outstanding").attr("hidden", true);
                $("#leadtime").attr("hidden", false);
                $("#cms").attr("hidden", true);
                $("#userlist").attr("hidden", true);
                $("#find").attr("hidden", false);
            }

            if (IsLogin === '' || IsLogin === null) {

                swal({
                    title: "Unverified!",
                    text: "Session login berakhir, silahkan login kembali!",
                    type: "error",
                    showConfirmButton: !1
                });

                setTimeout(function () {
                    $(location).attr('href', url);
                }, 1000);
            }

        }
    </script>


</body>

</html>