
@{
    ViewBag.Title = "Deviasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-body">

    <div class="form-group" id="spvapproval">

        <div class="container-fluid">
            @*Header View*@
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="d-inline" style="">Laporan Penyimpangan / Potensi Penyimpangan</h4>
                            <div class="form-group row">
                                <div class="col">
                                    <br />
                                    <label>Register Number</label>
                                    <br />
                                    <label type="text" id="lblReq" style="font-weight:bold" disabled>@ViewBag.nomor</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label>Tanggal Pembuatan Form</label>
                                    <input id="TbTglCreated" class="form-control" disabled="disabled">
                                </div>
                                <div class="col">
                                    <label>Nomor Deviation</label>
                                    <input id="TbNmrDev" type="text" class="form-control" disabled="disabled">
                                </div>
                                <div class="col">
                                    <label>Pelapor</label>
                                    <input id="TbPesul" type="text" class="form-control" disabled="disabled">
                                </div>
                                <div class="col">
                                    <label>Departemen</label>
                                    <input id="TbDeptPusul" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <!-- Readonly End -->
                        </div>
                    </div>
                </div>
            </div>

            @*Detail View*@
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <!-- Site -->
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label label-trigger">Site<span class="text-danger">*</span></label>
                                        <div class="col-sm-3">
                                            <div class="btn-group mb-2 ">
                                                <div class="basic-dropdown">
                                                    <div class="dropdown site-dropdown">
                                                        <select id="ddlSite">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jenis Penyimpangan<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="travel5" data-travelNumber="1" id="terencana_yes_2" value="Yes" disabled="disabled"> Terencana

                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input name="travel5" type="radio" data-travelNumber="1" id="terencana_no_2" value="No" disabled="disabled"> Tidak Terencana

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*  Kategori Penyimpangan *@
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="ddlKategori">Kategori Penyimpangan<span class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <div>
                                                <div class="basic-dropdown">
                                                    <div class="dropdown">
                                                        <select id="ddlKategori" name="ddlKategori"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                            <!--<div id="divsimpang">
                                            <div class="basic-dropdown">-->
                                            @*<select style="width: 220px;" id="ddlJenSi" name="ddlJenSi"></select>*@
                                            <!--<input id="TxtItemCode" name="TxtItemCode" type="text" class="form-control" disabled="disabled">
                                                    <br />
                                                    <input id="TxtBatchNo" name="TxtBatchNo" type="text" class="form-control" placeholder="No Batch Oracle" disabled="disabled">
                                                    <br />
                                                    <input id="TxtNoWO" name="TxtNoWO" type="text" class="form-control" placeholder="No WO Oracle" disabled="disabled">
                                                </div>
                                            </div>-->
                                            @*<div id="divsimpang">
                                                    <div class="basic-dropdown">
                                                        <div id="divreceipt" class="form-group">
                                                            <div class="form-check form-check-inline">
                                                                <label>
                                                                    <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receipt_y" value="Yes" checked disabled> Receipt
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <label>
                                                                    <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receip_n" value="No" disabled> Vendor
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <input id="TxtQCMaterialNo" name="TxtQCMaterialNo" type="text" class="form-control">
                                                        <br />
                                                        <input id="TxtItemCode" name="TxtItemCode" type="text" class="form-control">
                                                        <br />
                                                        <input id="TxtBatchNo" name="TxtBatchNo" type="text" class="form-control" placeholder="No Batch Oracle">
                                                        <br />
                                                        <input id="TxtNoWO" name="TxtNoWO" type="text" class="form-control" placeholder="No WO Oracle">
                                                    </div>
                                                    <div class="modal fade" data-backdrop="static" tabindex="-1" role="document" id="ModalLoading" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered text-center">
                                                            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>*@
                                            <div id="divreceipt" class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receipt_y" value="Yes" checked disabled> Receipt
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="r_receipt" data-travelNumber="1" id="r_receip_n" value="No" disabled> Vendor
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <textarea id="txtKetKategori" name="txtKetKategori" class="form-control" placeholder="Informasi tambahan terkait penyimpangan" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row" id="divsimpang" style="margin-top:-25px;">
                                        <div class="col-sm-12" id="divProduk">
                                            <label style="font-weight:bold">Daftar Produk/Material</label>
                                            <table id="tblListProduk" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">No</th>
                                                        <th id="thQCNum">QC Material/Manufacturing Number</th>
                                                        <th id="thItemCode">Item Code</th>
                                                        <th id="thNoBatch">No Batch</th>
                                                        <th id="thNoWO">No WO Oracle</th>
                                                        <th>Keterangan</th>
                                                        @*<th style="width:30px">Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody id="tblListProdukBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Problem (What) -->
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Problem (What)<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <textarea id="txtProblem" class="form-control" placeholder="Problem (What)" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                    <!-- Requirement (Jika Ada) -->
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Requirement (Jika Ada)</label>
                                        <div class="col-sm-10">
                                            <textarea id="txtReq" class="form-control" placeholder="Requirement (Jika Ada)" disabled></textarea>
                                        </div>
                                    </div>

                                    @* Tanggal Kejadian *@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal dan Waktu Kejadian (When)</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input id="date-format" type="text" class="form-control" disabled="disabled">
                                                <span class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="mdi mdi-calendar-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    @* Lokasi *@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Lokasi (Where)<span class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlSiteLokasi" name="ddlSiteLokasi" style="width: 280px;"></select>
                                                </div>
                                            </div>
                                            <br />
                                            <div id="divDeptLokasi" class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlDeptLokasi" name="ddlDeptLokasi" style="width: 280px;"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <textarea id="txtLokasi" name="txtLokasi" class="form-control" placeholder="Detail Lokasi Kejadian Penyimpangan" disabled="disabled"></textarea>
                                        </div>

                                    </div>


                                    @* Siapa Saja *@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Siapa saja yang terlibat (Who) <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">

                                            <div class="col-sm-12" style="margin-top : 10px; margin-left : -15px">
                                                <table id="tblWho" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:20px">No</th>
                                                            <th>Nama</th>
                                                            @*<th style="width:30px">Action</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblBodyWho">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    @*Bagaimana Urutan Kejadian*@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Bagaimana Urutan Kejadian (How)<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <textarea id="txtHow" class="form-control" placeholder="Bagaimana Urutan Kejadian (How)" disabled="disabled"></textarea>
                                        </div>
                                    </div>


                                    @*Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?*@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="travel4" data-travelNumber="1" id="pernah_yes_1" value="Yes" disabled="disabled"> Ya

                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input name="travel4" type="radio" data-travelNumber="1" id="pernah_no_1" value="No" disabled="disabled"> Tidak

                                                    </label>
                                                </div>
                                            </div>
                                            <textarea name="travelDetails" id="txt1" class="form-control" placeholder="Apakah penyimpangan serupa pernah terjadi dalam 30 hari terakhir? Berapa kali?" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    @*Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?*@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="travel1" data-travelNumber="1" id="sama_yes_1" value="Yes" disabled="disabled"> Ya
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input name="travel1" type="radio" data-travelNumber="1" id="sama_no_1" value="No" disabled="disabled"> Tidak
                                                    </label>
                                                </div>
                                            </div>
                                            <textarea name="travelDetails" id="txtsama" class="form-control" readonly placeholder="Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    @*Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?*@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <div class="form-check form-check-inline">
                                                        <label>
                                                            <input type="radio" name="travel2" data-travelNumber="1" id="rilis_yes_2" value="Yes" disabled="disabled"> Ya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label>
                                                            <input name="travel2" type="radio" data-travelNumber="1" id="rilis_no_2" value="No" disabled="disabled"> Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea id="txtrilis" name="travelDetails" class="form-control" readonly placeholder="Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    @*Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?*@

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?<span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input type="radio" name="travel3" data-travelNumber="1" id="lain_yes_3" value="Yes" disabled="disabled"> Ya
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label>
                                                        <input name="travel3" type="radio" data-travelNumber="1" id="lain_no_3" value="No" disabled="disabled"> Tidak
                                                    </label>
                                                </div>
                                            </div>
                                            <textarea id="txtlain" name="travelDetails" class="form-control" readonly placeholder="Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?" disabled="disabled"></textarea>
                                        </div>
                                    </div>

                                    @*Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi*@
                                    <div class="form-group row">
                                        <div class="col-sm-2 col-form-label">
                                            <label>
                                                Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi
                                            </label>
                                            <label style="font-size:x-small; color:red">
                                                *Wajib diisi untuk penyimpangan tidak terencana
                                            </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea style="height:150px" id="txtTindakan" name="txtTindakan" class="form-control" disabled="disabled"></textarea>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-2 col-form-label">
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="table-responsive">
                                                <table id="tbl_Attachment" class="table header-border">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <b>No</b>
                                                            </th>
                                                            <th>
                                                                <b>File Name</b>
                                                            </th>
                                                            <th style="text-align:center">
                                                                <b>Download</b>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody_Attachment"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-2 col-form-label">
                                            <label>Usulan Tindakan Remedial<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-sm-10">
                                            <textarea style="height:150px" id="txtUsulanRemidial" name="txtUsulanRemidial" class="form-control" placeholder="Usulan Tindakan Remedial"></textarea>
                                        </div>
                                    </div>

                                    <br />

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ************************** List Penilaian ***************************** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-group row">
                                        <h4 class="col-sm-6 col-form-label">Penilaian Potensi Dampak dari Penyimpangan/ Potensi Penyimpangann<span class="text-danger">*</span></h4>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Kualitas Produk</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKualProd" title="Kualitas Produk"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Finansial</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskFin" title="Risiko Finansial"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Kesehatan Personil</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKesehatanPer" title="Risiko Kesehatan Personil"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Baris 2 -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Compliance</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlCompliance" title="Compliance"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Organisasi</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskOrg" title="Risiko Organisasi"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Resiko Lingkungan</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlResLingk" title="Risiko Lingkungan"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Baris 3-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Risiko Operasional</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskOpr" title="Risiko Operasional"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Keamanan Personil</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKeamamananP" title="Risiko Keamanan Personil"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Intelektual</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskIntelek" title="Risiko Intelektual"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Tingkat Keparahan Penyimpangan</label>
                                                <br />
                                                <div class="btn-group mb-2">
                                                    <input id="txtKeparahan" type="text" class="form-control" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Form-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="DIV_REVIEWER">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>REVIEWER</h4>
                            <div class="basic-form">
                                <form id="ReviewerList">
                                    <div class="form-group row" id="Reviewer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="ketdis" hidden>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>DISPOSISI</h4>
                            <div class="basic-form">
                                <form id="FormDisposisi">
                                    <div class="form-group row" id="can">
                                        <label class="col-sm-2 col-form-label">Keterangan Disposisi<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <div class="col-sm-12" style="margin-top : 10px; margin-left : -15px">
                                                <table id="tblDis" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:20px">No</th>
                                                            <th>Keterangan Disposisi</th>
                                                            <th style="width:30px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblDisKet">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group" id="devtab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>DISPOSISI</h4>
                                <br />
                                <div class="table-responsive">
                                    <table class="table-striped table-bordered" id="deviationdatatable" width="2400px">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th style="width: 287px;">Usulan Tindakan Remedial</th>
                                                <th>Action</th>
                                                <th>Testing Jumlah Personel</th>
                                                <th>Testing Durasi Pengerjaan</th>
                                                <th>Testing Manhours Value</th>
                                                <th>Testing Cost of Analysis</th>
                                                <th>Process Durasi Pengerjaan</th>
                                                <th>Process Jumlah Pelaksana</th>
                                                <th>Process Manhours Value</th>
                                                <th>Reject Material</th>
                                                <th>Reject Quantity</th>
                                                <th>Reject Cost Material</th>
                                                <th>Nama Sparepart</th>
                                                <th>Harga Sparepart</th>
                                                <th>Nama PIC</th>
                                                <th hidden="hidden">NIK PIC</th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tbody id="deviationtable" class="nowrap">
                                        </tbody>
                                        <tfoot id="picfooter">
                                            <tr>
                                                <th colspan="3" rowspan="2" style="text-align: center; background-color: #f3f3f3; vertical-align: middle">Total</th>
                                                <th colspan="3" style="text-align: center ; background-color: #f3f3f3">Total Testing Manhours</th>
                                                <th style="text-align: center ; background-color: #f3f3f3">Total Testing Cost</th>
                                                <th colspan="3" style="text-align: center ; background-color: #f3f3f3">Total Processing Manhours</th>
                                                <th colspan="3" style="text-align: center ; background-color: #f3f3f3">Total Rejected Cost</th>
                                                <th colspan="2" style="text-align: center ; background-color: #f3f3f3">Total Machine Cost</th>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="card" id="tabel2" hidden="hidden">
                            <div class="card-body">
                                <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="buktidatatable" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="75px">No</th>
                                            <th width="100px">Nama PIC</th>
                                            <th width="75px">Nama File</th>

                                        </tr>
                                    </thead>
                                    <tbody id="buktitable" class="nowrap">
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

    <div class="form-group">
        @Html.Partial("~/Views/QualityManager/ApprovedDisposisiPartialView.cshtml")
    </div>

    <div class="form-group" id="koorsubmission">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <label class="col-sm-2 col-form-label">Investigation Time</label>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" id="ITDP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" id="ITJP" class="form-control" disabled="disabled" />
                                </div>
                            </div>

                        </div>
                        <label class="col-sm-2 col-form-label">Meeting Time</label>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" id="MTDP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" id="MTJP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="cancelid" hidden>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Alasan Cancel<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" id="cancelreason" class="form-control" disabled="disabled" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script nonce="zcGD8EKW4mFoL4peCpLuXQ==">
    $(document).ready(function () {
        $.ajaxPrefilter(function (options, original_Options, jqXHR) {
            options.async = true;
        });

        /* MASTER */
        GetCurrStatus();

        /* FORM INPUT */
        LoadFormInput();
        LoadUserInvolved();
        GetFileAttachment();

        //$(".site-dropdown").click(function () {
        //    GetAllSite();
        //});

        /* LIST OF REVIEWER AND DISPOSISI */
        LoadReviewerData();
        LoadKeteranganDisposisi();

        /* REMEDIAL RESULT */
        LoadData();
        LoadKoorSub();

    });

    $(document).ready(function () {

        $('#deviationdatatable tbody').on('click', 'input[id="btnShowBukti"]', function () {
            event.preventDefault();
            $('#buktidatatable').DataTable().clear().destroy();

            var row = $(this).closest("TR");
            var ReqID = @ViewBag.nomor;
            var picnik = $("TD", row).eq(16).html();
            var seq = $("TD", row).eq(0).html();

            var dto = {
                REQID: ReqID,
                IDUSER: picnik,
                NO_DISPOSISI: seq
            }

            $.ajax({
                url: "../QualityManager/QM_ShowBuktiTable",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    for (trav = 0; trav < Count; trav++) {
                        var no = 1;
                        no = no + trav;
                        trHTML +=
                            '<tr><td>' + no + '</td>' +
                            '<td>' + data[trav].PIC_ID + '</td>' +
                            '<td><a href="' + data[trav].PATH_FILE + '" download="' + data[trav].PATH_FILE + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';

                    }

                    $('#buktitable').empty();
                    $('#buktitable').append(trHTML);
                    $('#buktidatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });

                    $("#tabel2").removeAttr("hidden");
                }
                , error: function (ex) {
                    alert('Error Show Bukti Table : ' + JSON.stringify(ex));
                }
            });
        });
    });

    function GetCurrStatus() {
        var REQID = @ViewBag.nomor;

        var dto = {
            REQID: REQID

        };

        $.ajax({
            url: "../DataDeviasi/DD_GetCurrStatus",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                if (data == 'CANCEL') {

                    $("#cancelid").removeAttr("hidden");

                    $.ajax({
                        url: "../DataDeviasi/DD_GetCancelReason",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (reason) {

                            $("#cancelreason").val(reason);

                        }, error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                }

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    /* FORM INPUT */
    function LoadFormInput() {
        var nomor = @ViewBag.nomor;
        var dto = {
            ReqID: nomor
        }

        $.ajax({
            url: "../SpvPelapor/App_LoadDeviationApproval",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var text = '';

                document.getElementById('TbTglCreated').value = data[0].CREATION_DATE;
                document.getElementById('TbNmrDev').value = data[0].DEVIATION_NO;
                //document.getElementById('TbPesul').value = data[0].ID_PROPOSER;
                document.getElementById('TbPesul').value = data[0].NAME_PROPOSER;
                document.getElementById('TbDeptPusul').value = data[0].DEPARTEMENT;

                //GetAllSite();

                text = '<Option class="dropdown-item" disabled value = "' + data[0].LOCATION_SITE + '" selected >' + data[0].DDL_DESC;
                $("#ddlSite").empty();
                $("#ddlSite").append(text);
                $("#ddlSite").selectpicker();


                text = '';
                text = '<Option class="dropdown-item" disabled value = "' + data[0].ID_DEVIATION_CATEGORY + '" selected >' + data[0].DEVIATION_CATEGORY;
                $("#ddlKategori").empty();
                $("#ddlKategori").append(text);
                $("#ddlKategori").selectpicker();

                @*$("#TxtNoWO").attr("hidden", true);
                $("#TxtItemCode").attr("hidden", true);
                $('#TxtQCMaterialNo').attr('hidden', true);
                $('#TxtBatchNo').attr('hidden', true);

                $("#TxtNoWO").attr("disabled", true);
                $("#TxtItemCode").attr("disabled", true);
                $('#TxtBatchNo').attr('disabled', true);
                $('#TxtQCMaterialNo').attr('disabled', true);*@

                var dev_kategori = data[0].ID_DEVIATION_CATEGORY;

                if (dev_kategori == 'QPR') {

                    $("#TxtNoWO").attr("hidden", false);
                    $("#TxtItemCode").attr("hidden", false);
                    $('#TxtBatchNo').attr('hidden', false);
                    $("#divreceipt").attr("hidden", true);
                    $("#txtKetKategori").attr("hidden", true);
                    // MATERIAL AWAL (MASIH ADA LAGI)
                } else
                    if (dev_kategori == 'QMT') {
                        $("#TxtItemCode").attr("hidden", false);
                        $('#TxtQCMaterialNo').attr('hidden', false);
                        $("#txtKetKategori").attr("hidden", true);
                        $("#divreceipt").attr("hidden", false);
                    } else {
                        $("#divsimpang").attr("hidden", true);
                        $("#divreceipt").attr("hidden", true);
                    }
                $('input[name=r_receipt][value=' + data[0].FLAG_RECEIPT + ']').prop('checked', true);

                if (dev_kategori == 'QPR' || dev_kategori == 'QMT') {
                    LoadListProduk();
                }

                // INPUTS
                @*document.getElementById('TxtNoWO').value = data[0].NO_WO_ORACLE;
                document.getElementById('TxtBatchNo').value = data[0].NO_BATCH_ORACLE;
                document.getElementById('TxtItemCode').value = data[0].ITEM_CODE_ORACLE;
                document.getElementById('TxtQCMaterialNo').value = data[0].QC_MATERIAL_NO;*@

                document.getElementById('txtKetKategori').value = data[0].KET_CATEGORY;
                document.getElementById('txtProblem').value = data[0].PROBLEM;

                document.getElementById('txtLokasi').value = data[0].LOCATION;

                text = '<Option class="dropdown-item" value = "' + data[0].SITE_LOKASI_KEJADIAN + '" selected >' + data[0].SITE_LOKASI_KEJADIAN;

                $("#ddlSiteLokasi").empty();
                $("#ddlSiteLokasi").append(text);
                $("#ddlSiteLokasi").selectpicker();


                text = '';
                text = '<Option class="dropdown-item" value = "' + data[0].DEPT_LOKASI_KEJADIAN + '" selected >' + data[0].DEPT_LOKASI_KEJADIAN;

                $("#ddlDeptLokasi").empty();
                $("#ddlDeptLokasi").append(text);
                $("#ddlDeptLokasi").selectpicker();


                document.getElementById('txtHow').value = data[0].ORDER_OF_EVENTS;
                document.getElementById('date-format').value = data[0].DATE_OF_INCIDENT;
                document.getElementById('txtTindakan').value = data[0].ACTION_WHEN_DEV;
                document.getElementById('txtReq').value = data[0].REQ;


                // 1st Card Radio Button

                // Travel 1
                $("input[name=travel1][value=" + data[0].SAME_POTEN_DEV_FLAG + "]").prop('checked', true);
                $("#txtsama").attr("disabled", true);
                $('#txtsama').val(data[0].SAME_POTEN_DEV);

                // Travel 2 (Txt2 HTML5 missing)

                $("input[name=travel2][value=" + data[0].POTEN_DEV_RLS_FLG + "]").prop('checked', true);
                $("#txtrilis").attr("disabled", true);
                $('#txtrilis').val(data[0].POTEN_DEV_RLS);

                // Travel 3 (Txt3 HTML5 missing)
                $("input[name=travel3][value=" + data[0].POTEN_DEV_OTH_FLG + "]").prop('checked', true);
                $("#txtlain").attr("disabled", true);
                $('#txtlain').val(data[0].POTEN_DEV_OTH);

                // Travel 4 -> missing
                $("input[name=travel4][value=" + data[0].THIRTY_FLAG + "]").prop('checked', true);
                $("#txt30hari").attr("disabled", true);
                $('#txt30hari').val(data[0].THIRTY);

                // Travel 5 -> missing
                $("input[name=travel5][value=" + data[0].PLAN_DEV + "]").prop('checked', true);
                $("#txtUsulanRemidial").attr("disabled", true);
                $('#txtUsulanRemidial').val(data[0].USULAN_REMIDIAL);


                // 2nd Card FINISHED!

                // 2nd Card Quality Product

                text = '<Option class="dropdown-item" value = "' + data[0].NO_QUALITY_PRODUCT + '" selected >' + data[0].QUALITY_PRODUCT;

                $("#ddlKualProd").empty();
                $("#ddlKualProd").append(text);
                $("#ddlKualProd").selectpicker();

                // 2nd Card Compliance

                text = '<Option class="dropdown-item" value = "' + data[0].NO_COMPLIANCE + '" selected >' + data[0].COMPLIANCE;

                $("#ddlCompliance").empty();
                $("#ddlCompliance").append(text);
                $("#ddlCompliance").selectpicker();

                // 2nd Card Operational Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_OPERATION + '" selected >' + data[0].RISK_OPERATION;

                $("#ddlRiskOpr").empty();
                $("#ddlRiskOpr").append(text);
                $("#ddlRiskOpr").selectpicker();

                // 2nd Card Financial Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_FINANCIAL + '" selected >' + data[0].RISK_FINANCIAL;

                $("#ddlRiskFin").empty();
                $("#ddlRiskFin").append(text);
                $("#ddlRiskFin").selectpicker();

                // 2nd Card Organizational Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_ORGANIZATION + '" selected >' + data[0].RISK_ORGANIZATION;

                $("#ddlRiskOrg").empty();
                $("#ddlRiskOrg").append(text);
                $("#ddlRiskOrg").selectpicker();

                // 2nd Card Personel Security Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_SECURITY + '" selected >' + data[0].RISK_SECURITY;

                $("#ddlKeamamananP").empty();
                $("#ddlKeamamananP").append(text);
                $("#ddlKeamamananP").selectpicker();

                // 2nd Card Personel Security Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_HEALTY + '" selected >' + data[0].RISK_HEALTY;

                $("#ddlKesehatanPer").empty();
                $("#ddlKesehatanPer").append(text);
                $("#ddlKesehatanPer").selectpicker();

                // 2nd Card Environment Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_ENVIRONTMENT + '" selected >' + data[0].RISK_ENVIRONTMENT;

                $("#ddlResLingk").empty();
                $("#ddlResLingk").append(text);
                $("#ddlResLingk").selectpicker();

                // 2nd Card Intellectual Risk

                text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_INTELLECTUAL + '" selected >' + data[0].RISK_INTELLECTUAL;

                $("#ddlRiskIntelek").empty();
                $("#ddlRiskIntelek").append(text);
                $("#ddlRiskIntelek").selectpicker();

                // 2nd Card Severity Risk

                document.getElementById('txtKeparahan').value = data[0].SEVERTY_DEVIATION;

                $('textarea').each(function () {
                    //this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;width:500px;overflow-y:hidden;');
                    this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }



    function LoadListProduk() {
        var dev_kategori = $("#ddlKategori option:selected").val();
		var REQID = @ViewBag.nomor;

		var dto = {
			ReqID: REQID
		}

		$.ajax({
            url: "../SpvPelapor/LoadListProduk",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                console.log(data);
                $('#tblListProduk').DataTable({
                    "pageLength": 10,
                    "lengthChange": false,
                    "searching": false,
                    "data": data,
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "scrollX": true,
                    "paging": false,
                    "info": false,
                    "ordering": false,
                    "columns": [
                        {
                            "data": "id",
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { "data": "QC_MATERIAL_NO" },
                        { "data": "ITEM_CODE_ORACLE" },
                        { "data": "NO_BATCH_ORACLE" },
                        { "data": "NO_WO_ORACLE" },
                        { "data": "KET_CATEGORY" },
                    ],
                    "initComplete": function (settings) {
                        var api = new $.fn.dataTable.Api(settings);

                        var showColumnQPR = dev_kategori == 'QPR' ? true : false;
                        var showColumnQMT = dev_kategori == 'QMT' ? true : false;

                        api.columns([3, 4]).visible(showColumnQPR);
                        api.columns([1]).visible(showColumnQMT);
                    }
                });


                //if (dev_kategori == 'QPR') {
                //    $('#thQCNum').attr('hidden', false);
                //    $('#thNoBatch').attr('hidden', false);
                //    $('#thNoWO').attr('hidden', false);
                //} else if (dev_kategori == 'QMT') {
                //    $('#thQCNum').attr('hidden', false);
                //    $('#thNoBatch').attr('hidden', true);
                //    $('#thNoWO').attr('hidden', true);
                //}

			}
			, error: function (ex) {
                GetErrorSupPel("LoadListProduk", JSON.stringify(ex));
			}
		});
	}

    @*function GetAllSite() {

        GetAllSite = function () { };

        var REQID = @ViewBag.nomor;

        var dto = {
            ReqID: REQID
        }

        $.ajax({
            url: "../SpvPelapor/App_GetSiteName",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var count = data.length;
                var trhtml = '';
                var trav = 0;
                trhtml += '<select id="ddlSite" disabled>';
                trhtml += '<option disabled hidden class="dropdown-header"  value = " " >   Site Pelapor   </option>';

                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {

                        if (data[trav].DDL_TRUE == '' || data[trav].DDL_TRUE == null) {
                            trhtml += '<Option class="dropdown-item" selected value = "" > - ';
                            break;
                        }

                        if (data[trav].DDL_TRUE == data[trav].DDL_CODE) {
                            trhtml += '<Option class="dropdown-item" selected value = "' + data[trav].DDL_CODE + '" > ' + data[trav].DDL_DESCRIPTION;
                        } else {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].DDL_CODE + '" > ' + data[trav].DDL_DESCRIPTION;
                        }


                    }
                }

                trhtml += '</select>';

                $(".site-dropdown").empty();
                $(".site-dropdown").append(trhtml);
                $("#ddlSite").selectpicker();

                GetAllSite = function () { };

            },
            error: function (ex) {
                alert('Error : ' + JSON.stringify(ex));
            }
        });
    }*@

    function LoadUserInvolved() {

        var REQID = @ViewBag.nomor;

        var dto = {
            ReqID: REQID
        }

        $.ajax({
            url: "../SpvPelapor/App_LoadUserInvolved",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != '') {
                    //$('#tblWho').attr('hidden', false);

                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {
                        trHTML += '<tr><td>' + data[trav].NO + '</td>' +
                            '<td style="display:none">' + data[trav].REQ_ID + '</td>' +
                            '<td style="display:none">' + data[trav].RecordID + '</td>' +
                            '<td>' + data[trav].USER_NAME + '</td></tr > ';
                    }

                    $("#tblBodyWho").empty();
                    $("#tblBodyWho").append(trHTML);
                    $("#tblBodyWho").addBack();
                }
                else {
                    //$('#tblWho').attr('hidden', true);
                    $("#tblBodyWho").addBack();
                }

            }
            , error: function (ex) {
                alert('Error Load User Involved : ' + JSON.stringify(ex));
            }
        });
    }

    function GetFileAttachment() {

        var ReqID = @ViewBag.nomor;
        var dto = {
            ReqID: ReqID
        }

        $.ajax({
            type: "POST",
            url: "../SpvPelapor/App_LoadAttachment",
            data: JSON.stringify(dto),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != '') {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    if (Count > 0) {
                        for (trav = 0; trav < Count; trav++) {
                            var no = 1
                            no = no + trav
                            trHTML += '<tr><td>' + no + '</td>' +
                                '<td style="display:none">' + data[trav].REQ_ID + '</td>' +
                                '<td style="display:none">' + data[trav].NO_FILE + '</td>' +
                                '<td>' + data[trav].file_name_upload + '</td>' +
                                '<td style="display:none;">' + data[trav].path_file + '</td>' +
                                '<td align="center"><a href=' + data[trav].path_file_download + ' target="_blank"><i class="fa fa-cloud-download"></i></a></td></tr>';
                        }

                        $("#tbody_Attachment").empty();
                        $("#tbody_Attachment").append(trHTML);
                        $("#tbody_Attachment").addBack();

                    } else {
                        $("#tbl_Attachment").hide();
                    }
                } else {
                    $("#tbl_Attachment").hide();
                    $("#tbody_Attachment").addBack();
                }
            },
            error: function (ex) {
                alert('Error Load Attachment : ' + JSON.stringify(ex));
            }
        });
    }

    /* LIST OF REVIEWER AND DISPOSISI */
    function LoadReviewerData() {
        var nomor = @ViewBag.nomor;

        var dto = {
            ReqID: nomor
        }

        $.ajax({
            url: "../QualityManager/QM_LoadDeviationApproval",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var flag = 0;
                var text = '';
                var trav = 0;
                var Count = data.length;
                var trHTML = '';

                if (Count < 1) {
                    $('#DIV_REVIEWER').hide();
                } else {
                    for (trav = 0; trav < Count; trav++) {

                        text +=
                            '<div class="container-fluid">' +

                            '<div class="card-body bg-gallery row">' +
                            '<div class="col-md-7">' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">Keterangan Review</label>' +
                            '</div>' +

                            '<div class="row form-group">' +
                        '<textarea class="form-control"  style="width: 500px; height: 200px;" disabled>' + data[trav].KETERANGAN_REVIEW + '</textarea>' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">File Pendukung</label>' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<div class="table-responsive">' +
                            '<table id="tbl_Attachmentyuhu" class="table table-info table-striped table-bordered" style="width: 500px">' +
                            '<thead>' +
                            '<tr>' +
                            '<th>' +
                            '<b>No</b>' +
                            '</th>' +
                            '<th>' +
                            '<b>File Name</b>' +
                            '</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody id="tbody_Attachmentx' + trav + '"></tbody>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +

                            '<div class="col-md-5" id="go">' +

                            '<input type="text" value="' + data[trav].USER_NIK + '" hidden="hidden" id="nik' + trav + '">' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">Nama Reviewer</label>' +
                            '</div>' +
                            '<div class="row form-group">' +
                            '<input type text class="form-control" disabled="disabled" value="' + data[trav].USER_NAME + '">' +
                            '</div>';

					    // TANGGAL
                        text +=
                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">Tanggal Review</label>' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<input class="form-control"  disabled="disabled"  style="width: 500px;" value="' + data[trav].TANGGAL_REVIEW + '">' +
                            '</div>';

                        text +=
                            '</div>' +

                            '</div>' +
                            '</div>';



                        // FUNCTION FOR LOAD REVIEWER'S REVIEW
                        var username = data[trav].USERNAME //USER_NIK
                        var trap = 0;
                        var xto = {
                            ReqID: nomor,
                            USERNIK: username
                        }

                        $.ajax({
                            type: "POST",
                            url: "../QualityManager/QM_LoadAttachment",
                            data: JSON.stringify(xto),

                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (datac) {

                                var trax = 0;
                                var hitung = datac.length;
                                var trHTML = '';
                                var no = 0;

                                // JAVASCRIPT WORKS ASYNC-LY, USING THIS METHOD WILL PREVENT IT FROM BREAKING THE CODE

                                // 1st LOOP FOR TOTAL DOCUMENT
                                for (trap = 0; trap < hitung; trap++) {
                                    // 2nd LOOP FOR TOTAL REVIEWER
                                    for (flag = 0; flag < trav; flag++) {
                                        // IF CLAUSE WHERE DOCUMENT AND REVIEWER HAS THE SAME ATTRIBUTES
                                        if (datac[trap].REVIEWER_ID == data[flag].USER_NIK) {
                                            var no = 1;
                                            no = no + trap

                                            trHTML +=
                                                '<tr><td>' + no + '</td>' +
                                                '<td><a href="' + datac[trap].PATH_FILE_DOWNLOAD + '" download="' + datac[trap].FILE_NAME_UPLOAD + '">' + datac[trap].FILE_NAME_UPLOAD + '</a></td>' +
                                                '<td hidden="hidden">' + datac[trap].REVIEWER_ID + '</td>';

                                            $("#tbody_Attachmentx" + flag).empty();
                                            $("#tbody_Attachmentx" + flag).append(trHTML);
                                            $("#tbody_Attachmentx" + flag).addBack();

                                        }
                                    }

                                }

                            }, error: function (ex) {
                                alert('Error Load Attachment : ' + JSON.stringify(ex));
                            }, async: true

                        });


                    }

                    $("#Reviewer").empty();
                    $("#Reviewer").append(text);

                    $('textarea').each(function () {
                        this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                    }).on('input', function () {
                        this.style.height = 'auto';
                        this.style.height = (this.scrollHeight) + 'px';
                    });
                }


            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }, async: false
        });
    }

    function LoadKeteranganDisposisi() {

        var REQID = @ViewBag.nomor;

        var dto = {
            REQ_ID: REQID
        }

        $.ajax({
            url: "../QualityManager/QM_LoadKeteranganDisposisi",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data.length < 1) {

                    $("#ketdis").attr("hidden", true);
                } else {
                    if (data != '') {
                        $('#tblDis').attr('hidden', false);

                        var trHTML = '';
                        var trav = 0;
                        var Count = data.length;


                        for (trav = 0; trav < Count; trav++) {
                            var no = 1;
                            no = no + trav;

                            trHTML += '<tr><td hidden="hidden">' + data[trav].NO_DISPOSISI + '</td>' +
                                '<td>' + no + '</td>' +
                                '<td style="display:none">' + data[trav].REQ_ID + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td align="center">-</td ></tr>';
                        }

                        $("#tblDisKet").empty();
                        $("#tblDisKet").append(trHTML);
                        $("#tblDisKet").addBack();
                    }
                    else {
                        $('#tblDis').attr('hidden', true);
                        $("#tblDisKet").addBack();
                    }
                }

            }
            , error: function (ex) {
                alert('Error Load Keterangan Disposisi : ' + JSON.stringify(ex));
            }
        });
    }

    /* REMEDIAL RESULT */
    @*function LoadData() {

        var nomor = @ViewBag.nomor;
        var dto = {
            REQID: nomor
        }

        $.when(
            $.ajax({
                url: "../Koordinator/Coor_LoadPICData",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.length == 0) {
                        $("#devtab").attr("hidden", true);
                    } else {
                        var trHTML = '';
                        var trav = 0;
                        var Count = data.length;
                        for (trav = 0; trav < Count; trav++) {
                            var counter = 1;
                            counter += trav;
                            trHTML +=
                                '<tr><td align="center">' + counter + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td>' + data[trav].HASIL_TINDAKAN + '</td>' +
                            '<td>' + data[trav].TESTING_JUMLAH_PELAKSANA + '</td>' +
                            '<td>' + data[trav].TESTING_DURASI_PENGERJAAN + '</td>' +
                                '<td>' + data[trav].TESTING_MANHOURS_VALUE + '</td>' +
                                '<td>' + data[trav].TESTING_MANHOURS_VALUE + '</td>' +
                                '<td>' + data[trav].PROC_DURASI_PENGERJAAN + '</td>' +
                                '<td>' + data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
                                '<td>' + data[trav].PROC_MANHOURS_VALUE + '</td>' +
                                '<td>' + data[trav].REJ_MATERIAL + '</td>' +
                                '<td>' + data[trav].REJ_QUANTITY + '</td>' +
                                '<td>' + data[trav].REJ_COST_MATERIAL + '</td>' +
                                '<td>' + data[trav].MC_SPAREPART + '</td>' +
                                '<td>' + data[trav].MC_TOTAL_HARGA_SPAREPART + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td hidden="hidden">' + data[trav].PIC_REMEDIAL_NIK + '</td>';

                            if (data[trav].FLAG_PIC == 'REJECTED' || data[trav].FLAG_PIC == null) {
                                trHTML +=
                                    '<td> - </td ></tr > ';

                            } else {
                                trHTML +=
                                    '<td align="center"><button id="btnShowBukti" class="btn btn-info btnShowBukti"><span class="fa fa-info"><strong></strong></span></button ></td ></tr > ';

                            }
                        }

                        $('#deviationtable').empty();
                        $('#deviationtable').append(trHTML);
                        $('#deviationdatatable').DataTable({
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "ordering": false
                        });
                    }

                },
                error: function (ex) {

                    alert(JSON.stringify(ex));
                }
            })
        ).done(
            $.ajax({
                url: "../Koordinator/Coor_LoadPICDataFooter",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {

                        trHTML +=
                            '<tr><td colspan="3" style="text-align:center">' + data[0].TOTAL_TESTING_MANHOURS + '</td>' +
                            '<td colspan="1" style="text-align:center">Rp ' + data[0].TOTAL_TESTING_COA + '</td>' +
                            '<td colspan="3" style="text-align:center">' + data[0].TOTAL_PROC_MAHOURS + '</td>' +
                            '<td colspan="3" style="text-align:center">Rp ' + data[0].TOTAL_REJ_COST + '</td>' +
                            '<td colspan="2" style="text-align:center">Rp ' + data[0].TOTAL_MC_HARGA_SPAREPART + '</td></tr>' +


                            //'<tr><th colspan="13" style="text-align:center; background-color: #f3f3f3">Total Times</th>' +
                            //'<td colspan="2"  style="text-align:center">' + data[trav].TOTAL_TIMES + '</td></tr>' +

                            //'<tr><th colspan="13" style="text-align:center; background-color: #f3f3f3">Total Cost</th>' +
                            //'<td colspan="2"  style="text-align:center">' + data[trav].TOTAL_COST +'</td></tr>';

                            '<tr><th colspan = "13" style="text-align:center;background-color: #f3f3f3">Total Times</th>' +
                            '<td colspan="2" style="text-align:center">' + data[trav].TOTAL_TIMES + '</td></tr>' +

                            '<tr><th colspan = "13" style="text-align:center;background-color: #f3f3f3">Total Cost</th>' +
                            '<td colspan="2" style="text-align:center"> Rp. ' + data[trav].TOTAL_COST + '</td></tr>';


                    }

                    // NO NEED TO DECLARE DATA TABLE COZ FOOTER IS FOOTER AND THE TABLE IS NOT GONNA CHANGE ANYWAY
                    $('#picfooter').append(trHTML);


                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            })
        );
    };*@


    function LoadKoorSub() {

        var nomor = @ViewBag.nomor;
        var dto = {
            REQID: nomor
        }

        $.ajax({
            url: "../QualityManager/QM_LoadKoorSub",
            type: "post",
            data: JSON.stringify(dto),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {


                if (data[0].IT_DURASI_PENGERJAAN == '-' && data[0].IT_JUMLAH_PELAKSANA == '-' && data[0].MT_JUMLAH_PELAKSANA == '-' && data[0].MT_DURASI_PENGERJAAN == '-') {
                    $("#koorsubmission").attr("Hidden", true);
                } else {

                    $("#ITDP").val(data[0].IT_DURASI_PENGERJAAN);
                    $("#ITJP").val(data[0].IT_JUMLAH_PELAKSANA);
                    $("#MTJP").val(data[0].MT_JUMLAH_PELAKSANA);
                    $("#MTDP").val(data[0].MT_DURASI_PENGERJAAN);
                }



            },
            error: function (ex) {

                alert(JSON.stringify(ex));
            }
        });
    };

</script>
