
@{
    ViewBag.Title = "PrintFindMasterList";
}

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <iframe id="ifrmReportViewer" style="height:1000px; width:100%;" frameborder="0" scrolling="yes"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div hidden="hidden">
        <input type="text" id="sp" value="@ViewBag.sp">
        <input type="text" id="dp" value="@ViewBag.dp">
        <input type="text" id="kp" value="@ViewBag.kp">
        <input type="text" id="jp" value="@ViewBag.jp">
        <input type="text" id="tp" value="@ViewBag.tp">
        <input type="text" id="nama" value="@ViewBag.nama">


    </div>

</div>



<script>
    $(document).ready(function () {
        ReportValidationCheck();
    });

    function ReportValidationCheck() {



        var sp = $("#sp").val();
        var dp = $("#dp").val();
        var kp = $("#kp").val();
        var jp = $("#jp").val();
        var tp = $("#tp").val();
        var nama = $("#nama").val();

       

        url = "../Report/PrintFindMasterList.aspx?sp=" + sp + "&dp=" + dp + "&kp=" + kp + "&jp=" + jp + "&tp=" + tp + "&nama=" + nama;

        var myframe = document.getElementById("ifrmReportViewer");
        if (myframe !== null) {
            if (myframe.src) {
                myframe.src = url;
            }
            else if (myframe.contentWindow !== null && myframe.contentWindow.location !== null) {
                myframe.contentWindow.location = url;
            }
            else {
                myframe.setAttribute('src', url);
            }
        }
        return false;
    }
</script>



