
@{
    ViewBag.Title = "PrintFindLeadTime";
}

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <iframe id="ifrmReportViewer" style="height:1000px; width:100%;" frameborder="0" scrolling="yes"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div hidden="hidden">
        <input type="text" id="tahun" value="@ViewBag.tahun">
        <input type="text" id="bulan" value="@ViewBag.bulan">
        <input type="text" id="kategori" value="@ViewBag.kategori">
        <input type="text" id="dept" value="@ViewBag.dept">
        <input type="text" id="nama" value="@ViewBag.nama">
    </div>

</div>



<script>
    $(document).ready(function () {
        ReportValidationCheck();
    });

    function ReportValidationCheck() {

        var tahun = $("#tahun").val();
        var bulan = $("#bulan").val();
        var kategori = $("#kategori").val();
        var dept = $("#dept").val();
        var nama = $("#nama").val();

        url = "../Report/PrintFindLeadTime.aspx?tahun=" + tahun + "&bulan=" + bulan + "&kategori=" + kategori + "&dept=" + dept + "&nama=" + nama;

        var myframe = document.getElementById("ifrmReportViewer");
        if (myframe !== null) {
            if (myframe.src) {
                myframe.src = url;
            }
            else if (myframe.contentWindow !== null && myframe.contentWindow.location !== null) {
                myframe.contentWindow.location = url;
            }
            else {
                myframe.setAttribute('src', url);
            }
        }
        return false;
    }
</script>





