
@{
    ViewBag.Title = "HasilRemedial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>*@

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group">

                                        <button type="button" id="btnApprove" class="col-sm-2 btn mb-1 btn-success form-control">
                                            Approve
                                            <span class="fa fa-check-square-o"></span>
                                        </button>

                                        <button type="button" id="btnReject" class="col-sm-2 btn mb-1 btn-danger form-control">
                                            Reject
                                            <span class="fa fa-ban"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @* PROPOSER SECTION *@
<div class="form-group" id="partialview">
    @Html.Partial("../SpvPelapor/Approval")
    @*@Html.Partial("../DataDeviasi/DeviasiPartialView")*@
</div>

    @* REVIEWER SECTION *@
    <div class="form-group" id="DIV_REVIEWER">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>REVIEWER</h4>
                            <div class="basic-form">
                                <form id="ReviewerList">
                                    <div class="form-group row" id="Reviewer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>DISPOSISI TINDAKAN REMIDIAL</h4>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        Disposisi Tindakan Remedial
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea id="disposisitindakan" class="form-control" disabled="disabled"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Hasil Tindakan Remedial<span class="text-danger">*</span></label>
                                    <div class="col-sm-10">
                                        <textarea id="txtHasilTindakan" class="form-control" disabled="disabled"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" id="can">
                                    <label class="col-sm-2 col-form-label">Upload Bukti Tindakan Remidial<span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="input-group">

                                        </div>
                                        <div class="col-sm-12" style="margin-top : 10px; margin-left : -15px">
                                            <table id="tblBukti" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">No</th>
                                                        <th>Bukti Tindakan Remidial</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBuktiBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="form-group">
                                        <h4>Testing Cost</h4>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Durasi Pengerjaan<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="testingDurasiPengerjaan" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Jumlah Pelaksana<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="testingJumlahPelaksana" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Manhours Value<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="testingManhoursValue" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cost of Analysis<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="testingCostAnalysis" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4>Processing</h4>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Durasi Pengerjaan<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procDurasiPengerjaan" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Jumlah Pelaksana<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procJumlahPelaksana" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Manhours Value<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procManhoursValue" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Material/Product<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procMaterial" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Quantity<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procQty" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cost Material<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="procCostMaterial" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4>Rejected</h4>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Material/Product<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rejMaterial" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Quantity<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rejQty" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cost Material<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rejCostMaterial" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4>Machine Cost</h4>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Durasi Pengerjaan<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcDurasiPengerjaan" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Jumlah Teknisi<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcJumlahTeknisi" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Manhours Value<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcManhoursValue" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nama Mesin<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcNamaMesin" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Total Machine Hours Value<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcTotalMachineHours" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nama Sparepart<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcSparepart" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Harga Sparepart<span class="text-danger">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mcHargaSparepart" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" id="evaluasiresiko">
                                    <h4>Evaluasi Risiko</h4>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault1" value="Yes" disabled="disabled">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Perlu Ditindaklanjuti dengan Pengkajian Risiko
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault2" value="No" disabled="disabled">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Tidak Perlu Ditindaklanjuti dengan Pengkajian
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-custom-all-bordered" id="deviationdatatable" width="3450px" style="color:black;border:solid;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" width="50px">No</th>
                                            <th rowspan="2" width="250px">Disposisi Tindakan Remedial</th>
                                            <th rowspan="2" width="150px">Nama PIC</th>
                                            <th rowspan="2">Hasil Tindakan Remedial</th>
                                            <th colspan="5" style="text-align:center">Testing Cost</th>
                                            <th colspan="4" style="text-align:center">Processing Cost</th>
                                            <th colspan="3" style="text-align:center">Reject Cost</th>
                                            <th colspan="6" style="text-align:center">Machine Cost</th>
                                            <th rowspan="2" style="text-align:center" width="20px">Dokumen Pendukung</th>
                                        </tr>
                                        <tr>
                                            <th width="75px">Jumlah Personel (orang)</th>
                                            <th width="75px">Durasi Pengerjaan (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="150px">Cost of Analysis (Rp)</th>
                                            <th width="75px">Jumlah Personel (orang)</th>
                                            <th width="75px">Durasi Pengerjaan (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="75px">Material</th>
                                            <th width="75px">Quantity</th>
                                            <th width="75px">Cost Material (Rp)</th>
                                            <th width="75px">Jumlah Teknisi (orang)</th>
                                            <th width="75px">Durasi (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="75px">Nama Sparepart</th>
                                            <th width="75px">Harga Sparepart (Rp)</th>
                                            <th width="75px" hidden="hidden">NIK PIC</th>
                                        </tr>

                                    </thead>
                                    <tbody id="deviationtable">
                                    </tbody>
                                    <tfoot id="picfooter">
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tabel2" hidden="hidden">
                        <div class="card-body">
                            <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="buktidatatable" width="100%">
                                <thead>
                                    <tr>
                                        <th width="75px">No</th>
                                        <th width="100px">Nama PIC</th>
                                        <th width="75px">Nama File</th>
                                    </tr>
                                </thead>
                                <tbody id="buktitable" class="nowrap">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="hidden" id="totalCost" />
                    <input type="hidden" id="flagPIC" />
                    <input type="hidden" id="picNIK" />
                    <input type="hidden" id="groupSite" />
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce="FDaVOmGSur+NPTb0b64Xkg==">
	$(document).ready(function () {
		//FORM INPUT
		LoadFormInput();
		//LoadUserInvolved();
		//GetFileAttachment();
		@*GetUsulanTindakan();*@

		//$(".site-dropdown").click(function () {
		//	GetAllSite();
		//});

		/* LIST OF REVIEWER AND DISPOSISI */
		LoadReviewerData();
		LoadKeteranganDisposisi();

		LoadBukti();
		@*LoadPICSection();*@

		LoadDataVerifikasiTindakan();

		$("#btnApprove").click(function () {
			Approve();
		});

		$("#btnReject").click(function () {
			Reject();
		});

		$('#deviationdatatable tbody').on('click', 'input[id="btnShowBukti"]', function () {
            event.preventDefault();
            var row = $(this).closest("TR");
            var ReqID = @ViewBag.nomor;
            var picnik = $("TD", row).eq(22).html();
            var seq = $("TD", row).eq(0).html();

            var dto = {
                REQID: ReqID,
                IDUSER: picnik,
                NO_DISPOSISI: seq
            }
			@*console.log(dto);*@
            $.ajax({
                url: "../QualityManager/QM_ShowBuktiTable",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    @*console.log(data);*@
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    if (Count == '0') {
                        trHTML +=
                            '<tr><td> - </td>' +
                            '<td> - </td>' +
                            '<td> - </td>';

                    } else {
                        for (trav = 0; trav < Count; trav++) {
                            var no = 1;
                            no = no + trav;
                            trHTML +=
                                '<tr><td>' + no + '</td>' +
                                '<td>' + data[trav].PIC_ID + '</td>' +
                            '<td><a href="' + data[trav].PATH_FILE + '" download="' + data[trav].FILE_NAME_UPLOAD + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';
                        }
                    }

                    $('#buktidatatable').DataTable().clear().destroy();

                    $('#buktitable').empty();
                    $('#buktitable').append(trHTML);
                    $('#buktidatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });

                    $("#tabel2").removeAttr("hidden");
                }
                , error: function (ex) {
                    GetErrorSupRemedial("Koor:Coor_ShowBuktiTable", JSON.stringify(ex));
                }
            });
        });
    });

	@*function GetUsulanTindakan() {
		var REQID = @ViewBag.nomor;
		var dis = @ViewBag.dis;

		var dtx = {
			NO_DISPOSISI: dis,
			REQ_ID: REQID
		};

		$.ajax({
			url: "../SpvPIC/GetDisposisiTindakan",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dtx),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				document.getElementById('disposisitindakan').value = data[0].DISPOSISI_TINDAKAN;
			}, error: function (ex) {
                GetErrorSupRemedial("GetDisposisiTindakanSupPIC", JSON.stringify(ex));
			}
		});
	}*@

	//FORM INPUT

	function LoadFormInput() {
		var nomor = @ViewBag.nomor;
		//var dto = {
		//	ReqID: nomor
		//}

		//$.ajax({
		//	url: "../SpvPelapor/App_LoadDeviationApproval",
		//	type: "post",
		//	dataType: "json",
		//	data: JSON.stringify(dto),
		//	contentType: "application/json;charset=utf-8",
		//	success: function (data) {

		//		var text = '';

		//		$('#txtUsulanRemidial').val(data[0].USULAN_REMIDIAL);
		//		$('#TxtNoWO').val(data[0].NO_WO_ORACLE);
		//		document.getElementById('txtTindakan').value = data[0].ACTION_WHEN_DEV;

		//		document.getElementById('TbTglCreated').value = data[0].CREATION_DATE;
		//		document.getElementById('TbNmrDev').value = data[0].DEVIATION_NO;
		//		document.getElementById('TbPesul').value = data[0].NAME_PROPOSER;
		//		document.getElementById('TbDeptPusul').value = data[0].DEPARTEMENT;

		//		GetAllSite();

		//		text = '<Option class="dropdown-item" value = "' + data[0].ID_DEVIATION_CATEGORY + '" selected >' + data[0].ID_DEVIATION_CATEGORY;

		//		$("#ddlKategori").empty();
		//		$("#ddlKategori").append(text);
		//		$("#ddlKategori").selectpicker();

		//		document.getElementById('txtKetKategori').value = data[0].KET_CATEGORY;

		//		document.getElementById('txtProblem').value = data[0].PROBLEM;
		//		document.getElementById('txtLokasi').value = data[0].LOCATION;
		//		document.getElementById('txtHow').value = data[0].ORDER_OF_EVENTS;
		//		document.getElementById('date-format').value = data[0].DATE_OF_INCIDENT;

		//		document.getElementById('txtReq').value = data[0].REQ;


		//		// 1st Card Radio Button

		//		// Travel 5 -> missing
		//		$("input[name=travel5][value=" + data[0].PLAN_DEV + "]").prop('checked', true);

		//		// Travel 4 -> missing
		//		$("input[name=travel4][value=" + data[0].THIRTY_FLAG + "]").prop('checked', true);
		//		document.getElementById('txt1').value = data[0].THIRTY;

		//		// Travel 1

		//		$("input[name=travel1][value=" + data[0].SAME_POTEN_DEV_FLAG + "]").prop('checked', true);
		//		document.getElementById('txtsama').value = data[0].SAME_POTEN_DEV;

		//		// Travel 2 (Txt2 HTML5 missing)

		//		$("input[name=travel2][value=" + data[0].POTEN_DEV_RLS_FLG + "]").prop('checked', true);
		//		document.getElementById('txtrilis').value = data[0].POTEN_DEV_RLS;

		//		// Travel 3 (Txt3 HTML5 missing)
		//		$("input[name=travel3][value=" + data[0].POTEN_DEV_OTH_FLG + "]").prop('checked', true);
		//		document.getElementById('txtlain').value = data[0].POTEN_DEV_OTH;

		//		// 2nd Card FINISHED!

		//		// 2nd Card Quality Product

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_QUALITY_PRODUCT + '" selected >' + data[0].QUALITY_PRODUCT;

		//		$("#ddlKualProd").empty();
		//		$("#ddlKualProd").append(text);
		//		$("#ddlKualProd").selectpicker();

		//		// 2nd Card Compliance

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_COMPLIANCE + '" selected >' + data[0].COMPLIANCE;

		//		$("#ddlCompliance").empty();
		//		$("#ddlCompliance").append(text);
		//		$("#ddlCompliance").selectpicker();

		//		// 2nd Card Operational Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_OPERATION + '" selected >' + data[0].RISK_OPERATION;

		//		$("#ddlRiskOpr").empty();
		//		$("#ddlRiskOpr").append(text);
		//		$("#ddlRiskOpr").selectpicker();

		//		// 2nd Card Financial Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_FINANCIAL + '" selected >' + data[0].RISK_FINANCIAL;

		//		$("#ddlRiskFin").empty();
		//		$("#ddlRiskFin").append(text);
		//		$("#ddlRiskFin").selectpicker();

		//		// 2nd Card Organizational Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_ORGANIZATION + '" selected >' + data[0].RISK_ORGANIZATION;

		//		$("#ddlRiskOrg").empty();
		//		$("#ddlRiskOrg").append(text);
		//		$("#ddlRiskOrg").selectpicker();

		//		// 2nd Card Personel Security Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_SECURITY + '" selected >' + data[0].RISK_SECURITY;

		//		$("#ddlKeamamananP").empty();
		//		$("#ddlKeamamananP").append(text);
		//		$("#ddlKeamamananP").selectpicker();

		//		// 2nd Card Personel Security Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_HEALTY + '" selected >' + data[0].RISK_HEALTY;

		//		$("#ddlKesehatanPer").empty();
		//		$("#ddlKesehatanPer").append(text);
		//		$("#ddlKesehatanPer").selectpicker();

		//		// 2nd Card Environment Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_ENVIRONTMENT + '" selected >' + data[0].RISK_ENVIRONTMENT;

		//		$("#ddlResLingk").empty();
		//		$("#ddlResLingk").append(text);
		//		$("#ddlResLingk").selectpicker();

		//		// 2nd Card Intellectual Risk

		//		text = '<Option class="dropdown-item" value = "' + data[0].NO_RISK_INTELLECTUAL + '" selected >' + data[0].RISK_INTELLECTUAL;

		//		$("#ddlRiskIntelek").empty();
		//		$("#ddlRiskIntelek").append(text);
		//		$("#ddlRiskIntelek").selectpicker();

		//		// 2nd Card Severity Risk

		//		document.getElementById('txtKeparahan').value = data[0].SEVERTY_DEVIATION;

		//		$('textarea').each(function () {
		//			this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
		//		}).on('input', function () {
		//			this.style.height = 'auto';
		//			this.style.height = (this.scrollHeight) + 'px';
		//		});

		//	}, error: function (ex) {
		//		alert(JSON.stringify(ex));
		//	}
		//});

		var dtx = {
			REQID: nomor
		}

		// GET EVALUASI RESIKO
		$.ajax({
			url: "../Koordinator/LoadEvaluasiResiko",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dtx),
			contentType: "application/json;charset=utf-8",
            success: function (data) {
				$("input[name=radbut][value=" + data[0].EVALUASI_RESIKO + "]").prop('checked', true);
			},
			error: function (ex) {
                GetErrorSupRemedial("LoadEvalusiResSupPIC", JSON.stringify(ex));
			}
		});
	}

	@*function GetAllSite() {

		GetAllSite = function () { };

		var REQID = @ViewBag.nomor;

		var dto = {
			ReqID: REQID
		}

		$.ajax({
			url: "../SpvPelapor/App_GetSiteName",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var count = data.length;
				var trhtml = '';
				var trav = 0;
				trhtml += '<select id="ddlSite" disabled>';
				trhtml += '<option disabled hidden class="dropdown-header"  value = " " >   Site Pelapor   </option>';

				if (count > 0) {
					for (trav = 0; trav < count; trav++) {

						if (data[trav].DDL_TRUE == '' || data[trav].DDL_TRUE == null) {
							trhtml += '<Option class="dropdown-item" selected value = "" > - ';
							break;
						}

						if (data[trav].DDL_TRUE == data[trav].DDL_CODE) {
							trhtml += '<Option class="dropdown-item" selected value = "' + data[trav].DDL_CODE + '" > ' + data[trav].DDL_DESCRIPTION;
						} else {
							trhtml += '<Option class="dropdown-item" value = "' + data[trav].DDL_CODE + '" > ' + data[trav].DDL_DESCRIPTION;
						}
					}
				}

				trhtml += '</select>';

				$(".site-dropdown").empty();
				$(".site-dropdown").append(trhtml);
				$("#ddlSite").selectpicker();

				GetAllSite = function () { };

			},
			error: function (ex) {
				alert('Error : ' + JSON.stringify(ex));
			}
		});
	}*@

	@*function LoadUserInvolved() {

			var REQID = @ViewBag.nomor;

			var dto = {
				ReqID: REQID
			}

		$.ajax({
			url: "../SpvPelapor/App_LoadUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					$('#tblWho').attr('hidden', false);

					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {
						trHTML += '<tr><td>' + data[trav].NO + '</td>' +
							'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
							'<td style="display:none">' + data[trav].RecordID + '</td>' +
							'<td>' + data[trav].USER_NAME + '</td>' +
							'<td align = "center"> - </td ></tr > ';
					}

					$("#tblBodyWho").empty();
					$("#tblBodyWho").append(trHTML);
					$("#tblBodyWho").addBack();
				}
				else {
					$('#tblWho').attr('hidden', true);
					$("#tblBodyWho").addBack();
				}

			}
			, error: function (ex) {
				alert('Error Load User Involved : ' + JSON.stringify(ex));
			}
		});
	}*@

	@*function GetFileAttachment() {

		var ReqID = @ViewBag.nomor;
		var dto = {
			ReqID: ReqID
		}

		$.ajax({
			type: "POST",
			url: "../SpvPelapor/App_LoadAttachment",
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					var trHTML = '';
					var trav = 0;
					var Count = data.length;

					if (Count > 0) {
						for (trav = 0; trav < Count; trav++) {
							var no = 1
							no = no + trav
							trHTML += '<tr><td>' + no + '</td>' +
								'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
								'<td style="display:none">' + data[trav].NO_FILE + '</td>' +
								'<td>' + data[trav].file_name_upload + '</td>' +
								'<td style="display:none;">' + data[trav].path_file + '</td>' +
								'<td> - </td></tr>';
						}

						$("#tbody_Attachment").empty();
						$("#tbody_Attachment").append(trHTML);
						$("#tbody_Attachment").addBack();

					} else {
						$("#tbl_Attachment").hide();
					}
				} else {
					$("#tbl_Attachment").hide();
					$("#tbody_Attachment").addBack();
				}
			},
			error: function (ex) {
				alert('Error Load Attachment : ' + JSON.stringify(ex));
			}
		});
	}*@

	function LoadReviewerData() {
        var nomor = @ViewBag.nomor;

        var dto = {
            ReqID: nomor
        }

        $.ajax({
            url: "../QualityManager/QM_LoadDeviationApproval",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var flag = 0;
                var text = '';
                var trav = 0;
                var Count = data.length;
                var trHTML = '';

                if (Count < 1) {
                    $('#DIV_REVIEWER').hide();
                } else {
                    for (trav = 0; trav < Count; trav++) {

                        text +=
                            '<div class="container-fluid">' +

                            '<div class="card-body bg-gallery row">' +
                            '<div class="col-md-7">' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">Keterangan Review</label>' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<input type="text" class="form-control" placeholder="Keterangan Reviewer" style="width: 500px;" disabled value="' + data[trav].KETERANGAN_REVIEW + '">' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">File Pendukung</label>' +
                            '</div>' +

                            '<div class="row form-group">' +
                            '<div class="table-responsive">' +
                            '<table id="tbl_Attachmentyuhu" class="table table-striped table-bordered" style="width: 500px">' +
                            '<thead>' +
                            '<tr>' +
                            '<th>' +
                            '<b>No</b>' +
                            '</th>' +
                            '<th>' +
                            '<b>File Name</b>' +
                            '</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody id="tbody_Attachmentx' + trav + '"></tbody>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +

                            '<div class="col-md-5" id="go">' +

                            '<input type="text" value="' + data[trav].USER_NIK + '" hidden="hidden" id="nik' + trav + '">' +

                            '<div class="row form-group">' +
                            '<label class="col-form-label label-trigger">Nama Reviewer</label>' +
                            '</div>' +
                            '<div class="row form-group">' +
                            '<input type text class="form-control" placeholder="Nama Reviewer" disabled="disabled" value="' + data[trav].USER_NAME + '">' +
                            '</div>';

                        text +=
                            '</div>' +

                            '</div>' +
                            '</div>';



                        // FUNCTION FOR LOAD REVIEWER'S REVIEW
                        var username = data[trav].USERNAME //USER_NIK
                        var trap = 0;
                        var xto = {
                            ReqID: nomor,
                            USERNIK: username
                        }

                        $.ajax({
                            type: "POST",
                            url: "../QualityManager/QM_LoadAttachment",
                            data: JSON.stringify(xto),

                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (datac) {

                                var trax = 0;
                                var hitung = datac.length;
                                var trHTML = '';
                                var no = 0;

                                // JAVASCRIPT WORKS ASYNC-LY, USING THIS METHOD WILL PREVENT IT FROM BREAKING THE CODE

                                // 1st LOOP FOR TOTAL DOCUMENT
                                for (trap = 0; trap < hitung; trap++) {
                                    // 2nd LOOP FOR TOTAL REVIEWER
                                    for (flag = 0; flag < trav; flag++) {
                                        // IF CLAUSE WHERE DOCUMENT AND REVIEWER HAS THE SAME ATTRIBUTES
                                        if (datac[trap].REVIEWER_ID == data[flag].USER_NIK) {
                                            var no = 1;
                                            no = no + trap

                                            trHTML +=
                                                '<tr><td>' + no + '</td>' +
												'<td><a href=..' + datac[trap].PATH_FILE_DOWNLOAD + ' download="' + datac[trap].FILE_NAME_UPLOAD + '">' + datac[trap].FILE_NAME_UPLOAD + '</a></td>' +
                                                '<td hidden="hidden">' + datac[trap].REVIEWER_ID + '</td>';

                                            $("#tbody_Attachmentx" + flag).empty();
                                            $("#tbody_Attachmentx" + flag).append(trHTML);
                                            $("#tbody_Attachmentx" + flag).addBack();

                                        }
                                    }

                                }

                            }, error: function (ex) {
                                GetErrorSupRemedial("AttchmentSupPIC", JSON.stringify(ex));
                            }, async: true

                        });


                    }

                    $("#Reviewer").empty();
                    $("#Reviewer").append(text);

                    $('textarea').each(function () {
                        this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                    }).on('input', function () {
                        this.style.height = 'auto';
                        this.style.height = (this.scrollHeight) + 'px';
                    });
                }


            }, error: function (ex) {
                GetErrorSupRemedial("DeviationApprovalSupPIC", JSON.stringify(ex));
            }, async: false
        });
	}



	function LoadDataVerifikasiTindakan() {

		var nomor = @ViewBag.nomor;
		var urutan = @ViewBag.dis;

		var dto = {
            REQID: nomor,
            NoDisposisi: urutan
		}

			$.ajax({
                url: "../SpvPIC/LoadPICCost",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {
					@*console.log(data);*@
					var checkVerify = 0;
					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {
						var counter = 1;
						counter += trav;
						trHTML +=
							'<tr><td align="center">' + counter + '</td>' +
							'<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
							'<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
						'<td>' + data[trav].HASIL_TINDAKAN + '</td>' +

							'<td align="right">' + data[trav].TESTING_JUMLAH_PELAKSANA + '</td>' +
							'<td align="right">' + data[trav].TESTING_DURASI_PENGERJAAN + '</td>' +
							'<td align="right">' + data[trav].TESTING_MANHOURS + '</td>' +
							//'<td>' + data[trav].TESTING_DURASI_PENGERJAAN * data[trav].TESTING_JUMLAH_PELAKSANA  + '</td>' +
							'<td align="right">' + data[trav].TESTING_MANHOURS_VALUE + '</td>' +
						'<td align="right">' + data[trav].TESTING_COST_OF_ANALYSIS + '</td>' +

							'<td align="right">' + data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
							'<td align="right">' + data[trav].PROC_DURASI_PENGERJAAN + '</td>' +
                        //'<td>' + data[trav].PROC_DURASI_PENGERJAAN * data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
							'<td align="right">' + data[trav].PROC_MANHOURS + '</td>' +
						'<td align="right">' + data[trav].PROC_MANHOURS_VALUE + '</td>' +

							'<td align="right">' + data[trav].REJ_MATERIAL + '</td>' +
							'<td align="right">' + data[trav].REJ_QUANTITY + '</td>' +
							'<td align="right">' + data[trav].REJ_COST_MATERIAL + '</td>' +

							'<td align="right">' + data[trav].MC_JUMLAH_TEKNISI + '</td>' +
							'<td align="right">' + data[trav].MC_DURASI_PENGERJAAN + '</td>' +
							'<td align="right">' + data[trav].MC_MANHOURS + '</td>' +
							'<td align="right">' + data[trav].MC_MANHOURS_VALUE + '</td>' +
							'<td>' + data[trav].MC_SPAREPART + '</td>' +
							'<td align="right">' + data[trav].MC_TOTAL_HARGA_SPAREPART + '</td>' +
							'<td hidden="hidden">' + data[trav].PIC_REMEDIAL_NIK + '</td>';

						if (data[trav].FLAG_PIC == null || data[trav].FLAG_PIC == 'ASSIGNED') {
							trHTML +=
								'<td align="center"> - </td>';

						} else {
							trHTML +=
								'<td align="center"><input type="button" id="btnShowBukti" class="btn btn-info" style="font-weight: bold; font-size:15px" value="i"></td > ';
						}

					}

					$('#deviationdatatable').DataTable().clear().destroy();
					$('#deviationtable').empty();
					$('#deviationtable').append(trHTML);
					$('#deviationdatatable').DataTable({
						"searching": false,
						"paging": false,
						"info": false,
						"ordering": false
					});

					if (checkVerify > 0) {
                        $('#headVerify').focus();
					}

					$('#flagPIC').val(data[0].FLAG_PIC);
                    @*console.log(data[0].FLAG_PIC);*@
                    $('#picNIK').val(data[0].PIC_REMEDIAL_NIK);
                    $('#groupSite').val(data[0].GROUP_SITE);
				},
				error: function (ex) {
                    GetErrorSupRemedial("LoadDataVerifikasi", JSON.stringify(ex));
				}
			})

        $.ajax({
            url: "../SpvPIC/LoadPICCostFooter",
            type: "post",
            data: JSON.stringify(dto),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
			success: function (data) {
				@*console.log(data);*@
                var trHTML = '';
                var trav = 0;
                var Count = data.length;
                for (trav = 0; trav < Count; trav++) {

					trHTML +=
						'<tr>' +
						'<th colspan="4" rowspan="2" style= "text-align: right;  background-color: #f3f3f3;vertical-align:middle;"> Total</th >' +
						'<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Testing Manhours</th>' +
						'<th style="text-align: right; background-color: #f3f3f3">Total Testing Manhours Cost</th>' +
						'<th style="text-align: right; background-color: #f3f3f3">Total Analysis Cost</th>' +
						'<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Processing Manhours</th>' +
						'<th style="text-align: right; background-color: #f3f3f3">Total Processing Cost</th>' +
						'<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Rejected Cost</th>' +
						'<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Machine Manhours</th>' +
						'<th style="text-align: right; background-color: #f3f3f3">Total Machine Manhours Cost</th>' +
						'<th colspan="2" style="text-align: right; background-color: #f3f3f3">Total Machine Cost</th>' +
						'</tr >' +

						'<tr>' +
						'<td colspan = "3" align = "right" style = "padding:10px 8px" > ' + data[0].TOTAL_TESTING_MANHOURS + '</td > '
						+
						'<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_MANHOURS_COST + '</td>' +
						'<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_COA + '</td>' +

						'<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_PROC_MANHOURS + '</td>' +
						'<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_PROC_COST + '</td>' +

						'<td align="right" colspan="3" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_REJ_COST + '</td>' +

						'<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_MC_MANHOURS + '</td>' +
						'<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_MANHOURS_COST + '</td>' +
						'<td align="right" colspan="2" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_HARGA_SPAREPART + '</td></tr>'+


						'<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Times (Total Testing Manhours + Total Processing Manhours + Total Machine Manhours)</th>' +
						'<td colspan="3" align="right" style="padding:10px 8px">' + data[trav].TOTAL_TIMES + '</td></tr>' +

						'<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Cost (Total Testing Cost + Total Processing Cost + Total Reject Cost + Total Machine Cost)</th>' +
						'<td colspan="3" align="right" style="padding:10px 8px"> Rp. ' + data[trav].TOTAL_COST + '</td></tr>';

                }

                // NO NEED TO DECLARE DATA TABLE COZ FOOTER IS FOOTER AND THE TABLE IS NOT GONNA CHANGE ANYWAY


                $('#picfooter').empty();
				$('#picfooter').append(trHTML);


                $('#totalCost').val(data[0].TOTAL_COST);
            },
            error: function (ex) {
                GetErrorSupRemedial("FooterVerifikasi", JSON.stringify(ex));
            }
        })

		// GET EVALUASI RESIKO
		$.ajax({
			url: "../Koordinator/LoadEvaluasiResiko",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				$("input[name=radbut][value=" + data[0].EVALUASI_RESIKO + "]").prop('checked', true);
			},
			error: function (ex) {
                GetErrorSupRemedial("LoadEvaluasiResikoVerifikasi", JSON.stringify(ex));
			}
		});

	};

    @*function LoadReviewerData() {
		var nomor = @ViewBag.nomor;

		var dto = {
			ReqID: nomor
		}

		$.ajax({
			url: "../QualityManager/QM_LoadDeviationApproval",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				var flag = 0;
				var text = '';
				var trav = 0;
				var Count = data.length;
				var trHTML = '';

				for (trav = 0; trav < Count; trav++) {

					text +=
						'<div class="container-fluid">' +

						'<div class="card-body bg-gallery row">' +
						'<div class="col-md-7">' +

						'<div class="row form-group">' +
						'<label class="col-form-label label-trigger">Keterangan Review</label>' +
						'</div>' +

						'<div class="row form-group">' +
						'<textarea class="form-control" placeholder="Keterangan Reviewer" style="width: 500px;" disabled>' + data[trav].KETERANGAN_REVIEW +  '</textarea>' +
						'</div>' +

						'<div class="row form-group">' +
						'<label class="col-form-label label-trigger">File Pendukung</label>' +
						'</div>' +

						'<div class="row form-group">' +
						'<div class="table-responsive">' +
						'<table id="tbl_Attachmentyuhu" class="table table-info table-striped table-bordered" style="width: 500px">' +
						'<thead>' +
						'<tr>' +
						'<th>' +
						'<b>No</b>' +
						'</th>' +
						'<th>' +
						'<b>File Name</b>' +
						'</th>' +
						'</tr>' +
						'</thead>' +
						'<tbody id="tbody_Attachmentx' + trav + '"></tbody>' +
						'</table>' +
						'</div>' +
						'</div>' +
						'</div>' +

						'<div class="col-md-5" id="go">' +

						'<input type="text" value="' + data[trav].USER_NIK + '" hidden="hidden" id="nik' + trav + '">' +

						'<div class="row form-group">' +
						'<label class="col-form-label label-trigger">Nama Reviewer</label>' +
						'</div>' +
						'<div class="row form-group">' +
						'<input type text class="form-control" placeholder="Nama Reviewer" disabled="disabled" value="' + data[trav].USER_NAME + '">' +
						'</div>';

					text +=
						'</div>' +

						'</div>' +
						'</div>';



					// FUNCTION FOR LOAD REVIEWER'S REVIEW
					var usernik = data[trav].USER_NIK
					var trap = 0;
					var xto = {
						ReqID: nomor,
						USERNIK: usernik
					}

					$.ajax({
						type: "POST",
						url: "../QualityManager/QM_LoadAttachment",
						data: JSON.stringify(xto),

						dataType: "json",
						contentType: "application/json;charset=utf-8",
						success: function (datac) {

							var trax = 0;
							var hitung = datac.length;
							var trHTML = '';
							var no = 0;

							// JAVASCRIPT WORKS ASYNC-LY, USING THIS METHOD WILL PREVENT IT FROM BREAKING THE CODE

							// 1st LOOP FOR TOTAL DOCUMENT
							for (trap = 0; trap < hitung; trap++) {
								// 2nd LOOP FOR TOTAL REVIEWER
								for (flag = 0; flag < trav; flag++) {
									// IF CLAUSE WHERE DOCUMENT AND REVIEWER HAS THE SAME ATTRIBUTES
									if (datac[trap].REVIEWER_ID == data[flag].USER_NIK) {
										var no = 1;
										no = no + trap

										trHTML +=
											'<tr><td>' + no + '</td>' +
											'<td><a href="../' + datac[trap].PATH_FILE + '" download="' + datac[trap].PATH_FILE + '">' + datac[trap].FILE_NAME_UPLOAD + '</a></td>' +
											'<td hidden="hidden">' + datac[trap].REVIEWER_ID + '</td>';

										$("#tbody_Attachmentx" + flag).empty();
										$("#tbody_Attachmentx" + flag).append(trHTML);
										$("#tbody_Attachmentx" + flag).addBack();

									}
								}

							}

						}, error: function (ex) {
							alert('Error Load Attachment : ' + JSON.stringify(ex));
						}, async: true

					});


				}

				$("#Reviewer").empty();
				$("#Reviewer").append(text);

				$('textarea').each(function () {
					this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;width:500px;overflow-y:hidden;');
				}).on('input', function () {
					this.style.height = 'auto';
					this.style.height = (this.scrollHeight) + 'px';
				});

			}, error: function (ex) {
				alert(JSON.stringify(ex));
			}, async: false
		});
	}*@

	function LoadKeteranganDisposisi() {

		var REQID = @ViewBag.nomor;

		var dto = {
			REQ_ID: REQID
		}

		$.ajax({
			url: "../QualityManager/QM_LoadKeteranganDisposisi",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					$('#tblDis').attr('hidden', false);

					var trHTML = '';
					var trav = 0;
					var Count = data.length;


					for (trav = 0; trav < Count; trav++) {
						var no = 1;
						no = no + trav;

						trHTML += '<tr><td hidden="hidden">' + data[trav].NO_DISPOSISI + '</td>' +
							'<td>' + no + '</td>' +
							'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
							'<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
							'<td align="center">-</td ></tr>';
					}

					$("#tblDisKet").empty();
					$("#tblDisKet").append(trHTML);
					$("#tblDisKet").addBack();
				}
				else {
					$('#tblDis').attr('hidden', true);
					$("#tblDisKet").addBack();
				}

			}
			, error: function (ex) {
                GetErrorSupRemedial("LoadKetDispSupPIC", JSON.stringify(ex));
			}
		});
	}

	function LoadBukti() {

		var REQID = @ViewBag.nomor;
		var DIS = @ViewBag.dis;

		var dto = {
			REQ_ID: REQID,
			NO_DISPOSISI: DIS
		}

		$.ajax({
			url: "../SpvPIC/LoadBukti",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					$('#tblDis').attr('hidden', false);

					//var trHTML = '';
					//var trav = 0;
					//var Count = data.length;


					//for (trav = 0; trav < Count; trav++) {
					//	var no = 1;
					//	no = no + trav;

					//	trHTML += '<tr><td>' + no + '</td>' +
					//		'<td>' + data[trav].FILE_NAME_UPLOAD + '</td>';
					//}

					//$("#tblBukti").empty();
					//$("#tblBukti").append(trHTML);
					//$("#tblBukti").addBack();

                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    for (trav = 0; trav < Count; trav++) {
                        var no = 1;
                        no = no + trav;
                        trHTML +=
                            '<tr><td>' + no + '</td>' +
                            '<td><a href="../' + data[trav].PATH_FILE + '" download="' + data[trav].PATH_FILE + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';

                    }

                    $('#tblBuktiBody').empty();
                    $('#tblBuktiBody').append(trHTML);
                    $('#tblBukti').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });
				}
				else {
                    $("#tblBuktiBody").addBack();
				}
			}
			, error: function (ex) {
                GetErrorSupRemedial("LoadBuktiSupPIC", JSON.stringify(ex));
			}
		});
	}

	@*function LoadPICSection() {

		var REQID = @ViewBag.nomor;
		var DIS = @ViewBag.dis;

		var dto = {
			REQ_ID: REQID,
			NO_DISPOSISI: DIS
		}

		$.ajax({
			url: "../SpvPIC/LoadPICSection",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				document.getElementById('txtHasilTindakan').value = data[0].HASIL_TINDAKAN;

				document.getElementById('testingDurasiPengerjaan').value = data[0].TESTING_DURASI_PENGERJAAN;
				document.getElementById('testingJumlahPelaksana').value = data[0].TESTING_JUMLAH_PELAKSANA;
				document.getElementById('testingManhoursValue').value = data[0].TESTING_MANHOURS_VALUE;
				document.getElementById('testingCostAnalysis').value = data[0].TESTING_COST_OF_ANALYSIS;

				document.getElementById('procDurasiPengerjaan').value = data[0].PROC_DURASI_PENGERJAAN;
				document.getElementById('procJumlahPelaksana').value = data[0].PROC_JUMLAH_PELAKSANA;
				document.getElementById('procManhoursValue').value = data[0].PROC_MANHOURS_VALUE;
				document.getElementById('procMaterial').value = data[0].PROC_MATERIAL;
				document.getElementById('procQty').value = data[0].PROC_QUANTITY;
				document.getElementById('procCostMaterial').value = data[0].PROC_COST_MATERIAL;

				document.getElementById('rejMaterial').value = data[0].REJ_MATERIAL;
				document.getElementById('rejQty').value = data[0].REJ_QUANTITY;
				document.getElementById('rejCostMaterial').value = data[0].REJ_COST_MATERIAL;

				document.getElementById('mcDurasiPengerjaan').value = data[0].MC_DURASI_PENGERJAAN;
				document.getElementById('mcJumlahTeknisi').value = data[0].MC_JUMLAH_TEKNISI;
				document.getElementById('mcManhoursValue').value = data[0].MC_MANHOURS_VALUE;
				document.getElementById('mcNamaMesin').value = data[0].MC_NAMA_MESIN;
                document.getElementById('mcSparepart').value = data[0].MC_SPAREPART;
                document.getElementById('mcHargaSparepart').value = data[0].MC_TOTAL_HARGA_SPAREPART;
				document.getElementById('mcTotalMachineHours').value = data[0].MC_TOTAL_MACHINE_HOURS_VALUE;

				$('textarea').each(function () {
                    this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });
			}
			, error: function (ex) {
                GetErrorSupRemedial("LoadPICSecSupPIC", JSON.stringify(ex));
			}
		});
	}*@

    var totalCost = 0;

	function Approve() {
		var REQID = @ViewBag.nomor;
		var DIS = @ViewBag.dis;
		var IDUser = '@Request.RequestContext.HttpContext.Session["xUser"]';
        var jobTitle = '@Request.RequestContext.HttpContext.Session["jobttlname"]';

		totalCost = $("#totalCost").val();
		if (totalCost == null || totalCost == '' || totalCost == '-') {
			totalCost = 0;
		}
		else {
            totalCost = totalCost.replace(/\,/g, '');
			totalCost = parseInt(totalCost);
        }

		var flagPICBefore = $("#flagPIC").val();
		//kalau cost <15jt, langsung accepted dan ke koor
		var flagPICAfter = 'REMEDIAL ACCEPTED BY SPV PIC';
		var status = 'DONE';

        if (totalCost >= 15000000) {
            //kalau yg login sup pic
			if (flagPICBefore == 'SUBMITTED') {
                if (jobTitle.includes("Head") === true) {
                    flagPICAfter = 'REMEDIAL ACCEPTED BY DIV HEAD';
				} else {
                    flagPICAfter = 'REMEDIAL WAITING FOR DIV HEAD';
                    status = 'NOT DONE';
                }
            }
			//kalau yg login div head
            else if (flagPICBefore == 'REMEDIAL WAITING FOR DIV HEAD') {
				flagPICAfter = 'REMEDIAL ACCEPTED BY DIV HEAD';
			}
           
		}


		@*console.log(flagPICBefore);
		console.log(flagPICAfter);*@
       @* alert(status);*@

		//approve oleh sup pic maupun div head
		function ApproveSupPIC() {
            var dto = {
                REQ_ID: REQID,
                NO_DISPOSISI: DIS,
				CURR_USER: IDUser,
                STATUS: flagPICAfter
            }

            $.ajax({
                url: "../SpvPIC/Approve",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

					Swal.fire({
                        icon: 'success',
                        title: 'Form Approved',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
						window.location.href = "../DataDeviasi/PendingTask"
                    })
                }
                , error: function (ex) {
                    GetErrorSupRemedial("ApproveSupPIC", JSON.stringify(ex));
                }
            });
		}

        function EmailApproveSupPIC() {
            var tabletype = "More Than One";
            var whoreceiver = "Koordinator after Superior PIC Approved Cost";
			var costTOTAL = $("#totalCost").val();
            var DIS = @ViewBag.dis;
			@*alert(totalCost)*@
            @*alert(costTOTAL)*@
			var dto = {
                Urutan: DIS,
                TotalCost: costTOTAL,
                Username: IDUser,
                ReqID: REQID,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorSupRemedial("EmailAppSupPIC", JSON.stringify(ex));
                }
            });
		}

        function EmailApproveDivHead() {
            var tabletype = "More Than One";
            var whoreceiver = "Div Head after Sup PIC Approve Cost";
			var urutan = @ViewBag.dis;

            var dto = {
                Urutan: urutan,
                Username: IDUser,
                ReqID: REQID,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorSupRemedial("EmailApproveDivHead", JSON.stringify(ex));
                }
            });
        }

		//kalau <15jt sup udah approve atau >=15jt div head udah approve
        if (status =='DONE' ) {
            $.when(ApproveSupPIC()).done(EmailApproveSupPIC());
		}
		//kalau approval lanjut ke div head
        else {
            $.when(ApproveSupPIC()).done(EmailApproveDivHead());
		}

	}

	function Reject() {
        Swal.fire({
            icon: 'question',
			title: 'Alasan Reject',
			input: 'textarea',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.isConfirmed) {
				if (result.value == null || result.value == '') {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Please Insert Reason!'
					});
				}
                else {
                    var flagPICBefore = $("#flagPIC").val();
                    //otomatis yg login sup pic
					/*var posisi = 'SUP PIC';*/

                    var jobTitle = '@Request.RequestContext.HttpContext.Session["jobttlname"]';
					var flagPICAfter = 'REMEDIAL REJECTED BY SPV PIC';

                    var totalCost = $("#totalCost").val();
                    if (totalCost == null || totalCost == '' || totalCost == '-') {
                        totalCost = 0;
                    }
                    else {
                        totalCost = totalCost.replace(/\,/g, '');
                        totalCost = parseInt(totalCost);
                    }

					//kalau yg login div head
                    if (totalCost >= 15000000 && flagPICBefore == 'REMEDIAL WAITING FOR DIV HEAD') {
						/*posisi = 'DIV HEAD';*/
                        flagPICAfter = 'REMEDIAL REJECTED BY DIV HEAD';
					}

                    if (totalCost >= 15000000) {
                        //kalau yg login sup pic 
                        if (flagPICBefore == 'SUBMITTED') {
                            if (jobTitle.includes("Head") === true) {
                                flagPICAfter = 'REMEDIAL REJECTED BY DIV HEAD';
                            } else {
                                flagPICAfter = 'REMEDIAL REJECTED BY SPV PIC';
                            }
                        }
                        //kalau yg login div head
                        else if (flagPICBefore == 'REMEDIAL WAITING FOR DIV HEAD') {
                            flagPICAfter = 'REMEDIAL REJECTED BY DIV HEAD';
                        }
           
                    }


					var REQID = @ViewBag.nomor;
					var DIS = @ViewBag.dis;

                    //kalau pic ke group
					var picIsGroup = false;
					var group = $("#picNIK").val();
					@*console.log(group);*@

                    //if (group.substring(1, 2) == "G_") {
					//	picIsGroup = true;
					//}
                    if (group.includes("G_") === true) {
                        picIsGroup = true;
                    }
					var groupSite = $('#groupSite').val();

                    /*alert(picIsGroup);*/

					function RejectRemidialSup() {
						var Keterangan = result.value;
						var IDUser = '@Request.RequestContext.HttpContext.Session["xUser"]';

						// PINJAM MODEL DISPOSISI
						var dto = {
							REQ_ID: REQID,
							KETERANGAN_DISPOSISI: Keterangan,
							NO_DISPOSISI: DIS,
                            CURR_USER: IDUser,
							STATUS: flagPICAfter
						};

						$.ajax({
							url: "../SpvPIC/Reject",
							type: "post",
							dataType: "json",
							data: JSON.stringify(dto),
							contentType: "application/json;charset=utf-8",
							success: function (data) {

								Swal.fire({
									icon: 'success',
									title: 'Form Rejected',
									showConfirmButton: false,
									timer: 2000
								}).then(() => {
									window.location.href = "../DataDeviasi/PendingTask"
								})
							}
							, error: function (ex) {
								GetErrorSupRemedial('RejSupPIC ', JSON.stringify(ex));
							}
						});
					}

					function EmailRejectSupPIC() {
                        var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
						var tabletype = "More Than One";
                        var whoreceiver = "";

						if (picIsGroup === true) {
                            whoreceiver = "PIC Group after Superior Rejected Cost";
                        } else {
                            whoreceiver = "PIC after Superior Rejected Cost";
                        }


						var dto = {
							Receiver: receiver,
							ReqID: REQID,
							TableType: tabletype,
							WhoReceiver: whoreceiver,
                            Urutan: DIS,
                            Group: group,
                            Site: groupSite,
						};

						$.ajax({
							type: "post",
							url: '../Form/SendEmailInputProposal',
							data: JSON.stringify(dto),
							dataType: "json",
							contentType: "application/json;charset=utf-8",
							success: function (data) {
								toastr.success("Email Sent Successfully !", "Notification", {
									"closeButton": false,
									"debug": true,
									"newestOnTop": false,
									"progressBar": false,
									"positionClass": "toast-bottom-right",
									"preventDuplicates": false,
									"onclick": null,
									"showDuration": "100",
									"hideDuration": "1000",
									"timeOut": "2000",
									"extendedTimeOut": "1000",
									"showEasing": "swing",
									"hideEasing": "linear",
									"showMethod": "fadeIn",
									"hideMethod": "fadeOut"
								});
							}, error: function (ex) {
								GetErrorSupRemedial("EmailSupPIC",JSON.stringify(ex));
							}
						});
					}

					function EmailRejectDivHead() {
						var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
						var tabletype = "More Than One";
						var whoreceiver = "";

                        if (picIsGroup === true) {
                            whoreceiver = "PIC Group after Division Head Rejected Cost";
                        } else {
                            whoreceiver = "PIC after Division Head Rejected Cost";
                        }

                        var dto = {
							Receiver: receiver,
							ReqID: REQID,
							TableType: tabletype,
							WhoReceiver: whoreceiver,
                            Urutan: DIS,
                            Group: group,
                            Site: groupSite,
						};

						$.ajax({
							type: "post",
							url: '../Form/SendEmailInputProposal',
							data: JSON.stringify(dto),
							dataType: "json",
							contentType: "application/json;charset=utf-8",
							success: function (data) {
								toastr.success("Email Sent Successfully !", "Notification", {
									"closeButton": false,
									"debug": true,
									"newestOnTop": false,
									"progressBar": false,
									"positionClass": "toast-bottom-right",
									"preventDuplicates": false,
									"onclick": null,
									"showDuration": "100",
									"hideDuration": "1000",
									"timeOut": "2000",
									"extendedTimeOut": "1000",
									"showEasing": "swing",
									"hideEasing": "linear",
									"showMethod": "fadeIn",
									"hideMethod": "fadeOut"
								});
							}, error: function (ex) {
								GetErrorSupRemedial("EmailDivHeadRejectDisposition",JSON.stringify(ex));
							}
						});
					}

                    if (jobTitle.includes("Head") === false) {
                        $.when(RejectRemidialSup()).done(EmailRejectSupPIC());
					}
                    else {
                        $.when(RejectRemidialSup()).done(EmailRejectDivHead());
                    }
				}
			}
		});
	}

	function GetErrorSupRemedial(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}

</script>
