
@{
	ViewBag.Title = "PICProposal";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<body>
	<div class="content-body">

		<div class="container-fluid">
			<div class="card">

				<div class="card-body">
					<div class="form-group">
						<h2 class="d-inline">Pending Approval Revisi Tindakan/Due Date</h2>

					</div>
					<table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="deviationdatatable" width="100%">
						<thead>
							<tr>
								<th>Request ID</th>
								
								<th>NIK PIC</th>
								<th>PIC Name</th>
								<th>Due Date</th>
								<th>Keterangan Disposisi</th>
								<th>Proposed Due Date</th>
								<th>Proposed Keterangan Disposisi</th>
								<th>Alasan Revisi</th>
								<th width="100px" hidden></th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="deviationtable" class="nowrap">
							<tr>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <script nonce="lALgaGMar5wggAXln8BUog==">

    function LoadData() {
			var nikUserLogin = '@Request.RequestContext.HttpContext.Session["nik"]';
			var REQID = @ViewBag.nomor;

			var dto = {
				REQID: REQID
			}

			$.ajax({
				url: "../SpvPelapor/Spv_PICLoadDataTable",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {

					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					var revisiDueDate = data[trav].REVISI_DUE_DATE;
					var revisiTindakan = data[trav].REVISI_TINDAKAN_REMEDIAL;
					if (revisiDueDate == null) {
						revisiDueDate = '-';
					}
					if (revisiTindakan == null) {
						revisiTindakan = '-';
                    }
					for (trav = 0; trav < Count; trav++) {
						trHTML +=
							'<tr><td>' + data[trav].REQ_ID + '</td>' +
							'<td>' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
							'<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
							'<td>' + data[trav].DUE_DATE + '</td>' +
							'<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
							'<td>' + revisiDueDate + '</td>' +
							'<td>' + revisiTindakan + '</td>' +
							'<td>' + data[trav].ALASAN_REVISI + '</td>' +
							'<td hidden>' + data[trav].NO_DISPOSISI + '</td>';

						var nikSuperior = data[trav].PIC_REMEDIAL_SUPERIOR_NIK;
						if (nikSuperior == nikUserLogin) {
							trHTML +=
								'<td align="center"> <input type="button" id="ApprovePIC" value="Approve Proposal" class="btn btn-success ApprovePIC" style="width:120px;"/> <input type="button" id="Reject" value="Reject" class="btn btn-danger Reject" style="width:100px;"/></td>'
						}
						else {
                            trHTML += '<td align="center">N/A</td>';
                        }
					}

					$('#deviationtable').empty();
					$('#deviationtable').append(trHTML);
					$('#deviationdatatable').DataTable();
                    ApprovePIC();
                    RejectPIC();
				},
				error: function (ex) {
                    ErrorSupPIC("Spv_PICLoadDataTable", JSON.stringify(ex));
				}
			});
		}

    function ErrorSupPIC(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Failure ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
        }

    $(document).ready(function () {
        // Load User once the page is loaded
        LoadData();

        $('#deviationdatatable tbody').on('click', 'input[id="ApprovePIC"]', function () {

           @* alert('approve clicked')*@

            var row = $(this).closest("TR");
            var no_disposisi = $("TD", row).eq(8).html();
            var req_id = @ViewBag.nomor;
            var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';

            function AppSupPIC() {
                var dto = {
                    REQID: req_id,
                    NO_DISPOSISI: no_disposisi,
                    IDUSER: curr_user
                }

                    $.ajax({
                        url: "../SpvPelapor/Spv_ApprovePIC",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                        toastr.success("Revisi Berhasil Diapprove!", "Tersimpan", {
                            "closeButton": false,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "100",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        });
                    }
                    , error: function (ex) {
                        ErrorSupPIC("Spv_ApprovePIC", JSON.stringify(ex));
                    }
                });
            }

            function NotifySupPIC() {
                var tabletype = "More Than One";
                var whoreceiver = "QM PIC Usulan Revisi";

                var dto = {
                    Receiver: curr_user,
                    ReqID: req_id,
                    TableType: tabletype,
                    WhoReceiver: whoreceiver
                };

                    $.ajax({
                        type: "post",
                        url: '../Form/SendEmailInputProposal',
                        data: JSON.stringify(dto),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            function LoadNotify() {
                                toastr.success("Email Sent Successfully !", "Notification", {
                                    "closeButton": false,
                                    "debug": true,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "200",
                                    "hideDuration": "1000",
                                    "timeOut": "2000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });

                            LoadData();
                        }

                        $.when(LoadNotify()).done(window.location.href = "../DataDeviasi/PendingTask");
                    }, error: function (ex) {
                        ErrorSupPIC("AppEmailSupPIC", JSON.stringify(ex));
                    }
                });
            }

            $.when(AppSupPIC()).done(NotifySupPIC());
        });

        $('#deviationdatatable tbody').on('click', 'input[id="Reject"]', function () {
            Swal.fire({
                title: 'Mohon masukkan alasan reject!',
                input: 'textarea',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Submit',
                showLoaderOnConfirm: true,

                allowOutsideClick: () => Swal.isLoading()
            }).then((result) => {
                if (result.value == null || result.value == '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Mohon masukkan alasan pembatalan Penyimpangan ini!'
                    });
                }
                else if (result.isConfirmed) {
                    
                    var row = $(this).closest("TR");
                    var no_disposisi = $("TD", row).eq(8).html();
                    var req_id = @ViewBag.nomor;
                    var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';
                    var alasan = result.value;
                    @*alert(alasan);*@
                    function RejectSupPIC() {
                        var dto = {
                            REQID: req_id,
                            NO_DISPOSISI: no_disposisi,
                            ALASAN_REJECT: alasan,
                            IDUSER: curr_user
                        }

                        $.ajax({
                            url: "../SpvPelapor/Spv_RejectPIC",
                            type: "post",
                            dataType: "json",
                            data: JSON.stringify(dto),
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                console.log(data)
                                toastr.success("Reject Revisi Berhasil!", "Tersimpan", {
                                    "closeButton": false,
                                    "debug": true,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "100",
                                    "hideDuration": "3000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "3000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });

                                LoadData();

                            }
                            , error: function (ex) {
                                ErrorSupPIC("RejectSUpPIC", JSON.stringify(ex));
                            }
                        });
                    }

                    function NotifySupPICRej() {
                        var tabletype = "More Than One";
                        var whoreceiver = "PIC Rejected Usulan Revisi";
                        var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';
                        var REQID= @ViewBag.nomor;
                        var no_disposisi = $("TD", row).eq(8).html();

                        var dtx = {
                            Urutan: no_disposisi,
                            Username: curr_user,
                            ReqID: REQID,
                            TableType: tabletype,
                            WhoReceiver: whoreceiver
                        };

                        $.ajax({
                            type: "post",
                            url: '../Form/SendEmailInputProposal',
                            data: JSON.stringify(dtx),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                console.log(data)
                                toastr.success("Email Sent Successfully!", "Tersimpan", {
                                    "closeButton": false,
                                    "debug": true,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "100",
                                    "hideDuration": "3000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "3000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });
                            }, error: function (ex) {
                                ErrorSupPIC("RjtEmailSupPIC", JSON.stringify(ex));
                            }
                        });
                    }

                    var async1 = $.when(RejectSupPIC()).then(NotifySupPICRej());

                    $.when(async1).then(function () {
                        window.location.href = "../DataDeviasi/PendingTask";
                    });

                }
            });
        });
    });


    </script>


</body>