
@{
	ViewBag.Title = "DisposisiProdukMaterialSistem";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@* THE DUPLICATION OF KOORDINATOR WHEN APPROVING / REJECTING PIC REMEDIAL STATUS *@
@* I COPY THE CODE AND ADD SOME TO SHORTHEN THE CODE *@

@*<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />*@
@*<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>*@

<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
									</div>
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">
		@Html.Partial("~/Views/QualityManager/QualityManagerPartialView.cshtml")
	</div>

    <div class="form-group">
        @Html.Partial("~/Views/QualityManager/ApprovedDisposisiPartialView.cshtml")
    </div>

	<div class="form-group" id="koorsubmission">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						
                        <div class="card-body">
                            <h4>Investigation Time</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan</label>
                                <div class="col-sm-10">
                                    <input type="number" id="ITDP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana</label>
                                <div class="col-sm-10">
                                    <input type="number" id="ITJP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
						
                        <div class="card-body">
                            <h4>Meeting Time</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan</label>
                                <div class="col-sm-10">
                                    <input type="number" id="MTDP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana</label>
                                <div class="col-sm-10">
                                    <input type="number" id="MTJP" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
						
                        <div class="card-body">
                            <h4>Evaluasi Risiko</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault1" value="Yes" disabled="disabled">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Perlu Ditindaklanjuti dengan Pengkajian Risiko
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault2" value="No" disabled="disabled">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Tidak Perlu Ditindaklanjuti dengan Pengkajian
                                </label>
                            </div>
                        </div>
					   

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" id="carpar" hidden="hidden">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">

						<div class="card-body">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Disposisi Produk atau Sistem<span class="text-danger">*</span></label>
								<div class="col-sm-10">
									<select class="form-control" id="disposisi">
										<option class="dropdown-header">* SELECT *</option>
										<option class="dropdown-item" id="Released">Released</option>
										<option class="dropdown-item" id="Reject">Reject</option>
										<option class="dropdown-item" id="Recall">Recall</option>
										<option class="dropdown-item" id="Lain-Lain">Lain-Lain</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label"></label>

								<div class="col-sm-10">
									<textarea id="keterangandisposisi" class="form-control" placeholder="Keterangan Disposisi"></textarea>

								</div>
							</div>

						</div>
						
                        <div class="card-body">
                            <div class="form-group row">
                                <h4 class="col-sm-4">Perlu Ditindaklanjuti CAR-PAR</h4>
                            </div>
                            <div class="form-group row col-sm-12">
                                <button type="button" id="btnTidakLanjut" class="col-sm-2 btn mb-1 btn-danger form-control">
                                    Tidak Lanjut
                                </button>
                                <button type="button" id="btnPilihLanjut" class="col-sm-2 btn mb-1 btn-success form-control" style="left: 5px;">
                                    Lanjut ke CAR-PAR
                                </button>
                            </div>
                            <div id="divLanjut" hidden>
                                <div class="form-group row col-sm-12">
                                    <input type="radio" id="high" value="Tingkat Keparahan High/Very High" name="chkbx" />
                                    <label class="col-md-2" for="high">Tingkat Keparahan High/Very High</label>

                                    <input type="radio" id="medium" value="Tingkat Keparahan Medium dan Terjadi >= 3 Kasus dalam 30 Hari Terakhir" name="chkbx" />
                                    <label class="col-md-2" for="medium">Tingkat Keparahan Medium dan Terjadi >= 3 Kasus dalam 30 Hari Terakhir</label>

                                    <input type="radio" id="low" value="Tingkat Keparahan Low dan terjadi >= 5 Kasus dalam 30 Hari Terakhir" name="chkbx" />
                                    <label class="col-md-2" for="low">Tingkat Keparahan Low dan terjadi >= 5 Kasus dalam 30 Hari Terakhir</label>

                                    <input type="radio" id="lain" value="Justifikasi Lain" name="chkbx" />
                                    <label class="col-md-2" for="lain">Justifikasi Lain</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2" for="txtJustifikasiLain">Justifikasi Lainnya</label>
                                    <textarea class="col-sm-10 form-control" id="txtJustifikasiLain" disabled="disabled"></textarea>
                                </div>
                                <div class="form-group row col-sm-12">
                                    <button type="button" id="btnLanjut" class="col-sm-2 btn mb-1 btn-success form-control" style="left: 5px;">
                                        SUBMIT
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>


</div>

<script nonce="fWFPWDdJx1NVeNHR7av12w==">
	$(document).ready(function () {

		// Check If All PIC Already Submit Their Form
		CheckStatusQMApproval2();

		// Load Body Data

		LoadData();

		// Load Investigation and Meeting Time
		LoadKoorSub();

		$("#btnLanjut").click(function () {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Apakah anda yakin?',
                text: "Untuk menindaklanjuti Deviation ini dengan CAR-PAR",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ya, lanjut dan submit',
                cancelButtonText: 'Tidak',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    Lanjut();
                }
                else
                    if (result.dismiss === Swal.DismissReason.cancel) {

                    }
            })
		});

		$("#btnTidakLanjut").click(function () {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Apakah anda yakin?',
                text: "Untuk tidak menindaklanjuti Deviation ini dengan CAR-PAR",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ya, tidak lanjut',
                cancelButtonText: 'Tidak',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    TidakLanjut();
                }
                else
                    if (result.dismiss === Swal.DismissReason.cancel) {

                    }
            })
		});

		$('#btnPilihLanjut').click(function () {
			$('#divLanjut').attr('hidden', false);

			$('#btnPilihLanjut').attr('hidden', true);
			$('#btnTidakLanjut').attr('hidden', true);
		});

		$('input[type=radio][name=chkbx]').change(function () {
			if (this.value == 'Justifikasi Lain') {
                $("#txtJustifikasiLain").attr("disabled", false);
			}
			else {
                $("#txtJustifikasiLain").attr("disabled", true);
			}
		});

	});

	function CheckStatusQMApproval2() {
		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID

		};

		$.ajax({
			url: "../QualityManager/QM_CheckStatusQMApproval2",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				if (data == 'READY') {
					$("#carpar").attr('hidden', false);
				} else {
					$("#carpar").attr("hidden", true);
				}

			}, error: function (ex) {
                GetErrorDisposisi("QM_CheckStatusQMApproval2", JSON.stringify(ex));
			}
		});

        $.ajax({
            url: "../Koordinator/LoadEvaluasiResiko",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("input[name=radbut][value=" + data[0].EVALUASI_RESIKO + "]").prop('checked', true);
            },
            error: function (ex) {
                GetErrorDisposisi("LoadEvaluasiResiko", JSON.stringify(ex));
            }
        });

	}

	function LoadKoorSub() {

		var nomor = @ViewBag.nomor;
		var dto = {
			REQID: nomor
        }
		$.ajax({
			url: "../QualityManager/QM_LoadKoorSub",
			type: "post",
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				$("#ITDP").val(data[0].IT_DURASI_PENGERJAAN);
				$("#ITJP").val(data[0].IT_JUMLAH_PELAKSANA);
				$("#MTDP").val(data[0].MT_DURASI_PENGERJAAN);
				$("#MTJP").val(data[0].MT_JUMLAH_PELAKSANA);
			},
			error: function (ex) {
                GetErrorDisposisi("QM_LoadKoorSub", JSON.stringify(ex));
			}
		});
	};



	function ShowBukti(button) {
		event.preventDefault();
		var row = $(button).closest("TR");
		var ReqID = @ViewBag.nomor;
		var picnik = $("TD", row).eq(16).html();
        var seq = $("TD", row).eq(0).html();

		var dto = {
			REQID: ReqID,
            IDUSER: picnik,
            NO_DISPOSISI: seq
		}

		$.ajax({
			url: "../QualityManager/QM_ShowBuktiTable",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var trHTML = '';
				var trav = 0;
				var Count = data.length;

				if (Count == '0') {
					trHTML +=
						'<tr><td> N/A </td>' +
						'<td> N/A </td>' +
						'<td> N/A </td>';
				} else {
					for (trav = 0; trav < Count; trav++) {
						var no = 1;
						no = no + trav;
						trHTML +=
							'<tr><td>' + no + '</td>' +
							'<td>' + data[trav].PIC_ID + '</td>' +
							'<td><a href="' + data[trav].PATH_FILE + '" download="' + data[trav].PATH_FILE + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';

					}
				}

				$('#buktitable').empty();
				$('#buktitable').append(trHTML);
				$('#buktidatatable').DataTable();

				$("#tabel2").removeAttr("hidden");
			}
			, error: function (ex) {
                GetErrorDisposisi("QM_ShowBuktiTable", JSON.stringify(ex));
			}
		});
	}

	function Lanjut() {
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var tingkatkeparahan;
		var disposisi = $("#disposisi").val();
		var keterangan = $("#keterangandisposisi").val();
        var justifikasiLain = $("#txtJustifikasiLain").val();

		if ($('input[name="chkbx"]:checked').val() == null) {

		}
		else
		{
			tingkatkeparahan = $('input[name="chkbx"]:checked').val();
		}

        if (keterangan == '' || disposisi =='* SELECT *') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Disposisi Produk atau Sistem dan Keterangannya tidak boleh kosong !',
                showConfirmButton: false,
                timer: 2000
            })
            return;
		}

		function Next() {
            var dto = {

                REQID: REQID,
                IDUSER: iduser,
                TINGKAT_KEPARAHAN: tingkatkeparahan,
                JUSTIFIKASI_LAIN: justifikasiLain,
                DISPOSISI_PRODUK_SISTEM: disposisi,
                KETERANGAN_DISPOSISI: keterangan

            };

            $.ajax({
                url: "../QualityManager/QM_LanjutCARPAR",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Form Saved as Need CAPA',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        window.location.href = "../DataDeviasi/PendingTask"
                    });

                }
                , error: function (ex) {
                    GetErrorDisposisi("QM_LanjutCARPAR", JSON.stringify(ex));
                }
            });
		}
		

		function EmailDisposisi() {
            var subject = 'B7 - Deviation';
            var tabletype = "One";
            var whoreceiver = "Pelapor after Lanjut CAPA";

            var dtx = {
                Receiver: iduser,
                ReqID: REQID,
                Body: body,
                Subject: subject,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dtx),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorDisposisi("SendEmailInputProposalDisposisi", JSON.stringify(ex));
                }
            });
		}

        $.when(Next()).done(EmailDisposisi());
		
	}

	function TidakLanjut() {
        var REQID = @ViewBag.nomor;
        var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';
        var tingkatkeparahan = null;
        var disposisi = $("#disposisi").val();
        var keterangan = $("#keterangandisposisi").val();
        var justifikasiLain = $("#txtJustifikasiLain").val();

        if ($('input[name="chkbx"]:checked').val() == null) {

        }
        else {
            tingkatkeparahan = $('input[name="chkbx"]:checked').val();
        }

        if (keterangan == '' || disposisi == '* SELECT *') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Disposisi Produk atau Sistem dan Keterangannya tidak boleh kosong !',
                showConfirmButton: false,
                timer: 2000
            })
            return;
        }

		function TidakLanjutNext() {
            var dto = {
                REQID: REQID,
                TINGKAT_KEPARAHAN: tingkatkeparahan,
                JUSTIFIKASI_LAIN: justifikasiLain,
                DISPOSISI_PRODUK_SISTEM: disposisi,
                KETERANGAN_DISPOSISI: keterangan,
                IDUSER: iduser
                
            };

            $.ajax({
                url: "../QualityManager/QM_TidakLanjut",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Form Saved As Tidak Butuh CARPAR',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        window.location.href = "../DataDeviasi/PendingTask"
                    });

                }
                , error: function (ex) {
                    GetErrorDisposisi("QM_TidakLanjut", JSON.stringify(ex));
                }
            });
		}
		

		function EmailTidakLanjut(){
            var subject = 'B7 - Deviation';
            var tabletype = "One";
            var whoreceiver = "Pelapor after Tidak Lanjut CAPA";

            var dtx = {
                Receiver: iduser,
                ReqID: REQID,
                Body: body,
                Subject: subject,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dtx),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorDisposisi("SendEmailInputProposalRejDis", JSON.stringify(ex));
                }
            });
		}
		
        $.when(TidakLanjutNext()).done(EmailTidakLanjut());

	}

    function GetErrorDisposisi(ErrorType, ErrorMsg) {
        var REQID = @ViewBag.nomor;
        var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

        var dto = {
            REQ_ID: REQID,
            UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
        }

        $.ajax({
            url: "../Form/LogError",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                toastr.warning(data + " Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            }
            , error: function (ex) {

            }
        });
    }
</script>


