
@{
	ViewBag.Title = "QMHeader";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <button type="button" id="btnApprove" class="col-sm-2 btn mb-1 btn-success form-control">
                                            Approve
                                            <span class="fa fa-check-square-o"></span>
                                        </button>
                                        <button type="button" id="btnReject" class="col-sm-2 btn mb-1 btn-danger form-control" hidden="hidden">
                                            Request for Revision
                                            <span class="fa fa-ban"></span>
                                        </button>
                                    </div>
                                    <div class="form-group" id="evaluasiresiko">
                                        <label>Evaluasi Risiko</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Perlu Ditindaklanjuti dengan Pengkajian Risiko">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Perlu Ditindaklanjuti dengan Pengkajian Risiko
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="Tidak Perlu Ditindaklanjuti dengan Pengkajian">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Tidak Perlu Ditindaklanjuti dengan Pengkajian
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nama</label>
                                        <input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTanggal">Tanggal:</label>
                                        <input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">

        @Html.Partial("QualityManagerPartialView", "ReviewerList")

    </div>

    <div class="form-group">
        @Html.Partial("../SpvPelapor/Approval")
    </div>

    @*<div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usulantindakan">
                                            Usulan Tindakan Remedial
                                        </label>
                                        <textarea id="usulantindakan" class="form-control" disabled="disabled"></textarea>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<script nonce="cOO5cbp/5zcxZYWSs6RNEg==">

	$(document).ready(function () {
		ApproveStatusAssignPIC();
		@*GetUsulanTindakan();*@

		$("#btnApprove").click(function () {
			Approve();

		});
		//hide header penyimpangan bagian partial view detail (SpvPelapor/Approval)
        $("#headerPenyimpangan").attr("hidden", true);
	});



	@*function GetUsulanTindakan() {
		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID
		};

		$.ajax({
			url: "../QualityManager/QM_GetUsulanTindakan",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				document.getElementById('usulantindakan').value = data[0].USULAN_REMIDIAL;

			}, error: function (ex) {
				Error("Get Usulan", JSON.stringify(ex));
			}
		});
	}*@

	function ApproveStatusAssignPIC() {
		$("#btnApprove").attr('hidden', true);

		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID
		};

		$.ajax({
			url: "../QualityManager/QM_GetCurrStatAssignPIC",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				if (data == "CAN") {
					$("#btnApprove").attr('hidden', false);
					$("#evaluasiresiko").attr('hidden', false);
				} else {
					$("#btnApprove").attr('hidden', true);
					$("#evaluasiresiko").attr('hidden', true);
				}

			}, error: function (ex) {
				Error("Get Current Status", JSON.stringify(ex));
			}
		});

	}

	function Approve() {

		var evaluasi_resiko = $('input[name="flexRadioDefault"]:checked').val();
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {

			REQID: REQID,
			IDUSER: iduser,
			EvaluasiResiko: evaluasi_resiko
		};

		$.ajax({
			url: "../QualityManager/QM_Approve",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				Swal.fire({
                    icon: 'success',
					title: 'Form Approved',
                    showConfirmButton: false,
                    timer: 2000
				}).then(() => {
					window.location.href = "../DataDeviasi/PendingTask"
				})
			}
			, error: function (ex) {
                Error('Error Approve Evaluator', JSON.stringify(ex));
			}
		});

		var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var tabletype = "More Than One";

		@*26 Nov 21*@
        var whoreceiver = "Koordinator after QM Approve";

		var dtx = {
			Receiver: receiver,
			ReqID: REQID,

			TableType: tabletype,
			WhoReceiver: whoreceiver
		};

		$.ajax({
			type: "post",
			url: '../Form/SendEmailInputProposal',
			data: JSON.stringify(dtx),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.success("Email Sent Successfully !", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}, error: function (ex) {
                Error("Error Email Evaluator", JSON.stringify(ex));
			}
		});
	}


	function Error(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Failure ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}

	@*function Reject() {

		Swal.fire({
			title: 'Reason???',
			input: 'text',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

				var dto = {
					REQID: REQID,
					KETERANGAN: Keterangan,
					IDUSER: iduser
				};

				$.ajax({
					url: "../SpvPelapor/Spv_Reject",
					type: "post",
					dataType: "json",
					data: JSON.stringify(dto),
					contentType: "application/json;charset=utf-8",
					success: function (data) {

						alert('Form Rejected');

					}
					, error: function (ex) {
						alert('Error Delete Attachment: ' + JSON.stringify(ex));
					}
				});
			}
		});
	}*@
</script>

