
@{
	ViewBag.Title = "PICHeader";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">

										<button type="button" id="btnSave" class="col-sm-2 btn mb-1 btn-success form-control ">
											Save
											<span class="fa fa-check-square-o"></span>
										</button>

									</div>

									<div class="form-group" id="xddlx" hidden="hidden">
										<div class="col">
											<label class="col col-form-label">Reviewer<span class="text-danger">*</span> :</label>
										</div>
										<div class="col">
											<div class="col input-group form-group">
												<div class="basic-dropdown">
													<div class="dropdown user-dropdown form-inline">
														<select id="ddlReviewer" name="ddlReviewer" class="form-control">
														</select>
													</div>
												</div>
												<span id="spanUser" class="input-group-append" title="Tambah orang terlibat">
													<span class="input-group-text btn-success">
														<i class="fa fa-user-plus"></i>
													</span>
												</span>
											</div>
											<div class="col form-group">
												<table id="tblWho" class="table table-striped table-bordered">
													<thead>
														<tr>
															<th style="width:20px">No</th>
															<th>Nama</th>
															<th>NIK</th>
															<th style="width:30px">Action</th>
														</tr>
													</thead>
													<tbody id="tblBodyWho">
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
									</div>
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">

		@Html.Partial("~/Views/QualityManager/QualityManagerPartialView.cshtml")

	</div>

	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="usulantindakan">
											Usulan Tindakan Remedial
										</label>
										<textarea id="usulantindakan" class="form-control" disabled="disabled"></textarea>
									</div>

									<div class="form-group">
										<label for="usulantindakan">
											Disposisi Tindakan Remedial
										</label>
										<textarea id="disposisitindakan" class="form-control" disabled="disabled"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">

						<div class="card-body">

							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Hasil Tindakan Remedial<span class="text-danger">*</span></label>
								<div class="col-sm-10 input-group">
									<textarea id="txtHasilTindakan" class="form-control" style="width: 960px;"></textarea>
								</div>
							</div>

							<div class="form-group row" id="can">
								<label class="col-sm-2 col-form-label">Upload Bukti Tindakan Remidial</label>
								<div class="col-sm-7">
									<div class="input-group">

										@using (Html.BeginForm("Index", "PICRemidial", FormMethod.Post, new { enctype = "multipart/form-data" }))
										{
											<input type="file" name="NamaFileUpload" id="idFileUploadAttach" style="padding-top:10px; width:400px;" />
											<button type="button" id="spanBukti" class="col-sm-2 btn mb-1 btn-success ">Upload</button>
										}
									</div>
									<div class="col-sm-12" style="margin-top : 10px; margin-left : -15px">
										<table id="tblBukti" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="width:20px">No</th>
													<th>Bukti Tindakan Remidial</th>
													<th style="width:30px">Action</th>
												</tr>
											</thead>
											<tbody id="tblBuktiBody">
											</tbody>
										</table>
									</div>
								</div>
							</div>

                            <div class="form-group">
                                <div class="form-group">
                                    <h5 class="d-inline">Adakah biaya dalam tindakan Remidial?</h5>
									<br />
                                    <div class="form-check form-check-inline">
                                        <div class="form-check form-check-inline">
                                            <label>
                                                <input type="radio" name="checkhiddencost" id="flexRadioDefault1" value="Yes"> Ada Biaya
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label>
                                                <input type="radio" name="checkhiddencost" id="flexRadioDefault2" value="No" checked> Tidak Ada Biaya
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<hr />
                            <div id="picsubmission" hidden="hidden">

                                <div class="form-group">
                                    <div class="row form-group">
                                        <label class="d-inline" style="color:red;font-weight:bold">Note: Minimal satu group cost wajib diisi</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <h4 class="d-inline">Testing Cost</h4>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Durasi Pengerjaan (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="testingDurasiPengerjaan" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jumlah Pelaksana (Orang)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="testingJumlahPelaksana" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divManHours" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Manhours Value (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" class="form-control" style="font-weight: bold " id="textManhoursValue" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Manhours Cost (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="testingManhoursValue" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divTotalManHoursCost" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Manhours Cost (Rp) </label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" class="form-control" style=" font-weight: bold " id="textTotalManHoursCost" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cost of Analysis (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="testingCostAnalysis" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row form-group">
                                        <h4 class="d-inline">Processing</h4>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Durasi Pengerjaan (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="procDurasiPengerjaan" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jumlah Pelaksana (Orang)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="procJumlahPelaksana" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divManHoursProc" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Manhours Value (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" class="form-control" style="font-weight: bold " id="textManhoursValueProc" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Manhours Cost (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="procManhoursValue" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divTotalManHoursCostProc" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Manhours Cost (Rp) </label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" class="form-control" style=" font-weight: bold " id="textTotalManHoursCostProc" disabled />
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                <label class="col-sm-2 col-form-label">Material/Product</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="procMaterial" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="procQty" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cost Material (Rp)</label>
                <div class="col-sm-10">
                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="procCostMaterial" />
                </div>
            </div>*@
                                </div>

                                <div class="form-group">
                                    <div class="row form-group">
                                        <h4 class="d-inline">Rejected</h4>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Material/Product</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="rejMaterial" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Quantity</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="rejQty" />
                                        </div>
                                    </div>
                                    @*<div class="form-group row" id="divTotalMaterialQty" hidden>
                <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Material Quantity</label>
                <div class="col-sm-2">
                    <input type="text" value="" class="form-control" style="border-radius: 10px; font-weight: bold " id="textTotalMaterialQty" disabled/>
                </div>
            </div>*@
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cost Material (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="rejCostMaterial" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divRejectedTotalCost" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Cost (Rp) </label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" class="form-control" style="font-weight: bold " id="textRejectedTotalCost" disabled />
                                            <input type="hidden" id="valRejectedTotalCost"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4 class="d-inline">Machine Cost</h4>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Durasi Pengerjaan (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="mcDurasiPengerjaan" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jumlah Teknisi (Orang)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="mcJumlahTeknisi" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divMCTotalManhours" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Machine Manhours (Jam)</label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" class="form-control" style=" font-weight: bold" id="textMCTotalManhours" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Manhours Cost (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="mcManhoursValue" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="divMCTotalManhoursCost" hidden>
                                        <label class="col-sm-2 col-form-label" style="font-weight: bold">Total Machine Hours Cost(Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" style="font-weight: bold" class="form-control" id="mcTotalMachineHours" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nama Mesin</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="mcNamaMesin" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sparepart/Service</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="mcSparepart" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Harga Sparepart (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" class="form-control" id="mcHargaSparepart" />
                                        </div>
                                    </div>
                                </div>

                            <div class="form-group" id="divTotalALL">
                                <br/>
                                <h4 class="d-inline">Total Manhours and Cost</h4>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Total Manhours (Jam)</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="textTotalManhoursALL" disabled/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Total Cost (Rp)</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="currency-field" value="" data-type="currency" class="form-control" id="textTotalCostALL" disabled/>
                                    </div>
                                </div>
                            </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script nonce="Hjt2vo0Lr21oHx/pCzPtPA==">

	var CheckDelete = 0;


	$(document).ready(function () {
        $(window).bind('beforeunload', function () {
            if (CheckDelete = 0) {
                BeforeUnload();
            }

            return '';
        });

		LoadBukti();
		GetUsulanTindakan();
		LoadCost();

        HiddenText();
        setInterval(function() {
            if ($('#textRejectedTotalCost').val() === null && $('#textTotalManHoursCostProc').val() === null && $('#textTotalManHoursCost').val() === null && $('#textTotalManHoursCost').val() === null) {
                $('#textTotalCostALL').val('');
            }
        }, 500);

        $("input[name=checkhiddencost]").change(function () {
            CheckHiddenCostType();
		});

		$("#btnSave").click(function () {
			Save();
		});

		$('#spanBukti').click(function () {
			InsertBukti();
		});

        $("input[data-type='currency']").on({
			keyup: function () {

                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });

        $('#tblBukti tbody').on('click', 'input[id="DeleteFileAttachment"]', function () {
            
                var Row = $(this).closest("TR");
                var ReqID = $("TD", Row).eq(1).html();
                var RecordID = $("TD", Row).eq(2).html();
                var FileName = $("TD", Row).eq(3).html();
                var PathFile = $("TD", Row).eq(4).html();
                var urutan = @ViewBag.urutan;

                var usernik = '@Request.RequestContext.HttpContext.Session["xUser"]';

                var dto = {
                    ReqID: ReqID,
                    RecordID: RecordID,
                    PathFile: PathFile,
                    USERNIK: usernik,
                    NO_DISPOSISI: urutan
                }

                $.ajax({
                    url: "../PICRemidial/PIC_DeleteAttachment",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(dto),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data == 'S') {

                            toastr.success("File Attachment " + FileName + " Berhasil dihapus",
                                "Berhasil",
                                {
                                    "closeButton": false,
                                    "debug": true,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-top-left",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "100",
                                    "hideDuration": "1000",
                                    "timeOut": "2000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });

                            LoadBukti();
                        }
                    },
                    error: function(ex) {
                        ErrorPIC("Delete AtachmentPIC", JSON.stringify(ex));
                    }
                });
            });
    });

    function HiddenText() {
        var testingTotalCost = 0;
        var procTotalCost = 0;
        var rejTotalCost = 0;
        var mcTotalCost = 0;

        var testingTotalManhour = 0;
        var procTotalManhour = 0;
        var rejTotalManhour = 0;
        var mcTotalManhour = 0;
        

		//Testing Cost
        $('#testingDurasiPengerjaan').on('input', function (e) {
            if ($('#testingJumlahPelaksana').val() !== '') {

                var durasiPengerjaan = parseFloat($('#testingJumlahPelaksana').val());
                var jumlahPelaksana = parseFloat($('#testingDurasiPengerjaan').val());
                testingTotalManhour = durasiPengerjaan * jumlahPelaksana;
               // console.log(durasiPengerjaan * jumlahPelaksana);

                if ($('#testingJumlahPelaksana').val() == '' || $('#testingDurasiPengerjaan').val() == '') {
                    testingTotalManhour = 0;
                }

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);

                $('#textManhoursValue').val(testingTotalManhour);

                $('#divManHours').attr('hidden', false);
            } else {
                $('#divManHours').attr('hidden', true);
            }
            if ($('#testingDurasiPengerjaan').val() === '') {
                $('#divManHours').attr('hidden', true);
                testingTotalManhour = 0
            }
        });

        $('#testingJumlahPelaksana').on('input', function (e) {
            if ($('#testingDurasiPengerjaan').val() !== '') {
                var durasiPengerjaan = parseFloat($('#testingJumlahPelaksana').val());
                var jumlahPelaksana = parseFloat($('#testingDurasiPengerjaan').val());
                testingTotalManhour = durasiPengerjaan * jumlahPelaksana;
                //console.log(durasiPengerjaan * jumlahPelaksana);

                if ($('#testingJumlahPelaksana').val() == '' || $('#testingDurasiPengerjaan').val() == '') {
                    testingTotalManhour = 0;
                }

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);


                $('#textManhoursValue').val(testingTotalManhour);

                $('#divManHours').attr('hidden', false);
            } else {
                $('#divManHours').attr('hidden', true);
            }
            if ($('#testingJumlahPelaksana').val() === '') {
                $('#divManHours').attr('hidden', true);
                testingTotalManhour = 0
            }
        });

        $('#testingManhoursValue').on('input', function (e) {
            if ($('#textManhoursValue').val() !== '') {

                var manhoursValue = $('#textManhoursValue').val();
                var manhoursCost = $('#testingManhoursValue').val();

                testingTotalCost = manhoursValue.replace(',', '') * manhoursCost.replace(',', '');
                var totalAll = testingTotalCost + procTotalCost + rejTotalCost + mcTotalCost;


                $('#textTotalManHoursCost').val(currencyDecimal(testingTotalCost));
                $('#divTotalManHoursCost').attr('hidden', false);
                $('#textTotalCostALL').val(currencyDecimal(totalAll));

            }
            else {
                $('#divTotalManHoursCost').attr('hidden', true);
            }
            if ($('#testingManhoursValue').val() === '') {
                $('#divTotalManHoursCost').attr('hidden', true);
            }
        });

		//Processing
        $('#procDurasiPengerjaan').on('input', function (e) {
            if ($('#procJumlahPelaksana').val() !== '') {

                var durasiPengerjaan = parseFloat($('#procJumlahPelaksana').val());
                var jumlahPelaksana = parseFloat($('#procDurasiPengerjaan').val());
                procTotalManhour = durasiPengerjaan * jumlahPelaksana;

                if ($('#procJumlahPelaksana').val() == '' || $('#procDurasiPengerjaan').val() == '') {
                    procTotalManhour = 0;
                }
                //console.log(durasiPengerjaan * jumlahPelaksana);

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);

                $('#textManhoursValueProc').val(procTotalManhour);

                $('#divManHoursProc').attr('hidden', false);
            } else {
                $('#divManHoursProc').attr('hidden', true);
            }
            if ($('#procDurasiPengerjaan').val() === '') {
                $('#divManHoursProc').attr('hidden', true);
                procTotalManhour = 0;
            }
        });

        $('#procJumlahPelaksana').on('input', function (e) {
            if ($('#procDurasiPengerjaan').val() !== '') {
                var durasiPengerjaan = parseFloat($('#procJumlahPelaksana').val());
                var jumlahPelaksana = parseFloat($('#procDurasiPengerjaan').val());
                procTotalManhour = durasiPengerjaan * jumlahPelaksana;

                if ($('#procJumlahPelaksana').val() == '' || $('#procDurasiPengerjaan').val() == '') {
                    procTotalManhour = 0;
                }

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);

                $('#textManhoursValueProc').val(procTotalManhour);

                $('#divManHoursProc').attr('hidden', false);
            } else {
                $('#divManHoursProc').attr('hidden', true);
            }
            if ($('#procJumlahPelaksana').val() === '') {
                $('#divManHoursProc').attr('hidden', true);
                procTotalManhour = 0;
            }
        });

        $('#procManhoursValue').on('input', function (e) {
            if ($('#procManhoursValue').val() !== '') {

                var manhoursValue = $('#textManhoursValueProc').val();
                var manhoursCost = $('#procManhoursValue').val();

                procTotalCost = manhoursValue.replace(',', '') * manhoursCost.replace(',', '');
                var totalAll = testingTotalCost + procTotalCost + rejTotalCost + mcTotalCost;
                @*console.log(totalAll)*@
                $('#textTotalManHoursCostProc').val(currencyDecimal(procTotalCost));
                $('#divTotalManHoursCostProc').attr('hidden', false);
                $('#textTotalCostALL').val(currencyDecimal(totalAll));
            }
            else {
                $('#divTotalManHoursCostProc').attr('hidden', true);
            }
            if ($('#procManhoursValue').val() === '') {
                $('#divTotalManHoursCostProc').attr('hidden', true);
            }
		});

		//Rejected
        $('#rejQty').on('input', function (e) {
            if ($('#rejCostMaterial').val() !== '') {
                var material = parseFloat($('#rejCostMaterial').val());
                var qty = parseFloat($('#rejQty').val());
                rejTotalCost = material.replace(',', '') * qty.replace(',', '');

                $('#textRejectedTotalCost').val(currencyDecimal(rejTotalCost));
                $('#valRejectedTotalCost').val(rejTotalCost);
                
                $('#divRejectedTotalCost').attr('hidden', false);
            } else {
                $('#divRejectedTotalCost').attr('hidden', true);
            }
            if ($('#rejQty').val() === '') {
                $('#divRejectedTotalCost').attr('hidden', true);
            }
        });

        $('#rejCostMaterial').on('input', function (e) {
            if ($('#rejQty').val() !== '') {

                var qty = $('#rejQty').val();
                var costMaterial = $('#rejCostMaterial').val();

                rejTotalCost = qty.replace(',', '') * costMaterial.replace(',', '');
                var totalAll = testingTotalCost + procTotalCost + rejTotalCost + mcTotalCost;
                @*console.log(totalAll);*@
                $('#textRejectedTotalCost').val(currencyDecimal(rejTotalCost));
                $('#valRejectedTotalCost').val(rejTotalCost);
                $('#divRejectedTotalCost').attr('hidden', false);
                $('#textTotalCostALL').val(currencyDecimal(totalAll));
            }
            else {
                $('#divRejectedTotalCost').attr('hidden', true);
            }
            if ($('#rejCostMaterial').val() === '') {
                $('#divRejectedTotalCost').attr('hidden', true);
            }
		});

		//Machine Cost
        $('#mcDurasiPengerjaan').on('input', function (e) {
            if ($('#mcJumlahTeknisi').val() !== '' || $('#mcManhoursValue').val() !== '') {

                var durasiPengerjaan = $('#mcJumlahTeknisi').val();
                var jumlahPelaksana = $('#mcDurasiPengerjaan').val();
                mcTotalManhour = durasiPengerjaan.replace(',', '') * jumlahPelaksana.replace(',', '');
                //console.log(durasiPengerjaan * jumlahPelaksana);

                if ($('#mcJumlahTeknisi').val() == '' || $('#mcDurasiPengerjaan').val() == '') {
                    mcTotalManhour = 0;
                }

                $('#textMCTotalManhours').val(mcTotalManhour);

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);

                // console.log(material * qty);

                $('#divRejectedTotalCost').val(mcTotalManhour);

                var manhoursValue2 = $('#textMCTotalManhours').val();
                var manhoursCost = $('#mcManhoursValue').val();

                var totalManHoursCost = manhoursValue2.replace(',', '') * manhoursCost.replace(',', '');
                @*console.log(totalManhourALL);*@

                $('#mcTotalMachineHours').val(totalManHoursCost);

                $('#divMCTotalManhours').attr('hidden', false);
            } else {
                $('#divMCTotalManhours').attr('hidden', true);
            }
            if ($('#mcDurasiPengerjaan').val() === '') {
                $('#divMCTotalManhours').attr('hidden', true);
                mcTotalManhour = 0;
            }
        });

        $('#mcJumlahTeknisi').on('input', function (e) {
            if ($('#mcDurasiPengerjaan').val() !== '' || $('#mcManhoursValue').val() !== '') {
                var durasiPengerjaan = $('#mcJumlahTeknisi').val();
                var jumlahPelaksana = $('#mcDurasiPengerjaan').val();
                mcTotalManhour = durasiPengerjaan.replace(',', '') * jumlahPelaksana.replace(',', '');
                //console.log(durasiPengerjaan * jumlahPelaksana);

                if ($('#mcJumlahTeknisi').val() == '' || $('#mcDurasiPengerjaan').val() == '') {
                    mcTotalManhour = 0;
                }

                var totalManhourALL = testingTotalManhour + procTotalManhour + rejTotalManhour + mcTotalManhour;
                @*console.log(totalManhourALL);*@
                $('#textTotalManhoursALL').val(totalManhourALL);

                $('#textMCTotalManhours').val(mcTotalManhour);

                var manhoursValue2 = $('#textMCTotalManhours').val();
                var manhoursCost = $('#mcManhoursValue').val();

                var totalManHoursCost = manhoursValue2.replace(',', '') * manhoursCost.replace(',', '');

                $('#mcTotalMachineHours').val(totalManHoursCost);

                $('#divMCTotalManhours').attr('hidden', false);
            } else {
                $('#divMCTotalManhours').attr('hidden', true);
            }
            if ($('#mcJumlahTeknisi').val() === '') {
                $('#divMCTotalManhours').attr('hidden', true);
                mcTotalManhour = 0;
            }
        });

        $('#mcManhoursValue').on('input', function (e) {
            if ($('#textMCTotalManhours').val() !== '') {

                var manhoursValue = $('#textMCTotalManhours').val();
                var manhoursCost = $('#mcManhoursValue').val();

                mcTotalCost = manhoursValue.replace(',', '') * manhoursCost.replace(',', '');
                var totalAll = testingTotalCost + procTotalCost + rejTotalCost + mcTotalCost;
                @*console.log(totalAll)*@
                $('#mcTotalMachineHours').val(currencyDecimal(mcTotalCost));
                $('#divMCTotalManhoursCost').attr('hidden', false);
                $('#textTotalCostALL').val(currencyDecimal(totalAll));
            }
            else {
                $('#divMCTotalManhoursCost').attr('hidden', true);
            }
            if ($('#mcManhoursValue').val() === '') {
                $('#divMCTotalManhoursCost').attr('hidden', true);
            }
        });

       
    }

	function currencyDecimal(input) {
        return "Rp. " + input.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
    }

	function CheckHiddenCostType() {
        var x = $('input[name="checkhiddencost"]:checked').val();
		if (x == 'Yes') {
			$("#picsubmission").removeAttr("hidden");
		} else {
			$("#picsubmission").attr("hidden", true);

            // Testing Section
            $("#testingDurasiPengerjaan").val('');
            $("#testingJumlahPelaksana").val('');
            $("#testingManhoursValue").val('');
            $("#testingCostAnalysis").val('');

            // Processing Section
            $("#procDurasiPengerjaan").val('');
            $("#procJumlahPelaksana").val('');
            $("#procManhoursValue").val('');
          @*  $("#procMaterial").val('');
            $("#procQty").val('');
            $("#procCostMaterial").val('');*@

            // Rejection Section
            $("#rejMaterial").val('');
            $("#rejQty").val('');
            $("#rejCostMaterial").val('');

            // Machine Cost
            $("#mcDurasiPengerjaan").val('');
            $("#mcJumlahTeknisi").val('');
            $("#mcManhoursValue").val('');
            $("#mcNamaMesin").val('');
            $("#mcTotalMachineHours").val('');
            $("#mcSparepart").val('');
            $("#mcHargaSparepart").val('');
        }
	}

	function GetUsulanTindakan() {
		var REQID = @ViewBag.nomor;
		var urutan = @ViewBag.urutan;


		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQID: REQID

		};

		$.ajax({
			url: "../QualityManager/QM_GetUsulanTindakan",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				document.getElementById('usulantindakan').value = data[0].USULAN_REMIDIAL;

			}, error: function (ex) {
                ErrorPIC("QM_GetUsulanTindakan", JSON.stringify(ex));
			}
		});


		var dtx = {
			LOGIN_USER: iduser,
			REQID: REQID,
            NO_DISPOSISI: urutan
		};
		$.ajax({
			url: "../QualityManager/QM_GetDisposisiTindakan",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dtx),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				console.log(data);
                $('#disposisitindakan').val(data[0].DISPOSISI_TINDAKAN);
                $('#txtHasilTindakan').val(data[0].HASIL_TINDAKAN);
                var adaCost = data[0].HIDDEN_COST_TYPE;
				$("input[name=checkhiddencost][value=" + adaCost + "]").prop('checked', true);
				if (adaCost == 'Yes') {
					$("#picsubmission").prop('hidden', false);
				}

                $('textarea').each(function () {
                    //this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;width:500px;overflow-y:hidden;');
                    this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });
			}, error: function (ex) {
                ErrorPIC("QM_GetDisposisiTindakan", JSON.stringify(ex));
			}
		});
	}

	function LoadCost() {
		var REQID = @ViewBag.nomor;
		var urutan = @ViewBag.urutan;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQID: REQID,
			NO_DISPOSISI:urutan
		};

		$.ajax({
            url: "../QualityManager/LoadCostDisposisi",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                // Testing Section
				$("#testingDurasiPengerjaan").val(data[0].TESTING_DURASI_PENGERJAAN);
				$("#testingJumlahPelaksana").val(data[0].TESTING_JUMLAH_PELAKSANA);
				$("#testingManhoursValue").val(data[0].TESTING_MANHOURS_VALUE);
				$("#testingCostAnalysis").val(data[0].TESTING_COST_OF_ANALYSIS);

				// Processing Section
				$("#procDurasiPengerjaan").val(data[0].PROC_DURASI_PENGERJAAN);
				$("#procJumlahPelaksana").val(data[0].PROC_JUMLAH_PELAKSANA);
				$("#procManhoursValue").val(data[0].PROC_MANHOURS_VALUE);
               @* $("#procMaterial").val(data[0].PROC_MATERIAL);
				$("#procQty").val(data[0].PROC_QUANTITY);
				$("#procCostMaterial").val(data[0].PROC_COST_MATERIAL);*@

				// Rejection Section
                $("#rejMaterial").val(data[0].REJ_MATERIAL);
				$("#rejQty").val(data[0].REJ_QUANTITY);
				$("#rejCostMaterial").val(data[0].REJ_COST_MATERIAL);

				// Machine Cost
				$("#mcDurasiPengerjaan").val(data[0].MC_DURASI_PENGERJAAN);
				$("#mcJumlahTeknisi").val(data[0].MC_JUMLAH_TEKNISI);
				$("#mcManhoursValue").val(data[0].MC_MANHOURS_VALUE);
                $("#mcNamaMesin").val(data[0].MC_NAMA_MESIN);
				$("#mcTotalMachineHours").val(data[0].MC_TOTAL_MACHINE_HOURS_VALUE);
				$("#mcSparepart").val(data[0].MC_SPAREPART);
				$("#mcHargaSparepart").val(data[0].MC_TOTAL_HARGA_SPAREPART);
			}, error: function (ex) {
                ErrorPIC("LoadCostDisposisi", JSON.stringify(ex));
			}
		});
	}

	function BeforeUnload() {
		var reqid = $("#lblReq").text();
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			LOGIN_USER: iduser,
			REQID: reqid
		};

		$.ajax({
			url: "../Reviewer/Reviewer_DeletePath",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                ErrorPIC("Reviewer_DeletePath", stringify(ex));
			}
		});

		$.ajax({
			url: "../Reviewer/Reviewer_DeleteFile",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                ErrorPIC("Reviewer_DeleteFile" , stringify(ex));
			}
		});
	}

	function InsertBukti() {

		var formData = new FormData();
		var REQID = @ViewBag.nomor;
		var totalFiles = document.getElementById("idFileUploadAttach").files.length;
		var usernik = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var urutan = @ViewBag.urutan;

		for (var i = 0; i < totalFiles; i++) {
			var file = document.getElementById("idFileUploadAttach").files[i];
			formData.append("idFileUploadAttach", file);
			formData.append("ReqID", REQID);
			formData.append("UserNIK", usernik);
			formData.append("NoDisposisi", urutan);
		}

		$.ajax({
			type: "POST",
			url: "../PICRemidial/PIC_InsertBukti",
			data: formData,
			dataType: "json",
			contentType: false,
			processData: false,
			JsonRequestBehavior: true,
			success: function (data) {

				if (data == 'S') {
                    $('#idFileUploadAttach').val('');

                    CheckDelete = 1;
					toastr.success("Bukti berhasil tersimpan !", "Tersimpan", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "2000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					LoadBukti();
				}
			}
			, error: function (ex) {
                ErrorPIC('Error Delete Attachment', JSON.stringify(ex));
			}
		});
	}

	function LoadBukti() {

		var REQID = @ViewBag.nomor;
        var urutan = @ViewBag.urutan;

		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			ReqId: REQID,
			USERNIK: USERNIK,
            NO_DISPOSISI: urutan
		}

		$.ajax({
			url: "../PICRemidial/PIC_LoadBukti",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {

					var trHTML = '';
					var trav = 0;
					var Count = data.length;

                    if (Count > 0) {
						for (trav = 0; trav < Count; trav++) {
							var no = 1
							no = no + trav
							trHTML += '<tr><td>' + no + '</td>' +
								'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
								'<td style="display:none">' + data[trav].NO_BUKTI + '</td>' +
								'<td>' + data[trav].FILE_NAME_UPLOAD + '</td>' +
								'<td style="display:none;">' + data[trav].PATH_FILE + '</td>' +
								'<td><input type="button" id="DeleteFileAttachment"  class="btn btn-danger DeleteFileAttachment" title="Delete" Value="Delete"></td></tr>';
						}

						$("#tblBukti").attr('hidden', false);
                        $("#tblBuktiBody").empty();
                        $("#tblBuktiBody").append(trHTML);
                        $("#tblBuktiBody").addBack();
					} else {
                        $("#tblBukti").addBack();
						$("#tblBukti").attr('hidden', true);
                    }
				}
				else {
                    $("#tblBukti").attr('hidden', true);
				}
            }
			, error: function (ex) {
                ErrorPIC('Error Load User Involved' , JSON.stringify(ex));
			}
		});
	}

	function Save() {

		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var urutan = @ViewBag.urutan;

		// Detailed Section
        var HiddenCostType = $('input[name="checkhiddencost"]:checked').val();
		var HasilTindakan = $("#txtHasilTindakan").val();

		// Testing Section
        var testDP = $("#testingDurasiPengerjaan").val().replaceAll(',', '');
        var testJP = $("#testingJumlahPelaksana").val().replaceAll(',', '');
        var testMV = $("#testingManhoursValue").val().replaceAll(',', '');
        var testCA = $("#testingCostAnalysis").val().replaceAll(',', '');

		// Processing Section
        var procDP = $("#procDurasiPengerjaan").val().replaceAll(',', '');
        var procJP = $("#procJumlahPelaksana").val().replaceAll(',', '');
        var procMV = $("#procManhoursValue").val().replaceAll(',', '');
		@*var procM = $("#procMaterial").val();
        var procQ = $("#procQty").val().replaceAll(',', '');
        var procCM = $("#procCostMaterial").val().replaceAll(',', '');*@

		// Rejection Section
		var rejM = $("#rejMaterial").val();
        var rejQ = $("#rejQty").val().replaceAll(',', '');
        //code here
        var rejCM = $("#valRejectedTotalCost").val().replaceAll(',', '');

		// Machine Cost
        var mcDP = $("#mcDurasiPengerjaan").val().replaceAll(',', '');
        var mcJT = $("#mcJumlahTeknisi").val().replaceAll(',', '');
        var mcMV = $("#mcManhoursValue").val().replaceAll(',', '');
		var mcNM = $("#mcNamaMesin").val();
        var mcMH = $("#mcTotalMachineHours").val().replaceAll(',', '');
        var mcS = $("#mcSparepart").val().replaceAll(',', '');
        var mcHS = $("#mcHargaSparepart").val().replaceAll(',', '');


		if (HiddenCostType == 'Yes') {
			if (HasilTindakan == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Hasil Tindakan Remidial harus diisi!',
				})
				return;
			}
			else if (testMV == '' && testCA == '' && procMV == '' && rejCM == '' && mcMV == '' && mcS == '' && mcHS == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Salah satu group cost wajib diisi!',
				})
				return;
			}
			else if (procDP != '' || procJP != '' || procMV != '') {
				if (procDP == '' || procJP == '' || procMV == '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Processing Cost wajib diisi semua!',
                    })
                    return;
				}
			}
            else if (testDP != '' || testJP != '' || testMV != '') {
                if (testDP == '' || testJP == '' || testMV == '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Testing Cost wajib diisi semua!',
                    })
                    return;
                }
            }
		}
		else {
            if (HasilTindakan == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Hasil Tindakan Remidial harus diisi!',
                })
                return;
            }
		}


		var dto = {
			REQID: REQID,
			IDUSER: iduser,
			NO_DISPOSISI: urutan,

			HasilTindakan: HasilTindakan,
			HiddenCostType: HiddenCostType,
			testDP: testDP,
			testJP: testJP,
			testMV: testMV,
			testCA: testCA,
			procDP: procDP,
			procJP: procJP,
			procMV: procMV,
            rejM: rejM,
			rejQ: rejQ,
			rejCM: rejCM,
			mcDP: mcDP,
			mcJT: mcJT,
			mcMV: mcMV,
			mcNM: mcNM,
			mcMH: mcMH,
			mcS: mcS,
			mcHS: mcHS
		};

		$.ajax({
			url: "../PICRemidial/PIC_Save",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				CheckDelete = 1;

				Swal.fire({
					title: 'Form Submit',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
				}).then(() => {

					function SendEmailPIC() {
						//jika pakai cost kirim email ke superior
						if (HiddenCostType == 'Yes') {

							var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
							var tabletype = "More Than One";
							var whoreceiver = "Superior PIC after PIC Submit Cost";
							var urutan = @ViewBag.urutan;

                            var dtx = {
                                Urutan: urutan,
								Username: receiver,
								ReqID: REQID,
								TableType: tabletype,
								WhoReceiver: whoreceiver
							};

							$.ajax({
								type: "post",
								url: '../Form/SendEmailInputProposal',
								data: JSON.stringify(dtx),
								dataType: "json",
								contentType: "application/json;charset=utf-8",
								success: function (data) {
                                    toastr.success("Email Sent Successfully !", "Notification", {
                                        "closeButton": false,
                                        "debug": true,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "1000",
                                        "timeOut": "2000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    });
								}, error: function (ex) {
									ErrorPIC("Error Email: " + JSON.stringify(ex));
								}
							});
						}

						//tanpa cost kirim email ke koordinator
						else {
							var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
							var tabletype = "More Than One";
							var whoreceiver = "Koordinator after PIC Submit";
							var urutan = @ViewBag.urutan;

							var dtx = {
								Urutan: urutan,
								TotalCost: 0,
								Username: receiver,
								ReqID: REQID,
								TableType: tabletype,
								WhoReceiver: whoreceiver
							};

							$.ajax({
								type: "post",
								url: '../Form/SendEmailInputProposal',
								data: JSON.stringify(dtx),
								dataType: "json",
								contentType: "application/json;charset=utf-8",
								success: function (data) {
                                    toastr.success("Email Sent Successfully !", "Notification", {
                                        "closeButton": false,
                                        "debug": true,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "1000",
                                        "timeOut": "2000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    });
								}, error: function (ex) {
									ErrorPIC("Error Email: " + JSON.stringify(ex));
								}
							});
						}
					}

                    $.when(SendEmailPIC()).done(window.location.href = "../DataDeviasi/PendingTask");
				});

			}
			, error: function (ex) {
                ErrorPIC('Error Save', JSON.stringify(ex));
			}
		});


	}

    function ErrorPIC(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Failure ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}
</script>

