
@{
	ViewBag.Title = "UsulanRevisi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsulanRevisi</h2>

<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">
										<button type="button" id="usulanrevisi" class="col-sm-2 btn mb-1 btn-success form-control">
											Submit
											<span class="fa fa-check-square-o"></span>
										</button>

										@*<a href="/PICRemidial/DataTableList" class="col-sm-2 mb-1 btn btn-info form-control">Back</a>*@

									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["xUser"]">
									</div>
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">
		@Html.Partial("~/Views/SpvPelapor/Approval.cshtml")

	</div>

	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group row">								
                                <div class="col">
                                    <div class="form-group">
                                        <label>Due Date:</label>
                                        <input id="txtDudate" type="text" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>New Due Date:<span class="text-danger">*</span></label>
                                        <input id="duedate" type="date" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Tindakan Remedial:</label>
                                        <input id="txtRemidial" type="text" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Revisi Tindakan Remedial:<span class="text-danger">*</span></label>
                                        <textarea id="tindakan" class="form-control"></textarea>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<script>
	$(document).ready(function () {
		GetDueDateDisposisi();
		$("#usulanrevisi").click(function () {
			SubmitUsulanRevisi();
		});


	});

	function GetDueDateDisposisi() {
		var REQID = @ViewBag.nomor;
		var urutan = @ViewBag.urutan;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';


		var dto = {

			REQID: REQID,
			NO_DISPOSISI: urutan,
			IDUSER: iduser
		}

		$.ajax({
			url: "../PICRemidial/GetDueDateDisposisi",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				$('#txtDudate').val(data[0].DUE_DATE);
                $('#txtRemidial').val(data[0].KETERANGAN_DISPOSISI);

			}
			, error: function (ex) {

			}
		});
	}

	function SubmitUsulanRevisi() {
        var revisiduedate = $("#duedate").val();
		var tindakan = $("#tindakan").val();
		if (revisiduedate == null || revisiduedate == '' || tindakan == '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Revisi tindakan dan due date wajib dimasukkan!'
			});
			return;
        }
		Swal.fire({
			title: 'Reason???',
			input: 'text',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var urutan = @ViewBag.urutan;
				var alasan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';


				var dto = {

					REQID: REQID,
					NO_DISPOSISI: urutan,
					REVISI_DUE_DATE: revisiduedate,
					REVISI_TINDAKAN_REMEDIAL: tindakan,
					ALASAN_REVISI: alasan,
					IDUSER: iduser
				}

				$.ajax({
					url: "../PICRemidial/PIC_SubmitUsulanRevisi",
					type: "post",
					dataType: "json",
					data: JSON.stringify(dto),
					contentType: "application/json;charset=utf-8",
					success: function (data) {
						Swal.fire({
							title: 'Usulan Revisi Saved',
							showDenyButton: false,
							showCancelButton: false,
							confirmButtonText: `OK`
						}).then((result) => {

							if (result.isConfirmed) {
								window.location.href = "../DataDeviasi/PendingTask"
							}
						})

					}
					, error: function (ex) {

					}
				});

				var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';

				var tabletype = "One";
				var whoreceiver = "SPV PIC Usulan Revisi";

				var dto = {
					Receiver: receiver,
					ReqID: REQID,
					TableType: tabletype,
					WhoReceiver: whoreceiver
				};

				$.ajax({
					type: "post",
					url: '../Form/SendEmailInputProposal',
					data: JSON.stringify(dto),
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					success: function (data) {

					}, error: function (ex) {
						alert("Error Email: " + JSON.stringify(ex));
					}
				});
			}

		});


	}

</script>
