
@{
	ViewBag.Title = "AssignPIC";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<body>
	<div class="content-body">
		<div class="form-group">
			<div class="container-fluid">
				
				<div class="card">
					<div class="card-body">
						<div class="form-group">
							<h2 class="d-inline">Assign PIC</h2>
						</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover verticle-middle table-responsive" id="datatablepic" style="color:black" width="1250px">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">No</th>
                                        <th width="700px" style="text-align:center">Keterangan Disposisi</th>
                                        <th width="200px" style="text-align:center">Pelaksana</th>
                                        <th wdith="100px" style="text-align:center">Due Date</th>
                                        <th width="150px" style="text-align:center">Actions</th>
                                        <th hidden="hidden">No Disposisi</th>
                                    </tr>
                                </thead>
                                <tbody id="pictable">
                                </tbody>
                            </table>
                        </div>                        
						<br />
						<div class="row">
							<div class="col-8">
								@*<div class="form-group">
									<button id="goBack" class="btn btn-success goBack">Save Progress</button>
								</div>*@
							</div>
							<div class="col-4" style="float:right;">
								<div class="form-group" id="evaluasiresiko" style="color:black">
									<label>Evaluasi Risiko</label>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault1" value="Yes" disabled="disabled">
										<label class="form-check-label" for="flexRadioDefault1">
											Perlu Ditindaklanjuti dengan Pengkajian Risiko
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault2" value="No" disabled="disabled">
										<label class="form-check-label" for="flexRadioDefault2">
											Tidak Perlu Ditindaklanjuti dengan Pengkajian
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>                   
				</div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h4>Cancel Deviation</h4>
                            <button type="button" id="btnCancel" class="col-sm-2 btn mb-1 btn-danger form-control">
                                Cancel
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="form-group">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h4>REVIEWER</h4>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover verticle-middle" id="deviationdatatable" width="1150px" style="color:black">
                                    <thead>
                                    <tr>
                                        <th width="50px" style="text-align:center">Nama</th>
                                        <th width="50px" style="text-align:center">NIK</th>
                                        <th width="40px" style="text-align:center">Status</th>
                                        <th width="60px" style="text-align:center">Tanggal Review</th>
                                        <th style="text-align:center">Hasil Review</th>
                                        <th width="50px" style="text-align:center">Dokumen Pendukung</th>

                                    </tr>
                                    </thead>
                                    <tbody id="deviationtable" class="nowrap">
                                    </tbody>
                                </table>
                            </div>

                            <br />
                            <table class="table table-bordered table-hover verticle-middle table-responsive" id="reviewerbuktidatatable" hidden="hidden" style="white-space: nowrap">
                                <thead>
                                <tr>
                                    <th width="75px">No</th>
                                    <th width="100px">Nama Reviewer</th>
                                    <th>Nama File</th>
                                </tr>
                                </thead>
                                <tbody id="reviewerbukti" class="nowrap">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Partial("../DataDeviasi/DeviasiPartialView")
                </div>
            </div>
        </div>
    </div>

</body>

<script nonce="rjDlrDsSe0nZGfjf3dLSOQ==">



    $(document).ready(function () {
        $('#btnTambahProduk').attr('hidden', true);
        //load desposisi
        LoadData();
        //load reviewer
        LoadData2();
        CheckStatus();
        @*LoadSiteGroupPIC();*@

        $('#btnCancel').click(function () {
            Cancel();
        });

        $('#goBack').click(function () {
            window.location.href = "../DataDeviasi/PendingTask"
        });

        //On click function btnShowBukti
        $('#deviationdatatable tbody').on('click', 'input[id="btnShowBukti"]', function () {
            ShowBukti(this);
        });
        //On click function button assignPIC
        $('#datatablepic tbody').on('click', 'input[id="AssignPIC"]', function () {

            //code here
            var row = $(this).closest("TR");
            var id = parseInt($("TD", row).eq(0).html()) - 1;
            @*var pic_nik = $("TD", row).eq(2).find("select").val();*@
            var pic_nik = $('#pic' + id).val();
            var site_pic = $('#site' + id).val();
            var due_date = $("TD", row).eq(3).find("input[type='date']").val();
            var pic_is_group = false;
            @*pic_nik.startsWith('G_') ? pic_is_group == true : pic_is_group == false;*@


            if (pic_nik == null || pic_nik == '' || due_date == null || due_date == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Pelaksana dan due date wajib diisi!'
                });
                return;
            }
            else if (pic_nik.startsWith('G_') && site_pic == null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Site grouping wajib diisi!'
                });
                return;
            }
            @*else {
				Swal.fire({
					icon: 'success',
					title: 'OK'
				});
				return;
			}*@

            if (pic_nik.startsWith('G_')) {
                pic_is_group = true;
            }

            var REQID = @ViewBag.nomor;

            var dtx = {
                REQID: REQID,
                UserInvolved: pic_nik,
                Group: pic_nik,
                GroupSite: site_pic
            }
            $.ajax({
                url: "../Form/CheckEmailAvailability",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dtx),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log('' + data);
                    @*alert(data[0].STATUS);
                    alert(data[0].JumlahUser);*@
                    @*console.log(data);*@
                    
                    if (data[0].STATUS == 'ADA') {
                        if (data[0].JumlahUser == 0) {
                            swal({
                                title: "Gagal",
                                text: "Tidak ada user terdaftar dalam group terpilih. Mohon cek group dan site yang dipilih.",
                                type: "error",
                                timer:3000,
                                showConfirmButton: false
                            });
                        }
                        else {
                            var no_disposisi = $("TD", row).eq(5).find("input[type='text']").val();
                            var req_id = @ViewBag.nomor;
                            var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';
                            @*console.log('aman');*@

                            function AssigningPIC() {
                                var dto = {
                                    REQ_ID: req_id,
                                    PIC_REMEDIAL_NIK: pic_nik,
                                    GROUP_SITE: site_pic,
                                    DUE_DATE: due_date,
                                    NO_DISPOSISI: no_disposisi,
                                    CURR_USER: curr_user
                                }

                                $.ajax({
                                    url: "../Koordinator/Coor_AssignPIC",
                                    type: "post",
                                    dataType: "json",
                                    data: JSON.stringify(dto),
                                    async: false,
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {
                                        datacoba = data;
                                        function NotifyAssignT() {
                                            toastr.success("Assign PIC Berhasil!", "Tersimpan", {
                                                "closeButton": false,
                                                "debug": true,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "100",
                                                "hideDuration": "3000",
                                                "timeOut": "3000",
                                                "extendedTimeOut": "3000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            });
                                        }

                                        function ConditionLoad() {
                                            if (data == 'COMPLETE') {
                                                var url = "../DataDeviasi/PendingTask";
                                                $.when(LoadData()).done($(location).attr('href', url));
                                            }
                                            else {
                                                LoadData();
                                            }
                                        }

                                        $.when(NotifyAssignT()).done(ConditionLoad());
                                    }
                                    , error: function (ex) {
                                        GetError('Coor_AssignPIC',  JSON.stringify(ex));
                                    }
                                });
                            }

                            function SendMailAssignSinglePIC() {
                                var receiver = $("TD", row).eq(2).find("select").val();
                               var tabletype = "More Than One";
                                var whoreceiver = "PIC after Appointed";
                                var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';

                                var dtx = {
                                    Username: curr_user,
                                    Receiver: pic_nik,
                                    ReqID: REQID,
                                    TableType: tabletype,
                                    WhoReceiver: whoreceiver
                                };

                                $.ajax({
                                    type: "post",
                                    url: '../Form/SendEmailInputProposal',
                                    data: JSON.stringify(dtx),
                                    dataType: "json",
                                    async: false,
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {

                                        toastr.success("Email Sent Successfully !", "Notification", {
                                            "closeButton": false,
                                            "debug": true,
                                            "newestOnTop": false,
                                            "progressBar": false,
                                            "positionClass": "toast-bottom-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "200",
                                            "hideDuration": "3000",
                                            "timeOut": "3000",
                                            "extendedTimeOut": "3000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        });
                                    }, error: function (ex) {
                                        GetError("Error Email Assign", JSON.stringify(ex));
                                    }
                                });
                            }

                            function SendMailAssignPICGroup() {
                                var receiver = $("TD", row).eq(2).find("select").val();
                                var tabletype = "More Than One";
                                var whoreceiver = "Group PIC after Appointed";
                                var curr_user = '@Request.RequestContext.HttpContext.Session["xUser"]';

                                var dtx = {
                                    Username: curr_user,
                                    Group: pic_nik,
                                    Site: site_pic,
                                    ReqID: REQID,
                                    TableType: tabletype,
                                    WhoReceiver: whoreceiver
                                };

                                $.ajax({
                                    type: "post",
                                    url: '../Form/SendEmailInputProposal',
                                    data: JSON.stringify(dtx),
                                    dataType: "json",
                                    async: false,
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {

                                        toastr.success("Email Sent Successfully !", "Notification", {
                                            "closeButton": false,
                                            "debug": true,
                                            "newestOnTop": false,
                                            "progressBar": false,
                                            "positionClass": "toast-bottom-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "200",
                                            "hideDuration": "3000",
                                            "timeOut": "3000",
                                            "extendedTimeOut": "3000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        });
                                    }, error: function (ex) {
                                        GetError("Error Email Assign", JSON.stringify(ex));
                                    }
                                });
                            }
                            //kalau ke group, send email ke group
                            if (pic_is_group === true) {

                                 $.when(AssigningPIC(), SendMailAssignPICGroup()).done(CheckStatus());

                                 @*$.when(AssignPIC()).then(SendMailAssign());*@
                                @* $.when(AssigningPIC()).done($.when((SendMailAssignPICGroup()).done(ConditionLoad())));*@
                            }
                            //kalau ke 1 orang, send email ke single pic
                            else {
                                $.when(AssigningPIC(), SendMailAssignSinglePIC()).done(CheckStatus());
            
                            }
                        }
                    }
                    else {
                        if (pic_is_group == 1) {
                            var trav = 0;
                            var count = data.length;
                            var listUsername = '';
                            if (count > 0) {
                                listUsername = data[0].Username;
                                for (trav = 1; trav < count; trav++) {
                                    listUsername += ', ' + data[trav].Username;
                                }
                            }

                            Swal.fire({
                                icon: 'error',
                                title: 'Ada user dalam group yang tidak memiliki email',
                                text: 'Mohon lengkapi data email user: ' + listUsername
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'PIC yang dipilih belum memiliki email terdaftar',
                                text: 'Mohon lengkapi data email user'
                            });
                        }
                    }
                }
                , error: function (ex) {
                    GetError('Check Email Availability', JSON.stringify(ex.responseText));
                }
            });
        });

    });


    var jumlahdisposisi = 0;
    var masterSites = [
        { id: "ALL", name: 'All' },
        { id: "PLG", name: 'Pulogadung' },
        { id: "PLM", name: 'Pulomas' },
        { id: "CKR", name: 'Cikarang' }];

    function ShowBukti(button) {
        event.preventDefault();

        $("#reviewerbuktidatatable").removeAttr("hidden");


        var row = $(button).closest("TR");
        var ReqID = @ViewBag.nomor;
        var reviewer = $("TD", row).eq(1).html();

        var dto = {
            REQID: ReqID,
            USER_NIK: reviewer
        }
        $('#reviewerbuktidatatable').DataTable().clear().destroy();

        $.ajax({
            url: "../Koordinator/Coor_ShowReviewerBukti",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var trHTML = '';
                var trav = 0;
                var Count = data.length;

                if (Count == '0') {
                    trHTML +=
                        '<tr><td> - </td>' +
                        '<td> N/A </td>' +
                        '<td> N/A </td>';
                } else {
                    for (trav = 0; trav < Count; trav++) {
                        var no = 1;
                        no = no + trav;
                        trHTML +=
                            '<tr><td>' + no + '</td>' +
                            '<td>' + data[trav].REVIEWER_NIK + '</td>' +
                            '<td><a href="..' + data[trav].PATH_FILE_DOWNLOAD + '" download="' + data[trav].FILE_NAME_UPLOAD + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';

                    }
                }

                $('#reviewerbukti').empty();
                $('#reviewerbukti').append(trHTML);
                $('#reviewerbuktidatatable').DataTable({
                    "searching": false,
                    "paging": false,
                    "info": false,
                    "ordering": false
                });

            }
            , error: function (ex) {
                GetError('Coor_ShowReviewerBukti', JSON.stringify(ex));
            }
        });
    }
    function Cancel() {
        Swal.fire({
            icon: 'question',
            title: 'Mohon masukan alasan untuk membatalkan penyimpangan ini!',
            input: 'textarea',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Submit',
            showLoaderOnConfirm: true,

            allowOutsideClick: () => Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                if (result.value == null || result.value == '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Alasan untuk membatalkan penyimpangan harus diisi !'
                    });
                } else
                if (result.isConfirmed) {
                    var REQID = @ViewBag.nomor;
                    var Keterangan = result.value;
                    var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

                    function CancelDeviationKoor() {
                        var dto = {
                            REQID: REQID,
                            KETERANGAN: Keterangan,
                            IDUSER: iduser
                        };

                        $.ajax({
                            url: "../Koordinator/Coor_KoorCancel",
                            type: "post",
                            dataType: "json",
                            data: JSON.stringify(dto),
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Form Cancelled',
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {
                                    window.location.href = "../DataDeviasi/PendingTask"
                                })

                            }
                            , error: function (ex) {
                                GetError("Coor_KoorCancel", JSON.stringify(ex));
                            }
                        });
                    }

                    function NotifyCancelDevKor() {
                        var tabletype = "More Than One";
                        var whoreceiver = "Canceled";
                        var no_disposisi = '';
                        var REQID = @ViewBag.nomor;
                        var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

                        var dtx = {
                            Urutan: no_disposisi,
                            Username: iduser,
                            ReqID: REQID,
                            TableType: tabletype,
                            WhoReceiver: whoreceiver
                        };

                        $.ajax({
                            type: "post",
                            url: '../Form/SendEmailInputProposal',
                            data: JSON.stringify(dtx),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                            }, error: function (ex) {
                                GetError("EmailCancelDeviationKoor", JSON.stringify(ex));
                            }
                        });
                    }

                    $.when(CancelDeviationKoor()).done(NotifyCancelDevKor());


                }
            }

        });
    }

    function CheckStatus() {
        var REQID = @ViewBag.nomor;

        var dto = {
            REQID: REQID
        };

        $.ajax({
            url: "../Koordinator/Koor_LoadAssignStatus",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data == 'OK') {
                    window.location.href = "../DataDeviasi/PendingTask"
                }

            }, error: function (ex) {
                GetError("Koor_LoadAssignStatus", JSON.stringify(ex));
            }
        });
    }


    // Check Status to Determine which Row Has Action
    function LoadData2() {
        var REQID = @ViewBag.nomor;

        var dto = {
            REQID: REQID
        };
        $.ajax({
            url: "../Koordinator/Coor_LoadReviewerList",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trHTML = '';
                var trav = 0;
                var Count = data.length;
                for (trav = 0; trav < Count; trav++) {

                    // WHEN REVIEWER FINISHED REVIEW / REVISE






                    trHTML +=
                        '<tr><td>' + data[trav].USER_NAME + '</td>' +
                        '<td>' + data[trav].USER_NIK + '</td>' +
                        '<td>' + data[trav].FLAG_REVIEW + '</td>' +
                        '<td style="text-align:center">' + data[trav].TANGGAL + '</td>' +
                        '<td>' + data[trav].KETERANGAN_REVIEW + '</td>' ;


                    trHTML += '<td align="center"><input type="button" id="btnShowBukti" class="btn btn-info" value="View"></td > ';

                    $('#deviationdatatable').DataTable().destroy().clear();
                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });
                }
            }, error: function (ex) {
                GetError("LoadData2", JSON.stringify(ex));
            }
        });
    }

    @*function LoadSiteGroupPIC() {
		console.log(jumlahdisposisi);
        $('.allDdlPIC').on('change', function () {
            alert($(this).val());
        });
		for (var k = 0; k < jumlahdisposisi; k++) {
			addClick(k);
        }
	}*@

    @*function addClick(k) {
		console.log(k);
        jQuery("#pic" + k).click(function () {
            console.log(k);
        });
    }*@

    function LoadData() {

        var nomor = @ViewBag.nomor;

        function GetDisposisi() {
            var dto = {
                REQ_ID: nomor
            }

            // GET DISPOSISI TABLE FOR ASSIGNING PIC
            $.ajax({
                url: "../Koordinator/Coor_LoadDisposisiData",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {
                        var no = trav + 1;

                        @*if (data[trav].PIC_REMEDIAL_NIK == '-' && data[trav].PIC_REMEDIAL_NAME == 'NOT YET ASSIGNED') {
                            trHTML += '<tr><td align="center">' + no + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
								'<td> <select id="pic' + trav + '">' +
								'<table id="tblListProduk" class="table table-striped table-bordered">'+
								'<thead>'+
                                    '<th style="width:20px">No</th>'+
									'<th id="thQCNum">QC Material/Manufacturing Number</th>' +
									'<th id="thItemCode">Item Code</th>' +
									'<th id="thNoBatch">No Batch</th>' +
									'<th id="thNoWO">No WO Oracle</th>' +
									'<th>Keterangan</th>' +
									'<th style="width:30px">Action</th>'+
								'</thead >'+
                                        '</table ></td>' +
                                '<td> <input type="date" id="duedate' + trav + '"></td>' +
                                '<td align="center"> <input type="button" id="AssignPIC" value="Assign PIC" class="btn btn-primary AssignPIC" /></td>' +
                                '<td hidden="hidden"><input type="text" value="' + data[trav].NO_DISPOSISI + '"</td>';

                        } else {
                            trHTML += '<tr><td align="center">' + no + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td>' + data[trav].DUE_DATE + '</td>' +
                                '<td align="center">* NO ACTIONS *</td>' +
                                '<td hidden="hidden"><input type="text" value="' + data[trav].NO_DISPOSISI + '"</td>';
                        }*@
                        if (data[trav].PIC_REMEDIAL_NIK == '-' && data[trav].PIC_REMEDIAL_NAME == 'NOT YET ASSIGNED') {
                            trHTML += '<tr><td align="center" class="rowNumber">' + no + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td> <select id="pic' + trav + '" class="allDdlPIC"></select><div id="hidsite'+trav+'"><select id="site' + trav + '" class="allDdlSite" style="width:200px;"></select></div>' + '</td>' +
                                '<td> <input type="date" id="duedate"></td>' +
                                '<td align="center"> <input type="button" id="AssignPIC" value="Assign PIC" class="btn btn-primary" /></td>' +
                                '<td hidden="hidden"><input type="text" value="' + data[trav].NO_DISPOSISI + '"</td>';
                        }
                        else {
                            trHTML += '<tr><td align="center" class="rowNumber">' + no + '</td>' +
                                '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td>' + data[trav].DUE_DATE + '</td>' +
                                '<td align="center">* NO ACTIONS *</td>' +
                                '<td hidden="hidden"><input type="text" value="' + data[trav].NO_DISPOSISI + '"</td>';
                        }

                    }
                    $('#datatablepic').DataTable().clear().destroy();
                    $('#pictable').empty();
                    $('#pictable').append(trHTML);
                    $('#datatablepic').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": true
                    });

                    jumlahdisposisi = trav;

                    LoadPICList(jumlahdisposisi);

                    //SITE PIC
                    $(".allDdlSite").hide();

                    $('.allDdlPIC').on('change', function (event) {
                        var idPIC = $(this).val();
                        var clickedID = event.target.id;
                        clickedID = clickedID.slice(clickedID.length - 1);

                        if (idPIC.indexOf('G_') == 0) {
                            $("#hidsite" + clickedID).removeAttr("hidden");
                            // Populate Group Site Dropdown Lists
                            trhtml = '';
                            trhtml += '<option disabled class="dropdown-header" value="" selected>Select Site</option>';

                            for (i = 0; i < masterSites.length; i++) {
                                trhtml +=
                                    '<option class="dropdown-item" value = "' + masterSites[i].id + '">' + masterSites[i].name + '</option>';
                            }

                            $("#site" + clickedID).empty();
                            $("#site" + clickedID).append(trhtml);
                            $("#site" + clickedID).select2();
                        } else {
                            $("#hidsite" + clickedID).attr("hidden",true);
                        }
                        //console.log(idPIC);
                        //console.log("#site" + clickedID);

                    });

                    var today = new Date().toISOString().split('T')[0];
                    $("#duedate").attr('min', today);
                },
                error: function (ex) {
                    GetError("Coor_LoadDisposisiData", JSON.stringify(ex));
                }
            });
        }

        function GetEvalusiResiko() {
            var dtx = {
                REQID: nomor
            }
            // GET EVALUASI RESIKO
            $.ajax({
                url: "../Koordinator/LoadEvaluasiResiko",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dtx),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("input[name=radbut][value=" + data[0].EVALUASI_RESIKO + "]").prop('checked', true);
                },
                error: function (ex) {
                    GetError("LoadEvaluasiResiko", JSON.stringify(ex));
                }
            });
        }

        $.when(GetDisposisi()).then(GetEvalusiResiko());
    }

    function LoadPICList(jumlahdisposisi) {
        $.ajax({
            url: "../Koordinator/Coor_LoadPICList",
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var trhtml = "";
                var trav = 0;
                var count = data.length;

                trhtml += '<option disabled class="dropdown-header" value="" selected>Select PIC</option>';
                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {
                        trhtml +=
                            '<option class="dropdown-item" value = "' + data[trav].EmpId + '">' + data[trav].EmpName + '</option>';
                    }
                }
                var i = 0;

                // Populate PIC Dropdown Lists
                for (i = 0; i < jumlahdisposisi; i++) {
                    $("#pic" + i).empty();
                    $("#pic" + i).append(trhtml);
                    $("#pic" + i).select2();
                }
            }, error: function (ex) {
                GetError("Load PIC List", JSON.stringify(ex));
            }
        });
    }

    function GetError(ErrorType, ErrorMsg) {
        var REQID = @ViewBag.nomor;
        var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

        var dto = {
            REQ_ID: REQID,
            UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
        }

        $.ajax({
            url: "../Form/LogError",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
            }
            , error: function (ex) {

            }
        });
    }

</script>
