
@{
	ViewBag.Title = "Delegasi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">

										<button type="button" id="btnDelegate" class="col-sm-2 btn mb-1 btn-success form-control">
											Delegate
										</button>

										<button type="button" id="btnCancel" class="col-sm-2 btn mb-1 btn-danger form-control">
											Cancel
										</button>

									</div>

									<div class="form-group">
										<label for="listDelegasi" class="form-text">Delegasi Disposisi Tindakan Remedial: <span style="color:red;">*</span></label>
										<select id="listDelegasi" class="form-control">
											<option class="dropdown-header">* SELECT NAMA DELEGASI *</option>
										</select>
									</div>

									<div class="form-group">
										<label for="txtReason" class="form-text">Alasan Delegasi: <span style="color:red;">*</span></label>
										<textarea id="txtReason" style="width: 600px;" class="form-control"></textarea>
									</div>

								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["xUser"]">
									</div>
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">
		@Html.Partial("~/Views/SpvPelapor/Approval.cshtml")
	</div>
</div>

<script>
	$(document).ready(function () {
		LoadDelegasiList();

		$("#btnCancel").click(function () {
			window.history.back();
		});

		$("#btnDelegate").click(function () {

			if ($("#txtReason").val() == '' || $("#txtReason").val() == null || $("#listDelegasi").val() == '') {

				Swal.fire({
					title: 'Alasan Delegasi dan Nama Delegasi Tidak Boleh Kosong',
					icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
				}).then((result) => {
					/* Read more about isConfirmed, isDenied below */
					if (result.isConfirmed) {
						return;
					}
				});

			} else {
				Delegate();
			}

		});

	});

	function Delegate() {
        alert('masuk fungsi delegate');
		var nomor = @ViewBag.nomor;
        var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var userid = $("#listDelegasi").val();
		var reason = $("#txtReason").val();

		// I use Reviewer Model coz it has the same attribute as Disposisi
		// Should have be KETERANGAN_DELEGASI

		function DelegasiSend() {
            alert('delegasi send');
            var dto = {
                USER_NIK: userid,
                REQID: nomor,
                KETERANGAN_REVIEW: reason
            }

            $.ajax({
                url: "../Koordinator/Coor_Delegate",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Delegasi Deviation Berhasil',
                        showDenyButton: false,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        /* Read more about isConfirmed, isDenied below */
                        window.location.href = "../DataDeviasi/PendingTask"

                    })
                },
                error: function (ex) {
                    GetErrorDelegasi("Coor_Delegate", JSON.stringify(ex));
                }
            });
		}

		function EmailDelegasi() {
            alert('email delegasi');
            var tabletype = "More Than One";
            var whoreceiver = "Delegasi";

            var dtx = {
                Username: receiver,
                ReqID: nomor,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dtx),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorDelegasi("SendEmailInputProposalDelegasi", JSON.stringify(ex));
                }
            });
		}

        $.when(DelegasiSend()).done(EmailDelegasi());
	}

	function LoadDelegasiList() {

		var userid = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			IDUSER: userid
		};

		$.ajax({
			type: "post",
			url: '../Koordinator/Coor_LoadDelegasiList',
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				var trhtml = "";
				var trav = 0;
				var count = data.length;

				trhtml += '<option disabled class="dropdown-header" value="" selected>* SELECT NAMA DELEGASI *</option>';
				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
						trhtml +=
							'<option class="dropdown-item" value = "' + data[trav].EmpId + '">' + data[trav].EmpName + '</option>';
					}

					$("#listDelegasi").empty();
					$("#listDelegasi").append(trhtml);
					$("#listDelegasi").select2();
				}

			}, error: function (ex) {
                GetErrorDelegasi("Coor_LoadDelegasiList",JSON.stringify(ex));
			}
		});
	}

	function GetErrorDelegasi(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}
</script>