
@{
	ViewBag.Title = "HeaderKoordinator";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>

							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">

										@* APPROVE PER HEADER *@
										<button type="button" id="btnApprove" style="width:108.11px" class="btn mb-1 btn-success form-control">
											Approve
											<span class="fa fa-check-square-o"></span>
										</button>

										@* REJECT PER HEADER *@
										<button type="button" id="btnReject" class="col-sm-2 btn mb-1 btn-danger form-control">
											Reject
											<span class="fa fa-ban"></span>
										</button>


										<button type="button" id="btnShowRev" class="col-sm-2 btn mb-1 btn-info form-control" hidden="hidden">
											Show Reviewer
										</button>


										<button type="button" id="btnCancel" class="col-sm-2 btn mb-1 btn-danger form-control" hidden="hidden">
											Cancel
											<span class="fa fa-trash-o"></span>
										</button>
									</div>

									<div class="form-group" id="xddlx" hidden="hidden">
										<div class="col">
											<label class="col col-form-label">Reviewer<span class="text-danger">*</span> :</label>
										</div>
										<div class="col">
											<div class="col input-group form-group">
												<div class="basic-dropdown">
													<div class="dropdown user-dropdown form-inline">
														<select id="ddlReviewer" name="ddlReviewer" class="form-control"></select>
													</div>
												</div>
												<span id="spanUser" class="input-group-append" title="Tambah orang terlibat">
													<span class="input-group-text btn-success">
														<i class="fa fa-user-plus"></i>
													</span>
												</span>
											</div>
											<div class="col form-group">
												<table id="tblWho_Rev" class="table table-striped table-bordered">
													<thead>
														<tr>
															<th style="width:20px">No</th>
															<th>Nama</th>
															<th>NIK</th>
															<th style="width:30px">Action</th>
														</tr>
													</thead>
													<tbody id="tblBodyWho_Rev">
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
									</div>
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group" id="partialview">
		@Html.Partial("../SpvPelapor/Approval")
	</div>
</div>

<script>
	let checkEvaluator = '';

	$(document).ready(function () {

		GetCurrStat();

		$('#spanUser').click(function () {
			CheckEmailAvailability();
		});

		$("#btnReject").click(function () {
			Reject();
		});

		$("#btnCancel").click(function () {
			Cancel();
		});

		$('#ddlReviewer').change(function () {

		});

		// BUTTON APPROVE(S) ARE SPECIFIED IN GETCURRSTAT FUNCTION TO SPECIFY WHICH APPROVAL IS WHICH

	});

	function CheckEmailAvailability() {
		var UserInvolved = document.getElementById('ddlReviewer').value;
		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID,
			UserInvolved: UserInvolved
		}

		$.ajax({
			url: "../Form/CheckEmailAvailability",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data == 'ADA') {
					InsertNamaTerlibat();
				} else {
					alert("please insert email first");
				}

			}
			, error: function (ex) {
				alert('Check Email Availability: ' + JSON.stringify(ex));
			}
		});
	}

	function ApproveHeaderKoordinator() {
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {

			REQID: REQID,
			IDUSER: iduser
		};

		$.ajax({
			url: "../Koordinator/Coor_Approve",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                Swal.fire({
                    title: 'Sent to Reviewer',
                    showDenyButton: false,
					showCancelButton: false,
					timer: 2000
                }).then((result) => {

                    if (result.isConfirmed) {
                        window.location.href = "../DataDeviasi/PendingTask"
                    }
                })
			}
			, error: function (ex) {
				alert('Error Approve : ' + JSON.stringify(ex));
			}
		});

		var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var tabletype = "More Than One";
		var whoreceiver = "Reviewer after Appointed";

		var dtx = {
			Receiver: receiver,
			ReqID: REQID,
			TableType: tabletype,
			WhoReceiver: whoreceiver
		};

		$.ajax({
			type: "post",
			url: '../Form/SendEmailInputProposal',
			data: JSON.stringify(dtx),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {

			}, error: function (ex) {
				alert("Error Email: " + JSON.stringify(ex));
			}
		});
	}

	function ApproveReviewer() {
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {

			REQID: REQID,
			IDUSER: iduser
		};

		$.ajax({
			url: "../Koordinator/Coor_Approve",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				Swal.fire({
					title: 'Form Approved',
					showDenyButton: false,
					showCancelButton: false,
					confirmButtonText: `OK`
				}).then((result) => {

					if (result.isConfirmed) {
                        window.location.href = "../DataDeviasi/PendingTask"
					}
				})

			}
			, error: function (ex) {
				alert('Error Approve Reviewer : ' + JSON.stringify(ex));
			}
		});
	}

	function Reject() {

		Swal.fire({
			title: 'Reason???',
			input: 'text',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

				var dto = {
					REQID: REQID,
					KETERANGAN: Keterangan,
					IDUSER: iduser
				};

				$.ajax({
					url: "../Koordinator/Coor_Reject",
					type: "post",
					dataType: "json",
					data: JSON.stringify(dto),
					contentType: "application/json;charset=utf-8",
					success: function (data) {

						Swal.fire({
							title: 'Form Rejected',
							showDenyButton: false,
							showCancelButton: false,
							confirmButtonText: `OK`
						}).then((result) => {

							if (result.isConfirmed) {
								window.location.href = "../DataDeviasi/PendingTask"
							}
						})

					}
					, error: function (ex) {
						alert('Error Reject: ' + JSON.stringify(ex));
					}
				});

			}

		});
	}

	function GetDevNum() {
		var REQID = @ViewBag.nomor;
		var category = $("#ddlKategori").val();
		var location = $("#ddlSiteLokasi").val();
		var dept = $("#ddlDeptLokasi").val();

		var dto = {
			ReqID: REQID,
			DeviationCategory: category,
			LocationSite: location,
			Departement: dept
		};

		$.ajax({
			url: "../Koordinator/Coor_GetDevNum",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                $('#TbNmrDev').val(data[0]);
			}
			, error: function (ex) {
				alert('Error Get Dev Num: ' + JSON.stringify(ex));
			}
		});
	}

	function GetDDL() {
		$.ajax({
			url: "../Koordinator/Coor_LoadUser",
			type: "post",
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				var trhtml = "";
				var trav = 0;
				var count = data.length;

				trhtml += '<select id="ddlReviewer" class="form-control">';
				trhtml += '<option disabled class="dropdown-header" selected>* Pilih Reviewer *</option>';

				if (count > 0) {
					for (trav = 0; trav < count; trav++) {
						trhtml += '<option class="dropdown-item" value = "' + data[trav].EmpId + '" > ' + data[trav].EmpName;
					}
				}

				trhtml += '</select>';

				$(".user-dropdown").empty();
				$(".user-dropdown").append(trhtml);
				$("#ddlReviewer").select2();
			}, error: function (ex) {
				alert(JSON.stringify(ex));
			}
		});
	}

	function InsertNamaTerlibat() {
		var UserInvolved = $('#ddlReviewer').val();
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQID: REQID,
			UserInvolved: UserInvolved,
            IdProposer: iduser
		}

		$.ajax({
			url: "../Koordinator/Coor_InsertUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data == 'S') {

					

					toastr.success("Data berhasil tersimpan !", "Tersimpan", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					Coor_LoadUserInvolved();
					GetCurrStat();

				}
			}
			, error: function (ex) {
				alert('Insert Nama Terlibat: ' + JSON.stringify(ex));
			}
		});
	}

	function Coor_LoadUserInvolved() {

		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID
		}

		$.ajax({
			url: "../Koordinator/Coor_LoadUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					$('#tblWho_Rev').attr('hidden', false);

					var trHTML = '';
					var trav = 0;
					var Count = data.length;

					checkEvaluator = Count;
					for (trav = 0; trav < Count; trav++) {
						trHTML += '<tr><td>' + data[trav].NO + '</td>' +
							'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
							'<td style="display:none">' + data[trav].RecordID + '</td>' +
							'<td>' + data[trav].USER_NAME + '</td>' +
							'<td>' + data[trav].USER_NIK + '</td>' +
							'<td><button onclick="DeleteUserInvolved(this)" class="btn btn-danger"><span class="fa fa-trash-o"><strong></strong></span></button ></td ></tr > ';
					}

					$("#tblBodyWho_Rev").empty();
					$("#tblBodyWho_Rev").append(trHTML);
					$("#tblBodyWho_Rev").addBack();
				}
				else {
					$('#tblWho_Rev').attr('hidden', true);
					$("#tblBodyWho_Rev").addBack();
				}

			}
			, error: function (ex) {
				alert('Error Load User Involved : ' + JSON.stringify(ex));
			}
		});
	}

	function DeleteUserInvolved(button) {
		event.preventDefault();
		var row = $(button).closest("TR");
		var ReqID = $("TD", row).eq(1).html();
		var RecordID = $("TD", row).eq(2).html();

		var dto = {
			REQID: ReqID,
			RecordID: RecordID
		}

		$.ajax({
			url: "../Koordinator/Coor_DeleteUserInvolved",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				if (data == 'S') {
					toastr.success("Data berhasil terhapus !", "Terhapus", {
						"closeButton": false,
						"debug": true,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});

					Coor_LoadUserInvolved();
				}
			}
			, error: function (ex) {
				alert('Error Delete User Involved : ' + JSON.stringify(ex));
			}
		});
	}

	function GetCurrStat() {

		$("#partialview").attr("hidden", true);

		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID

		};

		$.ajax({
			url: "../Koordinator/Coor_GetCurrStat",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				console.log(data);
				if (data == '' || data == null) {

				}
				else
				if (data[0].STAT == 'S') {

					$("#btnCancel").removeAttr('hidden');
					$("#btnShowRev").removeAttr('hid\en');

					$("#btnShowRev").click(function () {
						window.location.href = "../Koordinator/ReviewerDataTable?Nomor=@ViewBag.nomor";
					});

					$("#btnApprove").attr("hidden", true);
					$("#btnReject").attr("hidden", true);

					$("#btnApprove").click(function () {

						ApproveReviewer();

					});
				} else {
                    GetDDL();
					$("#partialview").attr("hidden", false);
					$("#btnShowRev").attr("hidden", true);
					$("#btnCancel").attr("hidden", true);
					$("#btnApprove").removeAttr("hidden");
					$("#btnReject").removeAttr("hidden");


					Coor_LoadUserInvolved();

					var btnText = $("#btnApprove").text();
					var tbl = data[0].COUNTED
					var cNoDev = $('#TbNmrDev').val();

					
					// KALAU UDAH ADA ISINYA
					if (cNoDev != '')
					{
						$("#btnApprove").text('Send to Reviewer');
						$("#btnApprove").width("110px");
						$("#xddlx").removeAttr('hidden');
						$("#btnReject").attr("hidden", true);
						

					}


					$("#btnApprove").click(function () {
                        btnText = $("#btnApprove").text();
						
						// KALAU BELUM ADA ISINYA
                        if (((tbl < 1) && ($.trim(btnText) == 'Approve')) || (checkEvaluator > 0 && ($.trim(btnText) == 'Approve'))  ) {

							$("#xddlx").removeAttr('hidden');
							$("#btnApprove").text('Send to Reviewer');
							$("#btnApprove").width("110px");
							$("#btnReject").attr("hidden", true);
							GetDDL();
							GetDevNum();
						}
						else
                            if (checkEvaluator < 1 && $.trim(btnText) == 'Send to Reviewer') {

								Swal.fire({
									icon: 'error',
									title: 'Oops...',
									text: 'Mohon pilih Reviewer terlebih dahulu!',
								});
							}
							else
                                if ((checkEvaluator > 0 && $.trim(btnText) == 'Send to Reviewer'))
								{
									ApproveHeaderKoordinator();
								}



					});
				}

			}, error: function (ex) {
				alert(JSON.stringify(ex));
			}
		});
	}



	function Cancel() {
		Swal.fire({
			title: 'Cancel Reason ...',
			input: 'text',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

				var dto = {
					REQID: REQID,
					KETERANGAN: Keterangan,
					IDUSER: iduser
				};

				$.ajax({
					url: "../Koordinator/Coor_KoorCancel",
					type: "post",
					dataType: "json",
					data: JSON.stringify(dto),
					contentType: "application/json;charset=utf-8",
					success: function (data) {

						Swal.fire({
							title: 'Form Cancelled',
							showDenyButton: false,
							showCancelButton: false,
							confirmButtonText: `OK`
						}).then((result) => {

							if (result.isConfirmed) {
								window.location.href = "../DataDeviasi/PendingTask"
							}
						})

					}
					, error: function (ex) {

					}
				});

				var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';

				var tabletype = "One";
				var whoreceiver = "Canceled";

				var dtx = {
					Receiver: receiver,
					ReqID: REQID,

					TableType: tabletype,
					WhoReceiver: whoreceiver
				};

				$.ajax({
					type: "post",
					url: '../Form/SendEmailInputProposal',
					data: JSON.stringify(dtx),
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					success: function (data) {

					}, error: function (ex) {
						alert("Error Email: " + JSON.stringify(ex));
					}
				});
			}
		});
	}



</script>




