@{ ViewBag.Title = "VerifikasiTindakanRemidial";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@*<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>*@

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group">
                                <h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan</h4>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <button type="button" id="btnSave" class="col-sm-2 btn mb-1 btn-success form-control " style="display:none">
                                            Save
                                            <span class="fa fa-check-square-o"></span>
                                        </button>

                                        <button type="button" id="btnUpdate" class="col-sm-3 btn mb-1 btn-warning form-control ">
                                            Update Produk/Material
                                            <span class="fa fa-check-square-o"></span>
                                        </button>

                                        <button type="button" id="btnCancelPerubahan" class="col-sm-3 btn mb-1 btn-danger form-control " style="display:none">
                                            Cancel Perubahan
                                            <span class="fa fa-check-square-o"></span>
                                        </button>

                                        <button type="button" id="btnCancel" class="col-sm-3 btn mb-1 btn-danger form-control ">
                                            Cancel Penyimpangan
                                            <span class="fa fa-check-square-o"></span>
                                        </button>



                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nama</label>
                                        <input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTanggal">Tanggal:</label>
                                        <input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        @Html.Partial("~/Views/QualityManager/QualityManagerPartialView.cshtml")
    </div>

    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-custom-all-bordered" id="deviationdatatable" width="3450px" style="color:black;border:solid;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" width="50px">No</th>
                                            <th rowspan="2" width="250px">Disposisi Tindakan Remedial</th>
                                            <th rowspan="2" width="150px">Nama PIC</th>
                                            <th rowspan="2">Hasil Tindakan Remedial</th>
                                            <th colspan="5" style="text-align:center">Testing Cost</th>
                                            <th colspan="4" style="text-align:center">Processing Cost</th>
                                            <th colspan="3" style="text-align:center">Reject Cost</th>
                                            <th colspan="6" style="text-align:center">Machine Cost</th>
                                            <th rowspan="2" style="text-align:center" width="100px">Status</th>
                                            <th rowspan="2" style="text-align:center" width="20px">Dokumen Pendukung</th>
                                            <th id="headVerify" rowspan="2" style="text-align:center" width="200px">Verifikasi Tindakan Remedial</th>
                                        </tr>
                                        <tr>
                                            <th width="75px">Jumlah Personel (orang)</th>
                                            <th width="75px">Durasi Pengerjaan (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="150px">Cost of Analysis (Rp)</th>
                                            <th width="75px">Jumlah Personel (orang)</th>
                                            <th width="75px">Durasi Pengerjaan (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="75px">Material</th>
                                            <th width="75px">Quantity</th>
                                            <th width="75px">Cost Material (Rp)</th>
                                            <th width="75px">Jumlah Teknisi (orang)</th>
                                            <th width="75px">Durasi (jam)</th>
                                            <th width="75px">Manhours</th>
                                            <th width="75px">Manhours Cost (Rp)</th>
                                            <th width="75px">Nama Sparepart</th>
                                            <th width="75px">Harga Sparepart (Rp)</th>
                                            <th width="75px" hidden="hidden">NIK PIC</th>
                                        </tr>

                                    </thead>
                                    <tbody id="deviationtable">
                                    </tbody>
                                    <tfoot id="picfooter">
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tabel2" hidden="hidden">
                        <div class="card-body">
                            <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="buktidatatable" width="100%">
                                <thead>
                                    <tr>
                                        <th width="75px">No</th>
                                        <th width="100px">Nama PIC</th>
                                        <th width="75px">Nama File</th>

                                    </tr>
                                </thead>
                                <tbody id="buktitable" class="nowrap">
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usulantindakan">
                                            Usulan Tindakan Remedial
                                        </label>
                                        <textarea id="usulantindakan" class="form-control" disabled="disabled"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="evaluasiresiko">
                                <label>Evaluasi Risiko</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault1" value="Yes" disabled="disabled">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Perlu Ditindaklanjuti dengan Pengkajian Risiko
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radbut" id="flexRadioDefault2" value="No" disabled="disabled">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Tidak Perlu Ditindaklanjuti dengan Pengkajian
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="koorsubmission" hidden="hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>Investigation Time</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan (Jam)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" id="ITDP" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana (Orang)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" id="ITJP" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h4>Meeting Time</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Durasi Pengerjaan (Jam)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" id="MTDP" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jumlah Pelaksana (Orang)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" id="MTJP" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                            <button type="button" id="btnApprove2" class="col-sm-2 btn btn-success">
                                Save
                                <span class="fa fa-check-square-o"></span>
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script nonce="CWexcXO1KD5c83YEXnoPAw==">
    var listProduk = [];
    var editMode = false;

        var dev_kategori = $("#ddlKategori").val();

    $(document).ready(function () {

        $('#deviationdatatable tbody').on('click', 'input[id="btnVerifikasi"]', function () {
            var row = this.closest("TR");
            var ReqID = @ViewBag.nomor;
            var no_disposisi = $("TD", row).eq(0).html();
            var username = '@Request.RequestContext.HttpContext.Session["xUser"]';

            Swal.fire({
                title: 'Apakah Anda yakin untuk verifikasi tindakan remedial terpilih?',
                showCancelButton: true,
                icon: 'warning',
                confirmButtonText: 'Ya, verifikasi',
                showLoaderOnConfirm: true,
                allowOutsideClick: () => Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    var dto = {
                        REQ_ID: ReqID,
                        NO_DISPOSISI: no_disposisi,
                        CURR_USER: username
                    }

                    $.ajax({
                        url: "../Koordinator/VerifikasiPerPIC",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        async: false,
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            LoadStatus();
                        }
                        , error: function (ex) {
                            GetErrorVerifikasi("VerifikasiPerPIC", JSON.stringify(ex));
                        }
                    });

                    var tabletype = "More Than One";
                    var whoreceiver = "PIC after Koordinator Verifikasi OK";

                    //send email function
                    var dtx = {
                        Username: username,
                        ReqID: ReqID,
                        Urutan: no_disposisi,
                        TableType: tabletype,
                        WhoReceiver: whoreceiver
                    };

                    $.ajax({
                        type: "post",
                        url: '../Form/SendEmailInputProposal',
                        data: JSON.stringify(dtx),
                        dataType: "json",
                        async: false,
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            toastr.success("Email Sent Successfully !", "Notification", {
                                "closeButton": false,
                                "debug": true,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "100",
                                "hideDuration": "1000",
                                "timeOut": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            });
                        }, error: function (ex) {
                            GetErrorVerifikasi("VerifikasiNotifyApprove", JSON.stringify(ex));
                        }
                    });
                }
            });
        });

        $('#deviationdatatable tbody').on('click', 'input[id="btnRejectVerifikasi"]', function () {

            var empid = '@Request.RequestContext.HttpContext.Session["nik"]';
            var empUsername = '@Request.RequestContext.HttpContext.Session["xUser"]';
            var row = this.closest("TR");
            var ReqID = @ViewBag.nomor;
            var no_disposisi = $("TD", row).eq(0).html();

            Swal.fire({
                title: 'Mohon masukkan alasan reject!',
                input: 'textarea',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Submit',
                showLoaderOnConfirm: true,

                allowOutsideClick: () => Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    if (result.value == null || result.value == '') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Alasan reject wajib diisi',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    else {
                        var keteranganReject = result.value;
                        var dto = {
                            REQ_ID: ReqID,
                            NO_DISPOSISI: no_disposisi,
                            KETERANGAN_REJECT: keteranganReject,
                            USER_NIK: empid,
                            CURR_USER: empUsername
                        }

                        $.ajax({
                            url: "../Koordinator/RejectVerifikasiPerPIC",
                            type: "post",
                            dataType: "json",
                            data: JSON.stringify(dto),
                            async: false,
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                Swal.fire({
                                    title: 'Berhasil direject',
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {
                                    LoadStatus();
                                });
                            }
                            , error: function (ex) {
                                GetErrorVerifikasi("Koor:RejectVerifikasiPerPIC", JSON.stringify(ex));
                            }
                        });

                        //send email function
                        var tabletype = "More Than One";
                        var whoreceiver = "PIC after Koordinator Verifikasi Rejected";

                        var dtx = {
                            Username: empUsername,
                            ReqID: ReqID,
                            Urutan: no_disposisi,
                            TableType: tabletype,
                            WhoReceiver: whoreceiver
                        };

                        $.ajax({
                            type: "post",
                            url: '../Form/SendEmailInputProposal',
                            data: JSON.stringify(dtx),
                            dataType: "json",
                            async: false,
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                toastr.success("Email Sent Successfully !", "Notification", {
                                    "closeButton": false,
                                    "debug": true,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "100",
                                    "hideDuration": "3000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "3000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });
                            }, error: function (ex) {
                                GetErrorVerifikasi("VerifikasiNotifyApprove", JSON.stringify(ex));
                            }
                        });
                    }
                }
            });
        });

        $('#deviationdatatable tbody').on('click', 'input[id="btnShowBukti"]', function () {
            var row = this.closest("TR");
            var ReqID = @ViewBag.nomor;
            var picnik = $("TD", row).eq(2).html();
            var seq = $("TD", row).eq(0).html();

            var dto = {
                REQID: ReqID,
                IDUSER: picnik,
                NO_DISPOSISI: seq
            }


            $.ajax({
                url: "../QualityManager/QM_ShowBuktiTable",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    if (Count == '0') {
                        trHTML +=
                            '<tr><td> - </td>' +
                            '<td> - </td>' +
                            '<td> - </td>';

                    } else {
                        for (trav = 0; trav < Count; trav++) {
                            var no = 1;
                            no = no + trav;
                            trHTML +=
                                '<tr><td>' + no + '</td>' +
                                '<td>' + data[trav].PIC_ID + '</td>' +
                            '<td><a href="' + data[trav].PATH_FILE + '" download="' + data[trav].FILE_NAME_UPLOAD + '">' + data[trav].FILE_NAME_UPLOAD + '</a></td>';
                        }
                    }

                    $('#buktidatatable').DataTable().clear().destroy();

                    $('#buktitable').empty();
                    $('#buktitable').append(trHTML);
                    $('#buktidatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });

                    $("#tabel2").removeAttr("hidden");
                }
                , error: function (ex) {
                    GetErrorVerifikasi("Koor:Coor_ShowBuktiTable", JSON.stringify(ex));
                }
            });

        });

        CheckFormStatus();
        GetUsulanTindakan();
        LoadStatus();

        $("#btnCancel").click(function () {
			Cancel();
        });

        $("#btnCancelPerubahan").click(function () {

            Swal.fire({
                title: 'Apakah anda yakin tidak menyimpan perubahan ini?',
                icon: 'question',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Yes',
                denyButtonText: 'No',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    location.reload();
                }
            });
        });

		$("#btnApprove2").click(function () {
			Approve();
		});

		$("#btnReject").click(function () {
			Reject();
		});

        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });

        $('#btnUpdate').click(function () {
            editMode = true;
            var dev_kategori = $("#ddlKategori").val();

            GetQCMaterialNoOracle();
            SetTableProduk(dev_kategori);

            var x = document.getElementById("btnUpdate");

            if (x.style.display === "none") {
                x.style.display = "inline";
            } else {
                x.style.display = "none";

                document.getElementById("btnSave").style.display = "inline";
                document.getElementById("btnCancelPerubahan").style.display = "inline";
                document.getElementById("btnCancel").style.display = "block";
            }

            $("#txtKetKategori").attr("hidden", false);
            $('#JenisPenyimpanganDetail').show();


            //Empty Dev Kategori Value
            $('#TxtBatchNo').val('');
            $("#TxtNoWO").val('');
            $('#TxtItemCode').val('');
            $('#txtKetKategori').val('');
            $('#TxtQCMaterialNo').val('');


            //Receipt hidden or show
            if (dev_kategori == 'QPR') {
                $("#divreceipt").attr("hidden", true);
            } else {
                if (dev_kategori == 'QMT') {
                    $("#divreceipt").attr("hidden", false);
                } else {
                    $("#divTblDaftarProduk").attr("hidden", true);
                    $("#divreceipt").attr("hidden", true);
                }
            }


        });

    });

    $("#btnSave").click(function () {
        Swal.fire({
            title: 'Apakah anda yakin untuk menyimpan perubahan ini?',
            icon: 'question',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Yes',
            denyButtonText: 'No',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                UpdateMultipleProduk();
                location.reload();
            }
        });

    });


	function GetUsulanTindakan() {
		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID
		};

		$.ajax({
			url: "../QualityManager/QM_GetUsulanTindakan",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				document.getElementById('usulantindakan').value = data[0].USULAN_REMIDIAL;
                $('textarea').each(function () {
                    this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });
			}, error: function (ex) {
                GetErrorVerifikasi("QM_GetUsulanTindakan", JSON.stringify(ex));
			}
		});

	}

    function LoadStatus() {

		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID
		};

		$.ajax({
			url: "../Koordinator/Koor_LoadVerifStatus",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data == 'VERIFIED') {
                    LoadDataVerifikasiTindakan();
					$("#koorsubmission").removeAttr("hidden");
				} else {
                    LoadDataVerifikasiTindakan();
					$("#koorsubmission").attr("hidden", true);
				}

			}, error: function (ex) {
                GetErrorVerifikasi("LoadStatusVerifikasi", JSON.stringify(ex));
			}
		});

	}

	function LoadDataVerifikasiTindakan() {
        console.log("TABEL KE RELOAD");
		var nomor = @ViewBag.nomor;
		var dto = {
			REQID: nomor
		}

		$.when(
			$.ajax({
				url: "../Koordinator/Coor_LoadPICData",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data);
					var checkVerify = 0;
					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {
						var counter = 1;
						counter += trav;
                        trHTML +=
                            '<tr><td align="center">' + counter + '</td>' +
                            '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                            '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                            '<td>' + data[trav].HASIL_TINDAKAN + '</td>' +

                            '<td align="right">' + data[trav].TESTING_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].TESTING_DURASI_PENGERJAAN + '</td>' +
                            '<td align="right">' + data[trav].TESTING_MANHOURS + '</td>' +
                            //'<td>' + data[trav].TESTING_DURASI_PENGERJAAN * data[trav].TESTING_JUMLAH_PELAKSANA  + '</td>' +
                            '<td align="right">' + data[trav].TESTING_MANHOURS_VALUE + '</td>' +
                            '<td align="right">' + data[trav].TESTING_COST_OF_ANALYSIS + '</td>' +

                            '<td align="right">' + data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].PROC_DURASI_PENGERJAAN + '</td>' +
                            //'<td>' + data[trav].PROC_DURASI_PENGERJAAN * data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].PROC_MANHOURS + '</td>' +
                            '<td align="right">' + data[trav].PROC_MANHOURS_VALUE + '</td>' +

                            '<td align="right">' + data[trav].REJ_MATERIAL + '</td>' +
                            '<td align="right">' + data[trav].REJ_QUANTITY + '</td>' +
                            '<td align="right">' + data[trav].REJ_COST_MATERIAL + '</td>' +

                            '<td align="right">' + data[trav].MC_JUMLAH_TEKNISI + '</td>' +
                            '<td align="right">' + data[trav].MC_DURASI_PENGERJAAN + '</td>' +
                            '<td align="right">' + data[trav].MC_MANHOURS + '</td>' +
                            '<td align="right">' + data[trav].MC_MANHOURS_VALUE + '</td>' +
                            '<td>' + data[trav].MC_SPAREPART + '</td>' +
                            '<td align="right">' + data[trav].MC_TOTAL_HARGA_SPAREPART + '</td>' +
                            '<td hidden="hidden">' + data[trav].PIC_REMEDIAL_NIK + '</td>';
                        if (data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC') {
                            trHTML += '<td align="left">' + 'REMEDIAL ACCEPTED BY SUPERIOR PIC' + '</td>'
                        }
                        else if (data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY SPV PIC') {
                            trHTML += '<td align="left">' + 'REMEDIAL REJECTED BY SUPERIOR PIC' + '</td>'
                        }
                        else if (data[trav].FLAG_PIC == 'PROPOSAL REJECTED BY SPV PIC') {
                            trHTML += '<td align="left">' + 'PROPOSAL REJECTED BY SUPERIOR PIC' + '</td>'
                        }
                        else {
                            trHTML += '<td align="left">' + data[trav].FLAG_PIC + '</td>'
                        }

                        @*data[trav].FLAG_PIC == 'REJECTED' ||*@
						if (data[trav].FLAG_PIC == null || data[trav].FLAG_PIC == 'ASSIGNED') {
							trHTML +=
								'<td align="center"> - </td>';

                        } else {
                            //<span class="fa fa-info"></i>
                            trHTML +=
                                '<td align="center"><input type="button" id="btnShowBukti" class="btn btn-info" style="font-weight: bold; font-size:15px" value="i"></td > ';
						}
						// || data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY DIV HEAD'
						//if ((data[trav].FLAG_VERIFIKASI == '-' && data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC') ||
      //                      (data[trav].FLAG_VERIFIKASI == 'REJECTED' && data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC')) {
                        if (data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC' || data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY DIV HEAD') {
							trHTML +=
								'<td align="center">' +
								'<input type="button" style="width:50px" id = "btnVerifikasi" class="btn btn-success" value="Verifikasi"/>' +
								'<input type="button" style="width:50px" id = "btnRejectVerifikasi" class="btn btn-danger" value="Reject"/>' +
								'</td > ';
							//15 Nov 21, tampilkan cap verified
                        } else if ((data[trav].FLAG_VERIFIKASI == 'VERIFIED' && data[trav].FLAG_PIC == 'REMEDIAL APPROVED BY COORDINATOR'))
						{
                            trHTML += '<td align="center"><img src="../Content/Pict/verified4.png" /></td>';
						} else {
                            trHTML += '<td align="center"> N/A </td>';
						}

                        if (data[trav].FLAG_VERIFIKASI == 'VERIFIED') {
							checkVerify = checkVerify + 1;
						}
					}

					$('#deviationdatatable').DataTable().clear().destroy();
					$('#deviationtable').empty();
					$('#deviationtable').append(trHTML);
					$('#deviationdatatable').DataTable({
						"searching": false,
						"paging": false,
						"info": false,
						"ordering": false
					});

					if (checkVerify > 0) {
                        $('#headVerify').focus();
					}

                    @*Verifikasi();
                    RejectVerifikasi();
					ShowBukti();*@
				},
				error: function (ex) {
                    GetErrorVerifikasi("LoadDataVerifikasi", JSON.stringify(ex));
				}
			})
		).done(
			$.ajax({
				url: "../Koordinator/Coor_LoadPICDataFooter",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {

					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {

                        trHTML +=
                            '<tr>' +
                            '<th colspan="4" rowspan="2" style= "text-align: right;  background-color: #f3f3f3;vertical-align:middle;"> Total</th >' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Testing Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Testing Manhours Cost</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Analysis Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Processing Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Processing Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Rejected Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Machine Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Machine Manhours Cost</th>' +
                            '<th colspan="2" style="text-align: right; background-color: #f3f3f3">Total Machine Cost</th>' +
                            '</tr >' +

                            '<tr>' +
                            '<td colspan = "3" align = "right" style = "padding:10px 8px" > ' + data[0].TOTAL_TESTING_MANHOURS + '</td > '
                            +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_MANHOURS_COST + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_COA + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_PROC_MAHOURS + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_PROC_COST + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_REJ_COST + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_MC_MANHOURS + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_MANHOURS_COST + '</td>' +
                            '<td align="right" colspan="2" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_HARGA_SPAREPART + '</td></tr>' +


                            '<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Times (Total Testing Manhours + Total Processing Manhours + Total Machine Manhours)</th>' +
                            '<td colspan="3" align="right" style="padding:10px 8px">' + data[trav].TOTAL_TIMES + '</td></tr>' +

                            '<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Cost (Total Testing Cost + Total Processing Cost + Total Reject Cost + Total Machine Cost)</th>' +
                            '<td colspan="3" align="right" style="padding:10px 8px"> Rp. ' + data[trav].TOTAL_COST + '</td></tr>';
					}

					// NO NEED TO DECLARE DATA TABLE COZ FOOTER IS FOOTER AND THE TABLE IS NOT GONNA CHANGE ANYWAY


                    $('#picfooter').empty();
					$('#picfooter').append(trHTML);
				},
				error: function (ex) {
                    GetErrorVerifikasi("FooterVerifikasi", JSON.stringify(ex));
				}
			})
		);



		// GET EVALUASI RESIKO
		$.ajax({
			url: "../Koordinator/LoadEvaluasiResiko",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				$("input[name=radbut][value=" + data[0].EVALUASI_RESIKO + "]").prop('checked', true);
			},
			error: function (ex) {
                GetErrorVerifikasi("LoadEvaluasiResikoVerifikasi", JSON.stringify(ex));
			}
		});
	};

    function CheckFormStatus() {
		var REQID = @ViewBag.nomor;

		var dto = {
			REQID: REQID

		};

		$.ajax({
			url: "../Koordinator/Coor_CheckFormStatus",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

			}, error: function (ex) {
                GetErrorVerifikasi("Coor_CheckFormStatus", JSON.stringify(ex));
			}
		});
	}

	@*function Cancel() {
		Swal.fire({
			title: 'Cancel Reason ...',
			input: 'text',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

				function CancelUpdate() {
                    var dto = {
                        REQID: REQID,
                        KETERANGAN: Keterangan,
                        IDUSER: iduser
                    };

                    $.ajax({
                        url: "../Koordinator/Coor_KoorCancel",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            Swal.fire({
                                title: 'Form Canceled',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2000
                            }).then(() => {
                                window.location.href = "../DataDeviasi/PendingTask"
                            });


                        }
                        , error: function (ex) {
                            GetErrorVerifikasi("Coor_KoorCancel", JSON.stringify(ex));
                        }
                    });
				}

				function NotifyVerifikasiKoor() {
                    var tabletype = "One";
                    var whoreceiver = "Canceled";

                    var dtx = {
                        Receiver: iduser,
                        ReqID: REQID,

                        TableType: tabletype,
                        WhoReceiver: whoreceiver
                    };

                    $.ajax({
                        type: "post",
                        url: '../Form/SendEmailInputProposal',
                        data: JSON.stringify(dtx),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
							toastr.success("Email Sent Successfully !", "Notification", {
								"closeButton": false,
								"debug": true,
								"newestOnTop": false,
								"progressBar": false,
								"positionClass": "toast-bottom-right",
								"preventDuplicates": false,
								"onclick": null,
								"showDuration": "100",
								"hideDuration": "1000",
								"timeOut": "2000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							});
                        }, error: function (ex) {
                            GetErrorVerifikasi("Koor:NotifyCancel", JSON.stringify(ex));
                        }
                    });
				}
                $.when(CancelUpdate()).done(NotifyVerifikasiKoor());
			}
		});
	}*@

    function Cancel() {
		Swal.fire({
            icon: 'question',
            title: 'Mohon masukan alasan untuk membatalkan penyimpangan ini!',
			input: 'textarea',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				//Swal.fire({
				//	icon: 'error',
				//	title: 'Oops...',
    //                text: 'Alasan untuk membatalkan penyimpangan harus diisi !'
				//});
                let timerInterval
                Swal.fire({


                    timer: 1600,
                    timerProgressBar: true,
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Alasan untuk membatalkan penyimpangan harus diisi !',
                    didOpen: () => {
                        Swal.showLoading()
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        console.log('I was closed by the timer')
                    }
                });
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';


                function NotifyHedKor() {
                    var tabletype = "More Than One";
                    var whoreceiver = "Canceled";

                    var dtx = {
                        Username: iduser,
                        ReqID: REQID,

                        TableType: tabletype,
                        WhoReceiver: whoreceiver
                    };

                    $.ajax({
                        type: "post",
                        url: '../Form/SendEmailInputProposal',
                        data: JSON.stringify(dtx),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            toastr.success("Email Sent Successfully !", "Notification", {
                                "closeButton": false,
                                "debug": true,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "1000",
                                "timeOut": "2000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            });
                        }, error: function (ex) {
                            GetErrorHeader("HedKorSendEmailInputProposal", JSON.stringify(ex));
                        }
                    });
				}

				function CanceKor() {
                    var dto = {
                        REQID: REQID,
                        KETERANGAN: Keterangan,
                        IDUSER: iduser
                    };

                    $.ajax({
                        url: "../Koordinator/Coor_KoorCancel",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            Swal.fire({
                                icon: 'success',
                                title: 'Form Cancelled',
                                showConfirmButton: false,
                                timer: 2000
							}).then(() => {
                                $.when(NotifyHedKor()).done(window.location.href = "../DataDeviasi/PendingTask");
                            })
                        }
                        , error: function (ex) {
                            GetErrorHeader("HedKorCoor_KoorCancel", JSON.stringify(ex));
                        }
                    });
				}

				CanceKor();
			}
		});
	}

	function Approve() {
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

        var itdp = $("#ITDP").val().replaceAll(',', '');
        var itjp = $("#ITJP").val().replaceAll(',', '');
        var mtdp = $("#MTDP").val().replaceAll(',', '');
        var mtjp = $("#MTJP").val().replaceAll(',', '');

		//if (itdp == '' || itjp == '' || mtdp == '' || mtjp == '') {
  //          Swal.fire({
  //              icon: 'error',
  //              title: 'Oops...',
  //              text: 'Investigation Time atau Meeting Time tidak boleh kosong !',
  //          })
  //          return;
		//}

		function ApproveUpdate() {
            var dto = {
                REQID: REQID,
                IDUSER: iduser,
                ITDP: itdp,
                ITJP: itjp,
                MTDP: mtdp,
                MTJP: mtjp
            };

            $.ajax({
                url: "../Koordinator/Coor_ApprovePIC",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    Swal.fire({
                        title: 'Form Approved',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        window.location.href = "../DataDeviasi/PendingTask"
                    });

                }
                , error: function (ex) {
                    GetErrorVerifikasi("VerifikasiCoor_ApprovePIC", JSON.stringify(ex));
                }
            });
		}

		function NotifyApproveVerify() {
            var tabletype = "More Than One";
            var whoreceiver = "QM after Koordinator Verifikasi OK";
            var dtx = {
                Username: iduser,
                ReqID: REQID,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dtx),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorVerifikasi("VerifikasiNotifyApprove", JSON.stringify(ex));
                }
            });
        }

        $.when(ApproveUpdate()).done(NotifyApproveVerify());
	}

	function Reject() {

		Swal.fire({
			title: 'Masukkan Alasan Reject!',
			input: 'textarea',
			inputAttributes: {
				autocapitalize: 'off'
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,

			allowOutsideClick: () => Swal.isLoading()
		}).then((result) => {

			if (result.value == null || result.value == '') {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please Insert Reason!'
				});
			} else if (result.isConfirmed) {

				var REQID = @ViewBag.nomor;
				var Keterangan = result.value;
				var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

				function RejectUpdate(){
                    var dto = {
                        REQID: REQID,
                        KETERANGAN: Keterangan,
                        IDUSER: iduser
                    };

                    $.ajax({
                        url: "../Koordinator/Coor_Reject",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            Swal.fire({
                                title: 'Form Rejected',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2000
                            }).then(() => {
                                window.location.href = "../DataDeviasi/PendingTask"
                            });

                        }
                        , error: function (ex) {
                            GetErrorVerifikasi("Coor_Reject", JSON.stringify(ex));
                        }
                    });
				}

				function NotifyRejectVerify() {
                    var tabletype = "More Than One";
                    var whoreceiver = "QM after Koordinator Verifikasi Not OK";

                    var dtx = {
                        Receiver: iduser,
                        ReqID: REQID,
                        TableType: tabletype,
                        WhoReceiver: whoreceiver
                    };

                    $.ajax({
                        type: "post",
                        url: '../Form/SendEmailInputProposal',
                        data: JSON.stringify(dtx),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            toastr.success("Email Sent Successfully !", "Notification", {
                                "closeButton": false,
                                "debug": true,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "100",
                                "hideDuration": "1000",
                                "timeOut": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            });
                        }, error: function (ex) {
                            GetErrorVerifikasi("RejectNotifyVerifKor", JSON.stringify(ex));
                        }
                    });
				}

                $.when(RejectUpdate()).done(NotifyRejectVerify());
			}

		});
	}

	function GetErrorVerifikasi(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
    }

    function UpdateMultipleProduk() {
        var ReqID = $('#lblReq').text();
        var dto = {
            ReqID,
            ListProduk: listProduk
        }

        $.ajax({
            url: "../Form/UpdateMultipleProduk",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
            }
            , error: function (ex) {
                GetErrorInput("UpdateMultipleProduk", JSON.stringify(ex));
            }
        });
    }

</script>