
@{
	ViewBag.Title = "ReviewerHeader";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
	<div class="form-group">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="form-group">
								<h4 class="d-inline">Laporan Penyimpangan / Potensi Penyimpangan (Reviewer)</h4>
							</div>

							<div class="form-group row">
								<div class="col-md-8">
									<div class="form-group">
										<button type="button" id="btnSubmit" class="col-sm-2 btn mb-1 btn-success form-control ">
											Submit
											<span class="fa fa-check-square-o"></span>
										</button>
									</div>
                                    <div class="form-group">
                                        <label for="txtReason" class="form-text">Review: <span style="color:red;">*</span></label>
                                        <textarea id="txtReason" class="form-control" style="background-color:lightyellow;"></textarea>
                                    </div>
									<div class="form-group">
										<label class="form-text">Supporting File: <span style="color:red">*</span></label>
										@using (Html.BeginForm("Index", "Reviewer", FormMethod.Post, new { enctype = "multipart/form-data" }))
										{
											<input type="file" name="NamaFileUpload" id="idFileUploadAttach" style="padding-top:10px;" />
											<button type="button" id="btnUploadAttachment" class="col-sm-2 btn mb-1 btn-success ">Upload</button>
										}

									</div>
									<div class="form-group">

										<div class="table-responsive">
											<table id="tbl_AttachmentReviewer" class="table header-border">
												<thead>
													<tr>
														<th>
															<b>No</b>
														</th>
														<th>
															<b>File Name</b>
														</th>
														<th>
															<b>Action</b>
														</th>
													</tr>
												</thead>
												<tbody id="tbody_AttachmentReviewer"></tbody>
											</table>
										</div>

									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Nama</label>
										<input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value='@Request.RequestContext.HttpContext.Session["fullname"]'>
									</div>
									
									
									<div class="form-group">
										<label for="txtTanggal">Tanggal:</label>
										<input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")"/> 
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">
		@Html.Partial("../SpvPelapor/Approval")
	</div>

</div>

<script>

	var CheckDelete = 0;

	$(document).ready(function () {
		$(window).bind('beforeunload', function () {
			if (CheckDelete = 0) {
				BeforeUnload();
			}

			return '';
		});
	});


	$(document).ready(function () {

		$("#btnSubmit").click(function () {

			if ($("#txtReason").val() == '' || $("#txtReason").val() == null) {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Kolom Reviewer tidak boleh kosong !',
				});
				return;
			} else {
				Submit();
			}

		});

		$("#btnUploadAttachment").click(function () {
			UploadAttachmentDeviation();
		});

	});

	$(document).ready(function () {
		LoadDataReview();
	});

	function BeforeUnload() {
		var reqid = $("#lblReq").text();
		var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			LOGIN_USER: iduser,
			REQID: reqid
		};

		$.ajax({
			url: "../Reviewer/Reviewer_DeletePath",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                GetErrorReview("BeforeUnloadDeletePath", JSON.stringify(ex));
			}
		});

		$.ajax({
			url: "../Reviewer/Reviewer_DeleteFile",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
			}
			, error: function (ex) {
                GetErrorReview("BeforeUnloadDeleteFile", JSON.stringify(ex));
			}
		});

	}

	function Submit() {
		var REQID = @ViewBag.nomor;
		var iduser = '@Request.RequestContext.HttpContext.Session["nik"]';
		var receiver = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var keterangan = $("#txtReason").val();

		function SubmitF() {
            var dto = {

                REQID: REQID,
                KETERANGAN: keterangan,
                IDUSER: iduser
            };

            $.ajax({
                url: "../Reviewer/Rev_Submit",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Review Submitted',
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        CheckDelete = 1;
                        window.location.href = "../DataDeviasi/PendingTask"
                    })

                }
                , error: function (ex) {
                    GetErrorReview("Rev_Submit", JSON.stringify(ex));
                }
            });
		}
		

		function EmailSubmitReview() {
            var tabletype = "More Than One";
            var whoreceiver = "Koordinator after Reviewer Submit";

            var dtx = {
                Receiver: receiver,
                ReqID: REQID,
                TableType: tabletype,
                WhoReceiver: whoreceiver
            };

            $.ajax({
                type: "post",
                url: '../Form/SendEmailInputProposal',
                data: JSON.stringify(dtx),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    toastr.success("Email Sent Successfully !", "Notification", {
                        "closeButton": false,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                }, error: function (ex) {
                    GetErrorReview("EmailReviewSubmit", JSON.stringify(ex));
                }
            });
		}

        $.when(SubmitF()).done(EmailSubmitReview());
	}

	function UploadAttachmentDeviation() {
		var formData = new FormData();
		var REQID = @ViewBag.nomor;
		var totalFiles = document.getElementById("idFileUploadAttach").files.length;
		var usernik = '@Request.RequestContext.HttpContext.Session["xUser"]';

		for (var i = 0; i < totalFiles; i++) {
			var file = document.getElementById("idFileUploadAttach").files[i];
			formData.append("idFileUploadAttach", file);
			formData.append("ReqID", REQID);
			formData.append("UserNIK", usernik);
		}

		if (file.name != null || file.name != "") {
			$.ajax({
				type: "POST",
				url: "../Reviewer/Rev_UploadAttachment",
				data: formData,
				dataType: "json",
				contentType: false,
				processData: false,
				JsonRequestBehavior: true,
				success: function (data) {
					formData.append("ReqID", REQID);
					if (data == 'S') {

						toastr.success("File Attachment " + file.name + " Berhasil diupload", "Berhasil", {
							"closeButton": false,
							"debug": false,
							"newestOnTop": false,
							"progressBar": false,
							"positionClass": "toast-top-right",
							"preventDuplicates": false,
							"onclick": null,
							"showDuration": "100",
							"hideDuration": "1000",
							"timeOut": "1000",
							"extendedTimeOut": "1000",
							"showEasing": "swing",
							"hideEasing": "linear",
							"showMethod": "fadeIn",
							"hideMethod": "fadeOut"
						});

                        $('#idFileUploadAttach').val('');
						GetFileAttachmentReviewer();
					}
				}
				, error: function (ex) {
                    GetErrorReview("UploadAttachmentDeviationReview", JSON.stringify(ex));
				}
			});
		}
	}

	function GetFileAttachmentReviewer() {

		var ReqID = @ViewBag.nomor;
		var usernik = '@Request.RequestContext.HttpContext.Session["xUser"]';
		var dto = {
			ReqID: ReqID,
			USERNIK: usernik
		}

		$.ajax({
			type: "POST",
			url: "../Reviewer/Rev_LoadAttachment",
			data: JSON.stringify(dto),
			dataType: "json",
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				if (data != '') {
					var trHTML = '';
					var trav = 0;
					var Count = data.length;

					if (Count > 0) {
						for (trav = 0; trav < Count; trav++) {
							var no = 1
							no = no + trav
							trHTML += '<tr><td>' + no + '</td>' +
								'<td style="display:none">' + data[trav].REQ_ID + '</td>' +
								'<td style="display:none">' + data[trav].NO_FILE + '</td>' +
								'<td>' + data[trav].FILE_NAME_UPLOAD + '</td>' +
								'<td style="display:none;">' + data[trav].PATH_FILE + '</td>' +
								'<td><button onclick = "DeleteFileAttachment(this)"  class="btn btn-danger" title="Delete" ><span class="fa fa-trash-o"><strong></strong></span></button></td></tr>';
						}

						$("#tbl_AttachmentReviewer").show();
						$("#tbody_AttachmentReviewer").empty();
						$("#tbody_AttachmentReviewer").append(trHTML);
						$("#tbody_AttachmentReviewer").addBack();

                        $('textarea').each(function () {
                            this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                        }).on('input', function () {
                            this.style.height = 'auto';
                            this.style.height = (this.scrollHeight) + 'px';
                        });

					} else {
						$("#tbl_AttachmentReviewer").hide();
					}
				} else {
					$("#tbl_AttachmentReviewer").hide();
				}
			},
			error: function (ex) {
                GetErrorReview("Rev_LoadAttachment", JSON.stringify(ex));
			}
		});
	}

	function DeleteFileAttachment(button) {
		var Row = $(button).closest("TR");
		var ReqID = $("TD", Row).eq(1).html();
		var RecordID = $("TD", Row).eq(2).html();
		var FileName = $("TD", Row).eq(3).html();
		var PathFile = $("TD", Row).eq(4).html();

		var usernik = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			ReqID: ReqID,
			RecordID: RecordID,
			PathFile: PathFile,
			USERNIK: usernik
		}

		$.ajax({
			url: "../Reviewer/Rev_DeleteAttachment",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {

				if (data == 'S') {
					toastr.success("File Attachment " + FileName + " Berhasil dihapus", "Berhasil", {
						"closeButton": false,
						"debug": false,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "100",
						"hideDuration": "1000",
						"timeOut": "1000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
					});
					GetFileAttachmentReviewer();
				}
			},
			error: function (ex) {
                GetErrorReview("DeleteFileAttachmentReview", JSON.stringify(ex));
			}
		});
	}

	function s() {
		return false;
	}

	function LoadDataReview() {
		var ReqID = @ViewBag.nomor;
		var XUser = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			ReqID: ReqID,
            IDUSER: XUser
		}

        $.ajax({
            url: "../Reviewer/LoadDataReviewer",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
			success: function (data) {
				$('#txtReason').val(data[0].KETERANGAN_REVIEW);
				GetFileAttachmentReviewer();
                $('textarea').each(function () {
                    //this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;width:500px;overflow-y:hidden;');
                    this.setAttribute('style', 'height: ' + (this.scrollHeight) + 'px;overflow-y:hidden;');
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });
            }
            , error: function (ex) {
                GetErrorReview("LoadDataReview", JSON.stringify(ex));
            }
        });
	}

	function GetErrorReview(ErrorType, ErrorMsg) {
		var REQID = @ViewBag.nomor;
		var USERNIK = '@Request.RequestContext.HttpContext.Session["xUser"]';

		var dto = {
			REQ_ID: REQID,
			UserLogin: USERNIK,
            ErrorType: ErrorType,
            ErrorMsg: ErrorMsg
		}

		$.ajax({
			url: "../Form/LogError",
			type: "post",
			dataType: "json",
			data: JSON.stringify(dto),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
                toastr.warning(data +" Assign ! ", "Notification", {
                    "closeButton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                });
			}
			, error: function (ex) {

			}
		});
	}
</script>
